<section class="col-12 col-md-9">
<h1 class="h1 clr-blue">Annual Reports</h1>
<hr class="margin-40" />
<p>Pursuant to KRS 154.12-2035, the Cabinet for Economic Development (CED) must file a single annual report of program activity to the Legislative Research Commission and to the Governor by November 1st of each fiscal year. These annual reports, a list of economic development projects approved and all active economic development projects are available as follows:</p>
<p>&nbsp;</p>
<div class="annualReports">
<h4 class="h4">Office of Entrepreneurship</h4>
<ul>
	<li><a href="https://cedky.com/cdn/141_KY_Innovation_Annual_Report_2021_v7.pdf" target="_blank">2021 Annual Report</a></li> 
	<li><a class="noCache" href="//ced.ky.gov/kyedc/pdfs/Annual_Reports/2020_OOE_Annual_Report.pdf?7" target="_blank" rel="noopener">2020 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2019_OOE_Annual_Report.pdf?7" target="_blank" rel="noopener">2019 Annual Report</a></li>
	<li><a class="noCache" href="http://cedky.ced.ky.gov/kyedc/pdfs/Annual_Reports/2018_OOE_Annual_Report.pdf?7" target="_blank" rel="noopener">2018 Annual Report</a></li>
	<li><a class="noCache" href="http://cedky.ced.ky.gov/kyedc/pdfs/Annual_Reports/2018_OOE_KY_New_Energy_Venture_Fund.pdf?7" target="_blank" rel="noopener">2018 New Energy Venture Fund</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2017_OOE_Annual_Report.pdf?7" target="_blank" rel="noopener">2017 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2017_OOE_KY_New_Energy_Venture_Fund.pdf?7" target="_blank" rel="noopener">2017 New Energy Venture Fund</a></li>
</ul>
</div>
<div class="annualReports">
<h4 class="h4">Bluegrass State Skills Corporation (BSSC)</h4>
<ul>
	<li><a href="https://cedky.com/cdn/141_4_-_BSSC_Annual_Report_2021.pdf" target="_blank">2021 Annual Report</a></li> 
	<li><a class="noCache" href="//ced.ky.gov/kyedc/pdfs/Annual_Reports/2020_BSSC_Annual_Report_v13.pdf?7" target="_blank" rel="noopener">2020 Annual Report</a></li>
	<li><a class="noCache" href="//ced.ky.gov/kyedc/pdfs/Annual_Reports/2019_BSSC_Annual_Report.pdf?7" target="_blank" rel="noopener">2019 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2018_BSSC_Annual_Report.pdf?7" target="_blank" rel="noopener">2018 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2017_BSSC_Annual_Report.pdf?7" target="_blank" rel="noopener">2017 Annual Report</a></li>
</ul>
</div>
<div class="annualReports">
<h4 class="h4">BSSC Audited Financial Statements</h4>
<ul>
	<li><a class="noCache" href="//ced.ky.gov/kyedc/pdfs/Annual_Reports/2020_BSSC_Audited_Financial_Statement.pdf?7" target="_blank" rel="noopener">2020 BSSC Audited Financial Statement</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2019_BSSC_Audited_Financial_Statement.pdf?7" target="_blank" rel="noopener">2019 BSSC Audited Financial Statement</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2018_BSSC_Audited_Financial_Statement.pdf?7" target="_blank" rel="noopener">2018 BSSC Audited Financial Statement</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2017_BSSC_Audited_Financial_Statements.pdf?7" target="_blank" rel="noopener">2017 BSSC Audited Financial Statements</a></li>
</ul>
</div>
<div class="annualReports">
<h4 class="h4">Economic Development Bond (EDB/EDF)</h4>
<ul>

	<li><a class="noCache" href="https://cedky.com/cdn/141_5_-_2021_EDF_Annual_Report.pdf" target="_blank">2021 Annual Report</li> 
	<li><a class="noCache" href="//ced.ky.gov/kyedc/pdfs/Annual_Reports/2020_EDB_Annual_Report.pdf?7" target="_blank" rel="noopener">2020 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2019_EDB_Annual_Report.pdf?7" target="_blank" rel="noopener">2019 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2018_EDB_Annual_Report.pdf?7" target="_blank" rel="noopener">2018 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2017_EDB_Annual_Report.pdf?7" target="_blank" rel="noopener">2017 Annual Report</a></li>
</ul>
</div>
<div class="annualReports">
<h4 class="h4">Kentucky Investment Fund Act (KIFA)</h4>
<ul>
	<li><a class="noCache" href="https://cedky.com/cdn/141_6_-_2021_KIFA_Annual_Report.pdf" target="_blank">2021 Annual Report</li> 
	<li><a class="noCache" href="//ced.ky.gov/kyedc/pdfs/Annual_Reports/2020_KIFA_Annual_Report.pdf?7" target="_blank" rel="noopener">2020 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2019_KIFA_Annual_Report.pdf?7" target="_blank" rel="noopener">2019 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2018_KIFA_Annual_Report.pdf?7" target="_blank" rel="noopener">2018 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2017_KIFA_Annual_Report.pdf?7" target="_blank" rel="noopener">2017 Annual Report</a></li>
</ul>
</div>
<div class="annualReports">
<h4 class="h4">Kentucky Enterprise Initiative Act (KEIA)</h4>
<ul>
	<li><a class="noCache" href="https://cedky.com/cdn/141_7_-_2021_KEIA_Annual_Report.pdf" target="_blank">2021 Annual Report</li> 
	<li><a class="noCache" href="//ced.ky.gov/kyedc/pdfs/Annual_Reports/2020_KEIA_Annual_Report.pdf?7" target="_blank" rel="noopener">2020 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2019_KEIA_Annual_Report.pdf?7" target="_blank" rel="noopener">2019 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2018_KEIA_Annual_Report.pdf?7" target="_blank" rel="noopener">2018 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2017_KEIA_Annual_Report.pdf?7" target="_blank" rel="noopener">2017 Annual Report</a></li>
</ul>
</div>
<div class="annualReports">
<h4 class="h4">KEDFA Audited Financial Statements</h4>
<ul>
	<li><a class="noCache" href="//ced.ky.gov/kyedc/pdfs/Annual_Reports/2020_KEDFA_Audited_Financial_Statements.pdf?7" target="_blank" rel="noopener">2020 KEDFA Audited Financial Statements</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2019_KEDFA_Audited_Financial_Statements.pdf?7" target="_blank" rel="noopener">2019 KEDFA Audited Financial Statements</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2018_KEDFA_Audited_Financial_Statements.pdf?7" target="_blank" rel="noopener">2018 KEDFA Audited Financial Statements</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2017_KEDFA_Audited_Financial_Statements.pdf?7" target="_blank" rel="noopener">2017 KEDFA Audited Financial Statements</a></li>
</ul>
</div>
<div class="annualReports">
<h4 class="h4">Incentives for Energy Independence Act (IEIA)</h4>
<ul>
	<li><a class="noCache" href="https://cedky.com/cdn/141_8_-_2021_IEIA_Annual_Report.pdf" target="_blank">2021 Annual Report</li> 
	<li><a class="noCache" href="//ced.ky.gov/kyedc/pdfs/Annual_Reports/2020_IEIA_Annual_Report.pdf?7" target="_blank" rel="noopener">2020 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2019_IEIA_Annual_Report.pdf?7" target="_blank" rel="noopener">2019 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2018_IEIA_Annual_Report.pdf?7" target="_blank" rel="noopener">2018 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2017_IEIA_Annual_Report.pdf?7" target="_blank" rel="noopener">2017 Annual Report</a></li>
</ul>
</div>
<div class="annualReports">
<h4 class="h4">Agricultural Warehousing Sites Cleanup</h4>
<ul>
	<li><a class="noCache" href="//ced.ky.gov/kyedc/pdfs/Annual_Reports/2018_Ag_Warehousing_Site_Clean_Up_Annual_Report.pdf?7" target="_blank" rel="noopener">2018 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2017_Ag_Warehousing_Site_Clean_Up_Annual_Report.pdf?7" target="_blank" rel="noopener">2017 Annual Report</a></li>
</ul>
</div>
<div class="annualReports">
<h4 class="h4">CED Projects Approved</h4>
<ul>
	<li><a class="noCache" href="https://cedky.com/cdn/141_10_-_FI_search_results_Approved_Projects_FY21.pdf" target="_blank">2021 Annual Report</li> 
	<li><a class="noCache" href="//ced.ky.gov/kyedc/pdfs/Annual_Reports/2020_CED_Approved_Projects.pdf?7" target="_blank" rel="noopener">2020 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2019_KEDFA_Approved_Annual_Report.pdf?7" target="_blank" rel="noopener">2019 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2018_CED_Approved_Projects.pdf?7" target="_blank" rel="noopener">2018 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2017_CED_Approved_Projects.pdf?7" target="_blank" rel="noopener">2017 Annual Report</a></li>
</ul>
</div>
<div class="annualReports">
<h4 class="h4">CED Active Projects</h4>
<ul>
	<li><a class="noCache" href="https://cedky.com/cdn/141_9_-_FI_search_results_Active_FY21.pdf" target="_blank">2021 Annual Report</li> 
	<li><a class="noCache" href="//ced.ky.gov/kyedc/pdfs/Annual_Reports/2020_CED_Active_Projects.pdf?7" target="_blank" rel="noopener">2020 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2019_KEDFA_Active_Annual_Report.pdf?7" target="_blank" rel="noopener">2019 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2018_CED_Active_Projects.pdf?7" target="_blank" rel="noopener">2018 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2017_CED_Active_Projects.pdf?7" target="_blank" rel="noopener">2017 Annual Report</a></li>
</ul>
</div>
<div class="annualReports">
<h4 class="h4">Tax Increment Financing (TIF)</h4>
<ul>
	<li><a class="noCache" href="https://cedky.com/cdn/141_11_-_2021_TIF_Annual_Report.pdf" target="_blank">2021 Annual Report</li> 
	<li><a class="noCache" href="//ced.ky.gov/kyedc/pdfs/Annual_Reports/2020_TIF_Annual_Report.pdf?7" target="_blank" rel="noopener">2020 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2019_TIF_Annual_Report.pdf?7" target="_blank" rel="noopener">2019 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2018_TIF_Annual_Report.pdf?7" target="_blank" rel="noopener">2018 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2017_TIF_Annual_Report.pdf?7" target="_blank" rel="noopener">2017 Annual Report</a></li>
</ul>
</div>
<div class="annualReports">
<h4 class="h4">Kentucky Angel Investment Annual Report</h4>
<ul>
	<li><a class="noCache" href="https://cedky.com/cdn/141_12_-_2021_Angel_Annual_Report.pdf" target="_blank">2021 Annual Report</li> 
	<li><a class="noCache" href="//ced.ky.gov/kyedc/pdfs/Annual_Reports/2020_Angel_Investment_Annual_Report.pdf?7" target="_blank" rel="noopener">2020 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2019_KY_Angel_Investment_Annual_Report.pdf?7" target="_blank" rel="noopener">2019 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2018_KY_Angel_Investment_Annual_Report.pdf?7" target="_blank" rel="noopener">2018 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2017_KY_Angel_Investment_Annual_Report.pdf?7" target="_blank" rel="noopener">2017 Annual Report</a></li>
</ul>
</div>
<div class="annualReports">
<h4 class="h4">Kentucky Reinvestment Act (KRA)</h4>
	<ul>
		<li><a class="noCache" href="https://cedky.com/cdn/141_15_-_2021_KRA_Annual_Report.pdf" target="_blank">2021 Annual Report</li> 
	</ul>
</div>

<div class="annualReports">
<h4 class="h4">Kentucky Small Business Credit Initiative (KSBCI)</h4>
<ul>
	<li><a class="noCache" href="https://cedky.com/cdn/141_13_-_2021_KSBCI_Annual_Report.pdf" target="_blank">2021 Annual Report</li> 
	<li><a class="noCache" href="//ced.ky.gov/kyedc/pdfs/Annual_Reports/2020_KSBCI_Annual_Report.pdf?7" target="_blank" rel="noopener">2020 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2019_KSBCI_Annual_Report.pdf?7" target="_blank" rel="noopener">2019 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2018_KSBCI_Annual_Report.pdf?7" target="_blank" rel="noopener">2018 Annual Report</a></li>
	<li><a class="noCache" href="http://ced.ky.gov/kyedc/pdfs/Annual_Reports/2017_KSBCI_Annual_Report.pdf?7" target="_blank" rel="noopener">2017 Annual Report</a></li>
</ul>
</div>
<div class="annualReports">
<h4 class="h4">Rural Hospital Operations and Facilities Program</h4>
<ul>
		<li><a class="noCache" href="https://cedky.com/cdn/141_14_-_2021_Rural_Hospital_Annual_Report.pdf" target="_blank">2021 Annual Report</li> 
		<li><a class="noCache" href="//ced.ky.gov/kyedc/pdfs/Annual_Reports/2020_Rural_Hospital_Annual_Report.pdf?7" target="_blank" rel="noopener">2020 Annual Report</a></li>
</ul>
</div>
<hr />
<p>Please see the searchable database for current information regarding project activity at any time below.</p>
<a class="btn" href="https://ced.ky.gov/FIReports/FIIntro.aspx">Financial Incentives Database</a></section>