<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Articles</title>
         
         <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!-- JQUERY -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    
        <style>
          img.newsReleaseImg {
              max-width: 90%;
              margin: 1em;
              float: left;
              clear: both;
          }
      </style>

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

  <div id="vue-app">
    <content-comp></content-comp>
  </div>

  <img src="http://ced.ky.gov/NewsRoom/PRBodies/20201001_food_bev_growth1.jpg" class="newsReleaseImg" data-caption="This is a caption 1" alt="Andy Beshear" />
  <p>This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. </p>

  <img src="http://ced.ky.gov/NewsRoom/PRBodies/20200701_ky_prime1.jpg" class="newsReleaseImg" data-caption="Caption 2 for those counting" alt="Governor Andy Beshear"/>
  <p>Second Image Post content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. </p>
  <p>This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. </p>
  <p>This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. </p>
  <p>This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. </p>
  <p>This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. This is where content gets pulled in by aspx. </p>
  <img src="http://ced.ky.gov/NewsRoom/PRBodies/20200701_ky_prime2.jpg" class="newsReleaseImg"/>


  <script src="moment.min.js"></script>
  <script src="articles.js"></script>
  <script src="page-article.js"></script>
  



  </body>
</html>
