
<head>
    <meta charset="utf-8">
    <title>
        Electric Vehicle Manufacturing in Kentucky  | Cabinet for Economic Development
    </title>
    <meta name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="apple-touch-icon" href="//ced.ky.gov/Webfiles/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="//ced.ky.gov/Webfiles/favicon.ico">
    <meta property="og:site_name" content="Team Kentucky | Cabinet for Economic Development">
    <meta property="og:title" content="Team Kentucky">
    <script async="" src="//cse.google.com/adsense/search/async-ads.js"></script>
    <script type="text/javascript" async="" src="https://www.googleadservices.com/pagead/conversion_async.js"></script>
    <script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script>
    <script src="https://connect.facebook.net/signals/config/1494034997417289?v=2.9.33&amp;r=stable" async=""></script>
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script type="text/javascript" async="" src="https://snap.licdn.com/li.lms-analytics/insight.min.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-5TPTPVL"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?04022019">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?04022019">

    <!--Bootstrap-->
    <link rel="stylesheet" href="site/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="site/css/site.min.css" />


    <!--Fonts-->
    <script src="https://use.typekit.net/fun2svc.js"></script>
    <style type="text/css">
        .tk-museo-sans {
            font-family: "museo-sans",sans-serif;
        }

        .tk-museo-sans-rounded {
            font-family: "museo-sans-rounded",sans-serif;
        }
    </style>

    <style type="text/css">
        @font-face {
            font-family: tk-museo-sans-n3;
            src: url(https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");
            font-weight: 300;
            font-style: normal;
            font-display: auto;
        }

        @font-face {
            font-family: tk-museo-sans-n5;
            src: url(https://use.typekit.net/af/a28b50/00000000000000000000e803/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/a28b50/00000000000000000000e803/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/a28b50/00000000000000000000e803/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("opentype");
            font-weight: 500;
            font-style: normal;
            font-display: auto;
        }

        @font-face {
            font-family: tk-museo-sans-n7;
            src: url(https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
            font-weight: 700;
            font-style: normal;
            font-display: auto;
        }

        @font-face {
            font-family: tk-museo-sans-rounded-n3;
            src: url(https://use.typekit.net/af/491586/00000000000000003b9b1e2d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/491586/00000000000000003b9b1e2d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/491586/00000000000000003b9b1e2d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");
            font-weight: 300;
            font-style: normal;
            font-display: auto;
        }

        @font-face {
            font-family: tk-museo-sans-rounded-n7;
            src: url(https://use.typekit.net/af/9baf4a/00000000000000003b9b1e2f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/9baf4a/00000000000000003b9b1e2f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/9baf4a/00000000000000003b9b1e2f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
            font-weight: 700;
            font-style: normal;
            font-display: auto;
        }

        @font-face {
            font-family: tk-museo-sans-rounded-n5;
            src: url(https://use.typekit.net/af/a03e49/00000000000000003b9b1e2e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/a03e49/00000000000000003b9b1e2e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/a03e49/00000000000000003b9b1e2e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("opentype");
            font-weight: 500;
            font-style: normal;
            font-display: auto;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script>try { Typekit.load({ async: true }); } catch (e) { }</script>


    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500&amp;display=swap" rel="stylesheet">
 

 


   
    <!-- End Google Tag Manager -->
    <style type="text/css">
        @font-face {
            font-family: museo-sans;
            src: url(https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");
            font-weight: 300;
            font-style: normal;
            font-display: auto;
        }

        @font-face {
            font-family: museo-sans;
            src: url(https://use.typekit.net/af/a28b50/00000000000000000000e803/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/a28b50/00000000000000000000e803/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/a28b50/00000000000000000000e803/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("opentype");
            font-weight: 500;
            font-style: normal;
            font-display: auto;
        }

        @font-face {
            font-family: museo-sans;
            src: url(https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
            font-weight: 700;
            font-style: normal;
            font-display: auto;
        }

        @font-face {
            font-family: museo-sans-rounded;
            src: url(https://use.typekit.net/af/491586/00000000000000003b9b1e2d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/491586/00000000000000003b9b1e2d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/491586/00000000000000003b9b1e2d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");
            font-weight: 300;
            font-style: normal;
            font-display: auto;
        }

        @font-face {
            font-family: museo-sans-rounded;
            src: url(https://use.typekit.net/af/9baf4a/00000000000000003b9b1e2f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/9baf4a/00000000000000003b9b1e2f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/9baf4a/00000000000000003b9b1e2f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
            font-weight: 700;
            font-style: normal;
            font-display: auto;
        }

        @font-face {
            font-family: museo-sans-rounded;
            src: url(https://use.typekit.net/af/a03e49/00000000000000003b9b1e2e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/a03e49/00000000000000003b9b1e2e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/a03e49/00000000000000003b9b1e2e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("opentype");
            font-weight: 500;
            font-style: normal;
            font-display: auto;
        }
    </style>
    <script src="https://www.google.com/cse/static/element/323d4b81541ddb5b/cse_element__en.js?usqp=CAI%3D" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="https://www.google.com/cse/static/element/323d4b81541ddb5b/default+en.css">
    <link type="text/css" rel="stylesheet" href="https://www.google.com/cse/static/style/look/v4/default.css">
    <script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/718092536/?random=1615840057592&amp;cv=9&amp;fst=1615840057592&amp;num=1&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;eid=376635470&amp;u_h=1080&amp;u_w=1920&amp;u_ah=1058&amp;u_aw=1920&amp;u_cd=24&amp;u_his=3&amp;u_tz=-240&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2oa330&amp;sendb=1&amp;ig=1&amp;data=event%3Dgtag.config&amp;frm=0&amp;url=https%3A%2F%2Fced.ky.gov%2F&amp;ref=https%3A%2F%2Fced.ky.gov%2Fworkforce%2Fbssc.aspx&amp;tiba=Team%20Kentucky%20%7C%20Cabinet%20for%20Economic%20Development&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script>

</head>


<body class="home">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5TPTPVL"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="blip"></div>

    <div id="covid-19_banner">
        Visit <a href="//kycovid19.ky.gov" target="_blank"><strong>kycovid19.ky.gov</strong></a> for the latest information on the novel coronavirus in Kentucky.
    </div>

    <div id="searchEngine">
        <div id="seClose">
            <div></div>
            <div></div>
        </div>
        <script async src="https://cse.google.com/cse.js?cx=010336175831918163413:jgf0ftg7id0"></script>
        <div class="gcse-search"></div>
    </div>

    <!--Menu-->
    <div id="menu">
    <nav id="mainNav">
        <ul>

                <li class="topItem hasSub">
                    <a>Locating Expanding</a>
                    <ul class="subMenu">
                        <li class="subItem"><a href="/Locating_Expanding" title="How we help">How We Help</a></li>
                        <li class="subItem"><a href="/Locating_Expanding/Why_Kentucky" title="Why kentucky">Why Kentucky</a></li>
                        <li class="subItem"><a href="/Locating_Expanding/Business_Costs" title="business Costs">Business Costs</a></li>
                        <li class="subItem"><a href="/Locating_Expanding/Available_Sites_Buildings" title="Available Sites">Available Sites/Buildings</a></li>
                        <li class="subItem"><a href="/Locating_Expanding/Financial_Incentives" title="Financial Incentives">Financial Incentives</a></li>
                        <li class="subItem"><a href="/Locating_Expanding/Living_In_Kentucky" title="Living in KY">Living In Kentucky</a></li>
                        <li class="subItem"><a href="/Locating_Expanding/Community_Profiles" title="Community profiles">Community Profiles</a></li>
                        <li class="subItem"><a href="/Workforce" title="Work force">Workforce</a></li>
                    </ul>
                </li>
                <li class="topItem hasSub">
                    <a>Existing Industry</a>
                    <ul class="subMenu">
                        <li class="subItem"><a href="/Existing_Industries/">Overview</a></li>
                        <li class="subItem"><a href="/Existing_Industries/Major_Industries">Major Industries</a></li>
                        <li class="subItem"><a href="/KYFacts/Kentucky_Facilities">Kentucky Facilities</a></li>
                    </ul>
                </li>
                <li class="topItem hasSub">
                    <a>Entrepreneurship</a>
                    <ul class="subMenu">
                        <li class="subItem"><a href="/Entrepreneurship">Overview</a></li>
                        <li class="subItem"><a href="/Entrepreneurship/Access_To_Capital">Access to Capital</a></li>
                        <li class="subItem"><a href="/Entrepreneurship/Expanding_Your_Market">Expanding Your Market</a></li>
                        <li class="subItem"><a href="/Entrepreneurship/Advocacy">Business Advocacy</a></li>
                        <li class="subItem"><a href="/Entrepreneurship/Investor_Information">Investor Information</a></li>
                        <li class="subItem"><a href="/Entrepreneurship/Accelerators_Incubators">Accelerators &amp; Incubators</a></li>
                    </ul>
                </li>
                <li class="topItem hasSub">
                    <a>Workforce</a>
                    <ul class="subMenu">
                        <li class="subItem"><a href="/Workforce">Overview</a></li>
                        <li class="subItem"><a href="/Workforce/KYFAME">KY FAME</a></li>
                        <li class="subItem"><a href="/Workforce/Work_Ready_Communities">Work Ready Communities</a></li>
                        <li class="subItem"><a href="/Workforce/Workforce_Data">Workforce Data</a></li>
                        <li class="subItem"><a href="/Workforce/Workforce_Resources">Workforce Resources</a></li>
                        <li class="subItem"><a href="/Workforce/BSSC">BSSC</a></li>
                    </ul>
                </li>
                <li class="topItem hasSub">
                    <a>International</a>
                    <ul class="subMenu">
                        <li class="subItem"><a href="/International">Overview</a></li>
                        <li class="subItem"><a href="/International/International_Facilities">International Facilities</a></li>
                        <li class="subItem"><a href="/Locating_Expanding">How We Help</a></li>
                        <li class="subItem"><a href="/Home/International_Offices">International Offices</a></li>
                        <li class="subItem"><a href="/International/Exports">Exports</a></li>
                    </ul>
                </li>
                <li class="topItem hasSub">
                    <a>KY Facts</a>
                    <ul class="subMenu">
                        <li class="subItem"><a href="/KYFacts">Overview</a></li>
                        <li class="subItem"><a href="/KYFacts/About_Kentucky">About Kentucky</a></li>
                        <li class="subItem"><a href="/KYFacts/Kentucky_Facilities">Kentucky Facilities</a></li>
                        <li class="subItem"><a href="/KYFacts/Infrastructure_Utilities">Infrastructure &amp; Utilities</a></li>
                        <li class="subItem"><a href="/Home/COVID_19_Resources">COVID 19 Resources</a></li>
                    </ul>
                </li>
                <li class="topItem hasSub">
                    <a>Newsroom</a>
                    <ul class="subMenu">
                        <li class="subItem"><a href="/Newsroom/News_Releases">News Releases</a></li>
                        <li class="subItem"><a href="/Newsroom/Newsletters">Newsletters</a></li>
                        <li class="subItem"><a href="/Newsroom/Publications">Publications</a></li>
                        <li class="subItem"><a href="/Newsroom/KEDFA_Meeting_Approvals">KEDFA Meeting News</a></li>
                        <li class="subItem"><a href="/newsroom/Annual_Reports">Annual Reports</a></li>
                        <li class="subItem"><a href="/newsroom/Articles">Articles</a></li>
                        <li class="subItem"><a href="/newsroom/Webinars">Webinars</a></li>
                        <li class="subItem"><a href="/Home/Transparency">Kentucky Economic Development Partnership Board</a></li>
                    </ul>
                </li>
                <li class="topItem hasSub">
                    <a>About the Cabinet</a>
                    <ul class="subMenu">
                        <li class="subItem"><a href="/Home/AboutUs">About Us</a></li>
                        <li class="subItem"><a href="/Home/Staff">Our Staff</a></li>
                        <li class="subItem"><a href="/Home/International_Offices">International Offices</a></li>
                        <li class="subItem"><a href="/Home/Partners">Partners</a></li>
                        <li class="subItem"><a href="/Home/BoardsCommissions">Boards &amp; Commissions</a></li>
                        <li class="subItem"><a href="/Home/Employment">Employment</a></li>
                        <li class="subItem"><a href="/Home/Transparency">Transparency</a></li>
                        <li class="subItem"><a href="/Home/Accessibility">Accessibility</a></li>
                        <li class="subItem"><a href="/Home/ContactUs">Contact Us</a></li>
                    </ul>
                </li>

            </ul>
    </nav>
</div>
    <!--#menu-->


    <!--Quick Contact-->
    <div id="quickContact">
        <div id="qcClose">
            <div></div>
            <div></div>
        </div>

        <!-- Quick Contact Load -->
        <div id="quickContactStaffer" class="row">

		<div class="col-6">
			<img class="fullWidth" src="https://ced.ky.gov/Webfiles/imgs/staff/JeffTaylor.jpg" alt="Jeff Taylor">
		</div>
		<div class="col-6 padding-l-0">
			<strong>Jeff Taylor</strong>
            <div class="qcInfo">
                Commissioner<br>
                Business Development<br><br>
                <strong>Kentucky Cabinet for Economic Development</strong><br>
                <span class="phone" data-label=": Quick Contact (1-800)"> 800.626.2930 </span><br />
                <span class="phone" data-label=": Quick Contact (502)">502.564.7670 </span><br />
                <a class="txt-sm track" data-label=": Quick Contact (jeff-email) href="mailto:jeff.taylor@ky.gov">Jeff.Taylor@ky.gov</a>
            </div>
		</div>
</div>

        <hr class="spacer-30">
        <div id="qcContactForm" class="contactForm">

        </div>
    </div><!--#quickContact-->
    <!--Main-->
    <div id="main">
        <div id="topBar">
            <div class="container-fluid">
                <div class="row">
                    <div id="navIconContainer" class="col-3 position-relative">
                        <div id="navIcon">
                            <div></div>
                            <div></div>
                            <div></div>
                            <span class="navTxt">Menu</span>
                        </div>
                    </div>
                    <div class="col-6">
                            <a id="logo" href="/"></a>
                    </div>
                    <div class="col-3 text-right">
                        <div id="searchIcon"></div>
                        <a id="quickContactBtn" class="btn track" data-label="Do Business in KY (wideLayout) ced.ky.gov/LP/electric_vehicle">Do Business in KY</a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>


        

<!-- PAGE CONTENT -->

<header id="header" class="bg-cover" style="position: relative; top: 0; width: 100%; height: 75vh; z-index: -1;">
    <video autoplay muted loop  id="video" style="
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;">
        <source src="https://ced.ky.gov/Webfiles/videos/ev_blue_oval_sm.mp4" type="video/mp4" />
    </video>
  
    <div class="gradient-fltr"></div>
    <div class="home-bg-fltr"></div>
    <div id="pageHeader">
        <div class="container" style=" z-index: 1;">
            <h2 class="h1">THE R<span class="clr-blue">EV</span>OLUTION IS IN KENTUCKY</h2>
        </div>
    </div>
</header>              <section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9">
                <h2 class="h2 clr-blue">Kentucky: America's Electric Vehicle Manufacturing Hub</h2>		
		        <hr class="spacer-30">
                <p>Kentucky is the premier location in the U.S. to manufacture electric vehicles and their parts.  Everything that goes into electric vehicles; motors, batteries, brakes or tires - can all be made and shipped to anywhere in the country easily.  Competitive energy pricing, ample land, knowledgeable workforce and the best shipping and supply system add up to winning combination that cannot fail.  
                    </p>
                <p>
As the nation’s leading producer of light vehicles per capita, Kentucky is a particularly great fit for automotive-related businesses. These companies benefit not only from Kentucky’s best-in-class cost of doing business and supportive corporate environment, but their employees also enjoy the shorter commute times, lower cost of living and several other advantages that lead to a higher quality of life.
</p>
                <hr class="spacer-40">
                <h4 class="clr-blue">Facts You Should Know</h4>
                <hr class="spacer-20">
                <ul class="quickFactsList txt-md">
                    <li>Kentucky is the <span class="clr-orange">#1 producer</span> of cars, light trucks, and SUVs per capita</li>
                    <li><strong>Auto Alley</strong>
                        <ul>
                            <li><span class="clr-orange">525+</span> automotive-related facilities in Kentucky</li>
                            <li>Kentucky is home to <span class="clr-orange">four major assembly plants</span> — Ford (two plants), General Motors and Toyota</li>
                        </ul>
                    </li>
                    <li><span class="clr-orange">$10.8 billion</span> announced investments by automotive-related facilities since 2014</li>
                    <li><span class="clr-orange">1 out of every 16</span> workers in the US automotive industry work in Kentucky</li>
                    <li><span class="clr-orange">100,000</span> individuals employed in automotive-related establishments located in Kentucky</li>
                </ul>
            </div>
            <div class="col-12 col-md-3 padding-20 bg-ltr-gray">
                <h6 class="clr-blue">Your Contact</h6>
                <hr class="spacer-20">
                <img class="fullWidth" src="https://ced.ky.gov/Webfiles/imgs/staff/JeffTaylor.jpg" alt="Jeff Taylor"  style="max-width: 200px;"">
                <hr class="spacer-20">
                <h6>Jeffery Taylor</h6>
Commissioner<br>
Business Development<br>
<br>
Kentucky Cabinet for Economic Development<br>
800.626.2930<br>
502.564.7670<br>
<a href="mailto:Jeff.Taylor@ky.gov">Jeff.Taylor@ky.gov</a>
            </div>
        </div>	
	</div>
</section><section class="section">
    <div class="container">
        <div class="row row-eq-height justify-content-center">
            <div class="col-12 col-lg-6">
                <h2 class="clr-blue">Low Utility Costs</h2>
                <hr class="spacer-30">
                Among the more significant location factors having a direct influence on bottom line costs is the annual capital that must be committed to utility consumption. Kentucky has the lowest cost of electricity in the industrial sector among states east of the Mississippi River and one of the lowest in the U.S., coming in at <strong>21% lower</strong> than the national average.
            </div>
            <div class="col-12 col-md-6">
                <strong>INDUSTRIAL ELECTRICITY AVERAGE PRICE</strong><br>
Energy Information Admin., average price by state, released 2019
                <hr class="spacer-20">
                <img class="fullWidth" src="https://ced.ky.gov/media/electric-2020.png" alt="Electric Rates">
            </div>
        </div>
        
    </div>
</section><section>
    <div class="container-fluid bg-blue">
        <div class="row">
            <div class="col-12 padding-40 text-center">
                <h2 class="clr-white">Global Logistics Capacity<br>
                    <small class="txt-md">2nd in total air Cargo, Kentucky is the only state to boast three major air cargo hubs: (UPS, DHL and Amazon Air)</small>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 bg-fltr bg-dk-fltr clr-white bg-cover" style="background-image:url(https://ced.ky.gov/Webfiles/imgs/content/campaign/DHL.jpg);">
                <div class="infoBox">
                    <div class="content">
                        DHL’s global hub in Kentucky handles about 90% of DHL shipments entering the U.S. 
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 bg-fltr bg-dk-fltr clr-white bg-cover" style="background-image:url(https://ced.ky.gov/Webfiles/imgs/content/campaign/fedex.jpg);">
                <div class="infoBox">
                    <div class="content">
                        FedEx recently expanded its ground facilities in Louisville and Northern Kentucky.
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 bg-fltr bg-dk-fltr clr-white bg-cover" style="background-image:url(https://ced.ky.gov/Webfiles/imgs/content/campaign/UPS.jpg);">
                <div class="infoBox">
                    <div class="content">
                        UPS Worldport in Kentucky is the largest fully automated package-handling facility in the world.
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 bg-fltr bg-dk-fltr clr-white bg-cover" style="background-image:url(https://ced.ky.gov/Webfiles/imgs/content/campaign/prime-air.jpg);">
                <div class="infoBox">
                    <div class="content">
                        Amazon Air’s $1.5 billion hub came online in 2021.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><section class="padding-top-100 bg-ltr-gray text-center">
    <div class="container">
        <h2 class="clr-blue">Low Taxes</h2>
        <hr class="spacer-20">
        Kentucky’s innovative and progressive tax incentive programs also provide the flexible financial assistance businesses need when locating, expanding or reinvesting in the state.  Kentucky ranks in the <strong>Top 20</strong> for corporate income taxes, individual income taxes, and sales taxes.
        <hr class="spacer-40">
        <div class="row text-center">
            <div class="col-12 col-sm-6 col-md-3">
                <h2 class="txt-xxl font-weight-bold clr-orange">24<sup>th</sup></h2>
                2020 Business Tax Climate Index
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <h2 class="txt-xxl font-weight-bold clr-orange">5%</h2>
                Corporate Income Tax Rates
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <h2 class="txt-xxl font-weight-bold clr-orange">6%</h2>
                Sales Tax Rate
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <h2 class="txt-xxl font-weight-bold clr-orange">9.5%</h2>
                State and Local Tax Burden Per Capita
            </div>
        </div>
        <hr class="spacer-100">
        <small>Source: Tax Foundation</small>
        <hr class="spacer-20">
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div id="citySelectContainer" class="col-12 col-md-6 col-lg-5">
                <h3 class="h3 clr-blue">Kentucky is within one day's drive of two-thirds of the U.S. population</h3>
                <hr class="spacer-20">
                Kentucky's logistical advantage is unmatched.  Click the cities below to measure distance.
                <hr class="spacer-20">
                <div class="inner">
                    <div class="txt-md font-weight-bold">DISTANCE: <span class="clr-orange"><span id="mileage">738</span> miles</span></div>
                    <hr class="spacer-20">
                    <ul id="citySelectOne" class="citySelect">
                        <li id="louisville" class="selected">Louisville</li>
                        <li id="lexington">Lexington</li>
                        <li id="bowlingGreen">Bowling Green</li>
                        <li id="owensboro">Owensboro</li>
                        <li id="nky">Covington</li>
                    </ul>
                    <ul id="citySelectTwo" class="citySelect right">
                        <li id="newYork" class="selected">New York</li>
                        <li id="charlotte">Charlotte</li>
                        <li id="washington">Washington DC</li>
                        <li id="chicago">Chicago</li>
                        <li id="atlanta">Atlanta</li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-7">
                <div id="cityMap" class="position-relative">
                    <img class="fullWidth" src="https://ced.ky.gov/Webfiles/imgs/content/logistics-map.png" alt="Logistics Map">
                    <div id="kyCities">
                        <div class="mapMarker active" id="mapLouisville"></div>
                        <div class="mapMarker" id="mapLexington"></div>
                        <div class="mapMarker" id="mapNKY"></div>
                        <div class="mapMarker" id="mapBowlingGreen"></div>
                        <div class="mapMarker" id="mapOwensboro"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9">
                <h2 class="h2 clr-blue">Available Sites &amp; Buildings</h2>
                <div class="subHead">View available assets ready for relocation</div>
            </div>
           

            <div class="col-12 col-md-3 text-right">
                <hr class="spacer-25">
                <a class="btn" href="https://properties.zoomprospector.com/kentucky?page=1&amp;s%5BSortDirection%5D=true&amp;s%5BSortBy%5D=featured&amp;s%5BIsBuilding%5D=false" target="_blank">Search Sites &amp; Buildings</a>
            </div>
        </div>
        <hr class="spacer-20">
        <div class="row">
          



            <div class="col-12 col-md-6 col-lg-4">
                <div class="siteBuilding" style="background-image:url(https://ced.ky.gov/Webfiles/imgs/sitesBuildings/i24-park.jpg);">
                    <div class="infoContainer">
                        <div class="name">I-24 Industrial Park</div>
                        <div class="location">Paducah, KY 42001</div>
                        <div class="fadeIn">
                            <strong>County:</strong> McCracken County<br>
                            <strong>Type of space:</strong> Vacant Land<br>
                            <strong>Min Size:</strong> 136.60 acres<br>
                            <strong>Max Size:</strong> 136.60 acres<br>
                            <hr class="spacer-20">
                            <a href="https://properties.zoomprospector.com/kentucky/property/5600-Commerce-Dr-Paducah-KY-42001-Paducah-Kentucky/00BEBA88-7AB4-43C2-A321-BB6C304E80AF" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="col-12 col-md-6 col-lg-4">
                <div class="siteBuilding" style="background-image:url(https://ced.ky.gov/Webfiles/imgs/sitesBuildings/southwest-one-industrial.jpg);">
                    <div class="infoContainer">
                        <div class="name">Southwest One Industrial</div>
                        <div class="location">Benton, KY 42025</div>
                        <div class="fadeIn">
                            <strong>County:</strong> Marshall County<br>
                            <strong>Type of space:</strong> Vacant Land<br>
                            <strong>Min Size:</strong> 270.60 acres<br>
                            <strong>Max Size:</strong> 270.60 acres
                            <hr class="spacer-20">
                            <a href="https://properties.zoomprospector.com/kentucky/property/198-Dallas-Ln-Benton-KY-42025-Benton-Kentucky/987AFC95-840F-4EF7-905A-A3EA1C466199" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-4">
                <div class="siteBuilding" style="background-image:url(https://d1hd8317vngzg3.cloudfront.net/images?url=https%3A%2F%2Fadmin.zoomprospector.com%2Fphotos%2FKENTUCKY%2Ffe4dac5c-90f4-461c-9096-83bbb5b11c70.png&backupImg=https%3A%2F%2Fmaps.googleapis.com%2Fmaps%2Fapi%2Fstreetview%3Fsize%3D250x200%26return_error_code%3Dtrue%26location%3D37.6978%2C-85.194946%26key%3DAIzaSyCtA8KMgGEDqPsjnsAUYNrBUlRQOjKaMSA&height=160);">
                    <div class="infoContainer">
                        <div class="name">Washington County Commerce Center</div>
                        <div class="location">Springfield, KY 40351</div>
                        <div class="fadeIn">
                            <strong>County:</strong> Washington County<br>
                            <strong>Type of space:</strong> Office, Industrial, Vacant Land<br>
                           
                            <hr class="spacer-20">
                            <a href="https://properties.zoomprospector.com/kentucky/property/201-Corporate-Dr-Springfield-KY-40069-Springfield-Kentucky/01043ABC-205A-49BF-9354-3B2E9D342D1A" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!--Testimonials-->
<section>
    <div class="container-fluid">
        <div class="row row-eq-height">
            <div id="testimonialPic" class="col-12 col-md-6 position-relative padding-0 padding-h-0">
                <div id="testimonialPicSlider">
                    <div class="testimonialPic" style="background-image:url(https://ced.ky.gov/Webfiles/imgs/content/meggitt-building.jpg);"></div>

                    <div class="testimonialPic" style="background-image:url(https://ced.ky.gov/Webfiles/imgs/content/dowDuPont-1.jpg);"></div>

                    <div class="testimonialPic" style="background-image:url(https://ced.ky.gov/Webfiles/imgs/content/danimer-scientific.jpg);"></div>
                </div>
            </div>
            <div id="testimonialSliderContainer" class="col-12 col-md-6 bg-blue clr-white padding-100 padding-h-40">
                <div class="quoteMark"></div>
                <hr class="spacer-20">
                <h5 class="h4">What They Say</h5>
                <hr class="spacer-30">
                <div id="testimonialSlider">
                    <div class="testimonial">
                        <em>Every time we've invested here, the community and state have reaffirmed this is the right location for future growth.</em>
                        <hr class="spacer-20">
                        <strong>Luke Durudogan</strong><br />
                        President, Meggit Aircraft Braking Systems
                    </div>



                    <div class="testimonial">
                        <em>For 50 years, Dow has been an employer, neighbor and corporate partner in the region.  We are proud of how far the Carrollton site has come and excited to recommit to the site with the groundbreaking of the new Cabot plant.</em>
                        <hr class="spacer-20">
                        <strong>Howard Ungerleider</strong><br />
                        CFO, DowDuPont
                    </div>



                    <div class="testimonial">
                        <em>Kentucky's state resources and strong local workforce have provided us with a significant leg up in getting this project off the ground.</em>
                        <hr class="spacer-20">
                        <strong>Stephen Croskey</strong><br />
                        CEO, Danimer Scientific
                    </div>
                </div>
                <hr class="spacer-20">
                <div id="testimonialDots" class="sliderDots"></div>
            </div>
        </div>
    </div>
</section>
<!--/testimonials--><section>
    <div class="container-fluid bg-blue">
        <div class="row">
            <div class="col-12 padding-40 text-center">
                <h2 class="clr-white">Quality of Life</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 bg-fltr bg-dk-fltr clr-white bg-cover" style="background-image:url(https://ced.ky.gov/Webfiles/imgs/content/campaign/cost-of-living.jpg);">
                <div class="infoBox">
                    <div class="content">
                        <h2>Cost of Living</h2>
                        Kentucky is 10.3% lower than the national average<br>
                        <small>(Source: JobsEQ)</small>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 bg-fltr bg-dk-fltr clr-white bg-cover" style="background-image:url(https://ced.ky.gov/Webfiles/imgs/content/campaign/commute.jpg);">
                <div class="infoBox">
                    <div class="content">
                        <h2>Commute Time</h2>
                        Kentucky's average commute time is 23.5 minutes<br>
                        <small>(Source: U.S. Census)</small>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 bg-fltr bg-dk-fltr clr-white bg-cover" style="background-image:url(https://ced.ky.gov/Webfiles/imgs/content/campaign/safety.jpg);">
                <div class="infoBox">
                    <div class="content">
                        <h2>Safe Environment</h2>
                        Kentucky ranks #13 as safest states to live<br>
                        <small>(US News and World Report)</small>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section><!--Logo Slider-->
<section class="section">
    <div class="container">
        <header class="text-center">
            <div class="clr-gray subHead">Kentucky is proud to promote</div>
            <hr class="spacer-10">
            <h2 class="h2 clr-blue">The Company We Keep</h2>
            <hr class="spacer-40">
        </header>
        <div id="logoSlider">
            <div class="slide">
                <a href="https://www.toyota.com/" target="_blank"><img src="https://ced.ky.gov/Webfiles/imgs/logos/toyota-2.png" alt="Toyota" /></a>
            </div>
            <div class="slide">
                <a href="https://www.amazon.com/" target="_blank"><img src="https://ced.ky.gov/Webfiles/imgs/logos/amazon.png" alt="Amazon" /></a>
            </div>
            <div class="slide">
                <a href="https://www.ups.com/us/en/global.page" target="_blank"><img src="https://ced.ky.gov/Webfiles/imgs/logos/ups.png" alt="UPS" /></a>
            </div>
            <div class="slide">
                <a href="https://www.ford.com/" target="_blank"><img src="https://ced.ky.gov/Webfiles/imgs/logos/ford.png" alt="Ford" /></a>
            </div>
            <div class="slide">
                <a href="https://www.dhl.com/en.html" target="_blank"><img src="https://ced.ky.gov/Webfiles/imgs/logos/DHL.png" alt="DHL" /></a>
            </div>
            <div class="slide">
                <a href="https://www.jimbeam.com/" target="_blank"><img src="https://ced.ky.gov/Webfiles/imgs/logos/jim-beam.png" alt="Jim Beam" /></a>
            </div>
            <div class="slide">
                <a href="https://www.beamsuntory.com/en" target="_blank"><img src="https://ced.ky.gov/Webfiles/imgs/logos/beam-suntory.png" alt="Beam Suntory" /></a>
            </div>
            <div class="slide">
                <a href="https://www.chevrolet.com/performance/corvette" target="_blank"><img src="https://ced.ky.gov/Webfiles/imgs/logos/corvette.png" alt="Corvettte" /></a>
            </div>
            <div class="slide">
                <a href="https://www.ge.com/" target="_blank"><img src="https://ced.ky.gov/Webfiles/imgs/logos/GE.png" alt="General Electric" /></a>
            </div>
            <div class="slide">
                <a href="https://www.alltech.com/" target="_blank"><img src="https://ced.ky.gov/Webfiles/imgs/logos/alltech.png" alt="Alltech" /></a>
            </div>
            <div class="slide">
                <a href="https://nucor.com/" target="_blank"><img src="https://ced.ky.gov/Webfiles/imgs/logos/nucor.png" alt="Nucor" /></a>
            </div>
            <div class="slide">
                <a href="https://www.valvoline.com/" target="_blank"><img src="https://ced.ky.gov/Webfiles/imgs/logos/valvoline.png" alt="Valvoline" /></a>
            </div>
            <div class="slide">
                <a href="https://www.tempursealy.com/" target="_blank"><img src="https://ced.ky.gov/Webfiles/imgs/logos/tempur_sealy.png" alt="Tempur Sealy" /></a>
            </div>
            <div class="slide">
                <a href="https://www.lexmark.com/" target="_blank"><img src="https://ced.ky.gov/Webfiles/imgs/logos/lexmark.png" alt="Lexmark" /></a>
            </div>
            <div class="slide">
                <a href="https://www.papajohns.com/" target="_blank"><img src="https://ced.ky.gov/Webfiles/imgs/logos/Papa_Johns.png" alt="Papa John's Pizza" /></a>
            </div>
            <div class="slide">
                <a href="https://www.yum.com/" target="_blank"><img src="https://ced.ky.gov/Webfiles/imgs/logos/yum-brands.png" alt="Yum Brands" /></a>
            </div>

        </div>
    </div>
</section>



<!-- /PAGE CONTENT -->
<aside id="mobileSidebar" class="col-12 col-md-3"></aside>
        </div>
    </div>
</section>






        <!--Footer-->
        <footer id="footer" class="bg-dkr-blue clr-gray padding-top-100 padding-btm-20">
            
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h5 class="h5 clr-white">About the Kentucky Cabinet for<br>Economic Development</h5>
                <hr class="spacer-20">
                The Cabinet for Economic Development is the primary state agency in Kentucky responsible for encouraging job creation and retention, and new investment in the state.
                <hr class="spacer-20">
                <a class="btn sm" href="/Home/AboutUs/">Read More</a>
                <hr class="spacer-60">
            </div>
            <div class="col-12 col-md-6">
                <h5 class="h5 clr-white">Quick Links</h5>
                <hr class="spacer-20">
                <ul class="quickLinks">



                        <li><a href="https://properties.zoomprospector.com/kentucky?page=1&amp;s%5BSortDirection%5D=true&amp;s%5BSortBy%5D=featured&amp;s%5BIsBuilding%5D=false">Available Sites &amp; Buildings</a></li>
                        <li><a href="/Entrepreneurship">Start/Grow Business</a></li>
                        <li><a href="/Workforce">Workforce Training</a></li>
                        <li><a href="/Locating_Expanding/Financial_Incentives">Financial Incentives</a></li>
                        <li><a href="/KYFacts">Search Statistics</a></li>
                        <li><a href="/International/Exports">Export My Products</a></li>
                        <li><a href="/Entrepreneurship/Access_To_Capital">Capital</a></li>
                        <li><a href="/Entrepreneurship/Investor_Information">Investor Information</a></li>
                        <li><a href="/Home/ContactUs">Contact Us</a></li>


                </ul>
            </div>
        </div>
        <hr class="spacer-40">
        <hr class="margin-30 bg-gray opake">
        <ul class="footerBtmLinks">
            <li><a href="/Home/Transparency">Transparency</a></li>           
            <li><a href="/Home/Accessibility">Accessibility</a></li>
            <li><a href="/Home/Privacy">Privacy</a></li>
            <li><a href="/Home/Disclaimer">Disclaimer</a></li>
        </ul>
        <ul class="socialIcons">
            <li class="fb track" data-label="Footer social FB (_Footer) ced.ky.gov/LP/electric_vehicle"><a href="https://www.facebook.com/CEDkygov/" target="_blank"></a></li>
            <li class="tw track" data-label="Footer social TW (_Footer) ced.ky.gov/LP/electric_vehicle"><a href="https://twitter.com/CEDkygov" target="_blank"></a></li>
            <li class="li track" data-label="Footer social Linked IN (_Footer) ced.ky.gov/LP/electric_vehicle"><a href="https://www.linkedin.com/company/cedkygov/" target="_blank"></a></li>
            <li class="ig track" data-label="Footer social INStagram (_Footer) ced.ky.gov/LP/electric_vehicle"><a href="https://www.instagram.com/cedkygov/" target="_blank"></a></li>
            
        </ul>
        <div class="clear"></div>
        <hr class="spacer-20">
        <div class="text-center">
            <span class="txt-xs">
                © Copyright 2021 Kentucky Cabinet for Economic Development |
                    <span class="track" data-label="Footer address (_Footer) ced.ky.gov/LP/electric_vehicle">Old Capitol Annex 300 West Broadway | Frankfort, KY 40601 | 502 - 564 - 7670(local) | 800 - 626 - 2930(toll free)</span>
            </span>
        </div>
    </div>


        </footer>

        <div id="mobileCTA">
            <div id="mobileCTAbtn" class="btn xs track" data-label="Do Business in KY (wideLayout - mobile)">
                Do Business In KY
            </div>
        </div>




        <script src="site/lib/jquery/dist/jquery.min.js"></script>

        <!-- slick -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script>

        <script src="https://ced.ky.gov/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://ced.ky.gov/js/site.min.js?v=ZmQ_N_FX68qvcxZKhGQCygiurLsPPvwh2Q_hr_SSEK0"></script>


        <!-- Moment -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>



       
       
        </main>
    </div>


    
</body>
</html>
