
/// DARK COVERED VIDEO 

<header id="header" class="bg-cover" style="position: relative; top: 0; width: 100%; height: 75vh; z-index: -1;">
    <video autoplay muted loop  id="video" style="
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;">
        <source src="https://ced.ky.gov/Webfiles/videos/ev_blue_oval_sm.mp4" type="video/mp4" />
    </video>
  
    <div class="gradient-fltr"></div>
    <div class="home-bg-fltr bg-fltr bg-dk-fltr"></div>
    <div id="pageHeader">
        <div class="container" style=" z-index: 1;">
            <h2 class="h1">The REVOLUTION IS IN KENTUCKY</h2>
        </div>
    </div>
</header>


/// NO  DARK COVERED VIDEO 

<header id="header" class="bg-cover" style="position: relative; top: 0; width: 100%; height: 75vh; z-index: -1;">
    <video autoplay muted loop  id="video" style="
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;">
        <source src="https://ced.ky.gov/Webfiles/videos/ev_blue_oval_sm.mp4" type="video/mp4" />
    </video>
  
    <div class="gradient-fltr"></div>
    <div class="home-bg-fltr"></div>
    <div id="pageHeader">
        <div class="container" style=" z-index: 1;">
            <h2 class="h1">The REVOLUTION IS IN KENTUCKY</h2>
        </div>
    </div>
</header>




////////////
<header id="header" class="bg-cover" style="background-image:url(https://ced.ky.gov/Webfiles/imgs/headers/auto-factory.jpg);  height: 75vh;">
    <div class="gradient-fltr"></div>
    <div class="home-bg-fltr bg-fltr bg-dk-fltr"></div>
    <div id="pageHeader">
        <div class="container">
            <h2 class="h1">Revolution is in Kentucky</h2>
        </div>
    </div>
</header>