<section id="primary" class="col-12 col-md-9">
	<p>The EB-5 Program is administered by the United States Citizenship and Immigration Service (USCIS) and is designed to allow foreign investors to obtain permanent residency through capital investments and job creation in qualifying U.S. commercial enterprises.</p>

	<h1 class="h1 clr-blue">Required Investment</h1><hr class="spacer-20" />
	<p>
	Upon passage of the EB-5 Reform and Integrity Act of 2022, EB-5 visa applicants are now required to make either a $800,000 or $1,050,000 capital investment amount into a U.S. commercial enterprise.</p>

	<h1 class="h1 clr-blue">Targeted Employment Area</h1><hr class="spacer-20" />
	<p>
	An EB-5 qualifying minimum investment of $800,000 may be made in a commercial entity that is located in a targeted employment area (TEA). A TEA can be a rural area, high unemployment area, or an infrastructure project. For petitions filed before March 15, 2022, a high unemployment area is an area that has experienced unemployment of at least 150 percent of the national average rate. For petitions filed on or after March 15, 2022, a high unemployment area is an area designated as such by the Secretary of Homeland Security under INA 203(b)(5)(B)(ii). </p>
	<p>
	After March 15, 2022, to demonstrate that the high unemployment area is a TEA meeting the statutory and regulatory criteria, the investor must submit to USCIS a description of the census tract(s) and unemployment statistics that allows USCIS to make a case-specific designation as an area of high unemployment. The area must consist of the census tract or contiguous census tract(s) in which the new commercial enterprise is principally doing business, and may also include any or all census tracts directly adjacent to such census tract(s). The immigrant investor must demonstrate that the weighted average of the unemployment rate for the requested area (that is, the area comprised of multiple census tracts), based on the labor force employment measure for each census tract, is at least 150 percent of the national average unemployment rate.</p>

	<h1 class="h1 clr-blue">Job Creation</h1><hr class="spacer-20" />

	<p>The USCIS requires that EB-5 investments result in the creation of 10 full-time jobs for U.S. workers in a two-year period after investor receives conditional permanent residency.
	</p>
	<h1 class="h1 clr-blue">EB-5 Visa Requirements Summary</h1>
	<ul>
		<li>$1,050,000 capital investment, $800,000 in a rural area, high unemployment area, or an infrastructure project</li>
		<li>The investment must be made in a for-profit U.S. commercial entity</li>
		<li>The investment must create 10 full-time U.S. jobs</li>
	</ul>

	<a href="https://www.uscis.gov/policy-manual/volume-6-part-g-chapter-2" target="_blank">More Information Chapter 2 - Eligibility Requirements | USCIS </a><br>

	<p>Contact: Matthew Wingate<br>
	Kentucky Cabinet for Economic Development (502) 782-1948 <a href="mailto:matthew.wingate@ky.gov">Matthew.Wingate@ky.gov</a></p>
</section>