<section class="col-12 col-md-9">
<div class="bg-orange clr-white btn btn-block" style="pointer-events: none; margin-bottom: 20px;">KSBCI 2.0 CLOSING FEES WAIVED THROUGH 2025.</div>
<h1 class="h1 clr-blue">Kentucky Small Business Credit Initiative (KSBCI) 2.0</h1>
<h3>Loan and Investment Support for Small Businesses</h3>
<hr class="margin-40" />
<p>KY Innovation within the Kentucky Cabinet for Economic Development manages the state&rsquo;s State Small Business Credit Initiative (SSBCI) 2.0 funding. Authorized through the American Rescue Plan Act of 2021 and administered by the U.S. Department of Treasury, the SSBCI program will provide $117 million over the next 10 years to expand capital access for Kentucky businesses. Kentucky successfully utilized funding through SSBCI 1.0, authorized by federal law in 2010, to launch and operate loan support programming known as the Kentucky Small Business Credit Initiative.</p>
<p>Kentucky&rsquo;s SSBCI 2.0 plan will strengthen and grow loan support capabilities <a href="/Entrepreneurship/smallbizlending" target="_blank" rel="noopener">(View KY Small Business Lending Resources)</a>, which are directly managed by the Cabinet, while also providing a significant funding infusion for early-stage venture capital. <a href="https://keyhorse.vc/ssbci" target="_blank" rel="noopener">View Keyhorse Capital</a>. Those venture capital funds will be managed by Kentucky Science and Technology Corporation&rsquo;s seed-stage venture capital firm, Keyhorse Capital. A portion of all SSBCI 2.0 funding is targeted toward businesses owned by Socially and Economically Disadvantaged Individuals (SEDI) and very small businesses.</p>
<p>For more information on eligibility and how your company can access SSBCI funding, follow the links below.</p>
<p><strong> NOTE: SSBCI 2.0 funding is available in the form of loan support through participating lenders and as seed-stage equity investment. Grants and forgivable loans are not available through SSBCI 2.0 funding.</strong></p>

<hr class="margin-40" />

	<h2>Quarterly Reports</h2>
	<hr class="padding-10" />
	<ul>
		<li>
			<a href="https://cedky.com/cdn/1946_KSBCI_1_0_Funding_Quarterly_Report.pdf" target="_blank">1.0 Quarterly Report</a>
		</li>
		<li>
			<a href="https://cedky.com/cdn/1946_KSBCI_2_0_Funding_Quarterly_Report.pdf" target="_blank">2.0 Quarterly Report</a>
		</li>
		<li>
			<a href="https://cedky.com/cdn/1946_KSBCI_2.0_KMFV__Quarterly_Funding_Report_June_24.pdf" target="_blank"> 2.0 KMFV Quarterly Report</a>
		</li>
	</ul>


<div class="row">
<div class="col-6">
<h2>Venture Capital</h2>
<hr class="padding-10" /><a href="https://keyhorse.vc/ssbci" target="_blank" rel="noopener"> <img style="width: 40%;" src="https://cedky.com/cdn/1946_keyhorse.png" /> </a><hr class="padding-10" /><br />
<h3>Seeking Equity Investment?</h3>
<p>70 percent of Kentucky&rsquo;s SSBCI 2.0 funding will be made available in the form of both direct and fund-of-funds. <br /><br /><a class="btn btn-primary" href="https://keyhorse.vc/ssbci" target="_blank" rel="noopener">View</a></p>
<hr class="margin-40" /></div>
<div class="col-6">
<h2>Loan Support</h2>
<hr class="padding-10" /><a href="/Entrepreneurship/smallbizlending"> <img style="width: 40%;" src="https://cedky.com/cdn/1946_TeamKentucky%E2%80%93CED_Blue.jpg" /> </a><hr class="padding-10" /><br />
<h3>Need a business loan?</h3>
<p>30 percent of Kentucky&rsquo;s SSBCI 2.0 funding is allocated toward collateral support and loan participation programs. <br /><br /><a class="btn btn-primary" href="/Entrepreneurship/smallbizlending" target="_blank" rel="noopener">View</a></p>
<hr class="margin-40" /></div>
</div>
<h2>Other resources</h2>
<ul>
<li><a class="noCache" href="http://www.treasury.gov/resource-center/sb-programs/Pages/ssbci.aspx" target="_blank" rel="noopener">U.S. Department of Treasury&rsquo;s Federal Small Business Credit Initiative Program</a></li>
<li><a class="noCache" href="https://ced.ky.gov/Newsroom/NewsPage/20230227_SSBCI" target="_blank" rel="noopener">Gov. Beshear: $117 Million Federal Award To Increase Access to Capital for Kentucky Small Businesses</a></li>
<li><a href="https://home.treasury.gov/news/press-releases/jy1302" target="_blank" rel="noopener">U.S. Department of Treasury: Kentucky Approved for State Small Business Credit Initiative Program</a></li>
</ul>
<p>For assistance in translating the KSBCI pages to another language, please visit this suggested site:<br />Para la ayuda en traducir las p&aacute;ginas de KSBCI a otra lengua, visite por favor este sitio sugerido:</p>
<a class="btn" href="//translate.google.com/" target="_blank" rel="noopener">Google Translate</a> <!-- /PAGE CONTENT -->
<aside id="mobileSidebar" class="col-12 col-md-3"></aside>
</section>