<section class="col-12 col-md-9">
<h1 class="h1 clr-blue">Government Resources Accelerating Needed Transformation (GRANT) Program of 2024</h1>
<hr class="margin-40" />
<p>Due to the very short time between the program being implemented and passage of the enabling legislation, the CED staff recognizes that some areas of the program would need to evolve. That includes the need to clarify and address certain policy issues and process matters to make the program as effective as possible while still meeting the parameters set by the legislature.</p>
<p>Thank you for your patience and understanding as the program will continually be adjusted during these initial stages to better serve our process partners. Please continue working with your Area Development District or emailing the <a title="ced.grant2024@ky.gov" href="mailto:ced.grant2024@ky.gov" target="_blank" rel="noopener">ced.grant2024@ky.gov</a> mailbox for specific questions not addressed in the FAQs.</p>
<ul>
<li><a title="Communication Letter From Secretary Noel HB 723" href="https://cedky.com/cdn/11869_HB_723_Communication_Letter.pdf" target="_blank" rel="noopener">Communication Letter From Secretary Noel HB 723</a></li>
<li><a title="County Population Ranking and Required Local Match" href="https://cedky.com/cdn/11869_GRANT_Program_County_Population_Ranking.pdf" target="_blank" rel="noopener">County Population Ranking and Required Local Match</a></li>
<li><a title="GRANT Program Scoring Criteria" href="https://cedky.com/cdn/11869_GRANT_Program_Scoring_Criteria_FINAL.pdf?1" target="_blank" rel="noopener">GRANT Program Scoring Criteria</a></li>
<li><a title="GRANT Program Fact Sheet" href="https://cedky.com/cdn/11869_GRANT_Program_Fact_Sheet_FINAL.pdf?aa" target="_blank" rel="noopener">GRANT Program Fact Sheet&nbsp;</a> | <a href="https://cedky.com/cdn/11869_GRANT_Program_Fact_Sheet_FINAL-Markups_for_6-5-2024.pdf" target="_blank" rel="noopener">Markups 2024-06-05</a></li>
<li><a title="GRANT FAQ (PDF)" href="https://cedky.com/cdn/11869_GRANT_FAQ-2024.pdf?6-25-24" target="_blank" rel="noopener">GRANT FAQ</a></li>
<li><a title="GRANT Flowchart" href="https://cedky.com/cdn/11869_GRANT_Flowchart.pdf" target="_blank" rel="noopener">GRANT Flowchart</a></li>
<li><a title="Application GRANT Program (xls)" href="https://cedky.com/cdn/11869_Application_GRANT_Program.xlsx?20240819" target="_blank" rel="noopener">Application GRANT Program (xls)</a></li>
<li><a title="GRANT Sample Resolution (doc)" href="https://cedky.com/cdn/11869_GRANT_Program_Sample_Resolution_FINAL-5-20-2024.docx" target="_blank" rel="noopener">GRANT Sample Resolution (doc)</a></li>
</ul>
<br />
<h2 class="h2">Introductory Webinar</h2>
<hr class="margin-40" />An introductory webinar providing information on the GRANT Program of 2024 was held on Wednesday, May 15th. <br /><br /><br /><br /><video preload="none" controls="controls" width="600">
  <source src="https://cedky.com/cdn/GRANT_Recording_Webinar2024-05-15.mp4" type="video/mp4" />
</video>
<ul>
<li><a href="https://cedky.com/cdn/11869_GRANT_Webinar_Message.pdf" target="_blank" rel="noopener">Additional information on the webinar is available here.</a></li>
<li><a title="https://cedky.com/cdn/11869_GRANT_Program_of_2024_Webinar_5-15-2024.pdf" href="https://cedky.com/cdn/11869_GRANT_Program_of_2024_Webinar_5-15-2024.pdf?b" target="_blank" rel="noopener">Webinar Slides (PDF)</a></li>
</ul>
<br />
<h2 class="h2">Second Webinar</h2>
<hr class="margin-40" />A second session was held on Wednesday, May 22. <br /><br /><video preload="none" controls="controls" width="600">
  <source src="https://cedky.com/cdn/GRANT_Recording_Webinar2024-05-22.mp4" type="video/mp4" />
</video>
<p>&nbsp;</p>
<h2>Monthly Reports&nbsp;</h2>
<ul type="disc">
<li><a title="March 1, 2025 Monthly Report (February 1-28 Report)" href="https://cedky.com/cdn/11869_GRANT_Program_of_2024_-_February_1-28_Report-online.pdf" target="_blank" rel="noopener"><span data-olk-copy-source="MessageBody">March 1, 2025 Monthly Report (February 1-28 Report)</span></a></li>
<li><a title="Feb 2025 Monthly Report" href="https://cedky.com/cdn/11869_GRANT_Program_of_2024_-_January_1-31_Report-online.pdf" target="_blank" rel="noopener">February 1, 2025 Monthly Report (January 1-31 Report)</a></li>
<li><a title="January 1, 2025 Monthly Report (December 1-31 Report)" href="https://cedky.com/cdn/11869_GRANT_Program_of_2024_-_December_1-31_Report-online.pdf" target="_blank" rel="noopener">January 1, 2025 Monthly Report (December 1-31 Report)</a></li>
<li><a href="https://cedky.com/cdn/11869_GRANT_Program_of_2024_-_Nov_1-30_Report-online.pdf" target="_blank" rel="noopener">December 1, 2024 Monthly Report (November 1-30 Report)</a></li>
<li><a href="https://cedky.com/cdn/11869_GRANT_Program_of_2024_-_October_1-31_Report-online.pdf" target="_blank" rel="noopener">November 1, 2024 Monthly Report (October 1-31 Report)</a></li>
<li><a title="https://cedky.com/cdn/11869_GRANT_Program_of_2024_-_September_1-30_Report-online.pdf" href="https://cedky.com/cdn/11869_GRANT_Program_of_2024_-_September_1-30_Report-online.pdf" target="_blank" rel="noopener">October 1, 2024 Monthly Report (September 1-30 Report)</a></li>
<li><a title="September 1, 2024 Monthly Report (August 1-31 Report)" href="https://cedky.com/cdn/11869_GRANT_Program_of_2024_-_August_1-31_Report-online.pdf" target="_blank" rel="noopener">September 1, 2024 Monthly Report (August 1-31 Report)</a></li>
<li><a title="https://cedky.com/cdn/11869_GRANT_Program_of_2024_-_July_1-31_Report-online.pdf" href="https://cedky.com/cdn/11869_GRANT_Program_of_2024_-_July_1-31_Report-online.pdf" target="_blank" rel="noopener">August 1, 2024 Monthly Report (July 1-31 Report)</a></li>
<li><a title="July 1, 2024 Monthly Report (June 1-30 Report)" href="https://cedky.com/cdn/11869_GRANT_Program_of_2024_-_June_1-30_Report-online.pdf" target="_blank" rel="noopener">July 1, 2024 Monthly Report (June 1-30 Report)</a></li>
<li><a title="June 1, 2024 Monthly Report &nbsp;(May 1-31 Report)" href="https://cedky.com/cdn/11869_GRANT_Program_of_2024_-_May_1-31_Report-online.pdf" target="_blank" rel="noopener">June 1, 2024 Monthly Report &nbsp;(May 1-31 Report)</a></li>
</ul>
</section>