<section class="col-12 col-md-9">
<h1 class="h1 clr-blue">Kentucky Facilities</h1>
<hr class="margin-40" />
<p>Looking for information about Kentucky facilities? Please conduct search in Facilities Search System based on location, industry, foreign ownership and more. The system will allow you to search, save and print search results. To access the search system, follow the link below.</p>
<p>
<a class="btn" href="https://facilitysearch.ced.ky.gov/" target="_blank" rel="noopener">Search New and Facilities Search</a>
</p>

<hr class="spacer-60" />
<p>Interested in information about companies locating or expanding in Kentucky? View the reports listed below or conduct your own search based on specified time periods, foreign ownership, announcement type, location and more. To access the search, follow the link below.</p>
<p><a class="btn" href="https://locationexpansionsearch.ced.ky.gov/" target="_blank" rel="noopener">Search New and Expanding Industries</a></p>
</section>