<section class="col-12 col-md-9">
<h1 class="h1 clr-blue">Advocacy</h1>
<hr class="margin-40" />
<h2 class="p1">Commission on Small Business Innovation and Advocacy</h2>
<hr class="spacer-20" />
<p>Is a regulation, law or mandate affecting your small business? As a small-business owner, you need a voice in state government. The Kentucky Commission on Small Business Innovation and Advocacy (CSBIA) is that voice.The CSBIA is an independent state commission that relies on the expertise of a thirteen-member board, appointed by the Governor.</p>
<p>The CSBIA provides information on proposed state legislation, regulations and recently enacted state law that impact small business. The Commission looks at issues such as licensing/permitting requirements, taxes, and other areas of government that affect small business.</p>
<p>The CSBIA exists to accomplish the following:</p>
<ul>
<li>Address matters of small business as it relates to government affairs</li>
<li>Promote a cooperative and constructive relationship between state agencies and the small business community to ensure coordination and implementation of statewide strategies that benefit small businesses in the Commonwealth</li>
<li>Coordinate and educate the small business community on federal, state, and local government initiatives of value and importance to the small business community</li>
<li>Create a process by which the small business community is consulted in the development of public policy</li>
<li>Aid the small business community in navigating the regulatory process, when that process becomes cumbersome, time consuming, and bewildering to the small business community</li>
<li>Advocate for the small business, as necessary when regulatory implementation is overly burdensome, costly, and harmful to the success and growth of small businesses in the Commonwealth</li>
<li>Collect information and research those public policies and government practices which are helpful or detrimental to the success and growth of the small business community</li>
<li>Review administrative regulations and provide advisory opinions on potential impact to small business</li>
</ul>
<p>Interested parties may review proposed new regulations and legislation and provide comment.</p>
<p>To review proposed new regulations, <a href="https://secure.kentucky.gov/regwatch/" target="_blank" rel="noopener">visit the RegWatch page</a>.<br />To review proposed and new legislation, see <a href="//legislature.ky.gov" target="_blank" rel="noopener">the Legislative Research Commission page</a>.</p>
<p>If you have questions or comments about the impact of government regulations on small business, please email <a href="mailto:CSBA@ky.gov">CSBA@ky.gov</a> or call 502-564-7670.</p>
<p>The CSBA is overseen by a board of business owners and is appointed by the Governor.</p>
<p><a title="Incentive Program Overview" href="https://cedky.com/cdn/1847_2022.02.23_State_Incentive_Programs.pdf">Incentive Program Overview</a></p>
<hr class="margin-40" /><a class="btn sm" href="/Home/BoardsCommissions#csbia">Current members</a><hr class="margin-40" />
<h3 class="col-12 col-md-9">CSBIA Meeting Dates<br /><br /></h3>
<ul>
<li>February 9, 2024 (11 a.m.)</li>
<li>May 10, 2024 (11 a.m.)</li>
<li>August 9, 2024 (11 a.m.)</li>
<li>September 13, 2024 (11 a.m.)</li>
</ul>
<h3 class="col-12 col-md-9">CSBIA Meeting Materials</h3>
<hr class="spacer-20" />
<ul>
<li>Aug 2024
<ul>
<li><a title="2024.08.09 CSBIA - Agenda" href="https://cedky.com/cdn/1847_2024-08-09_CSBIA_Agenda.pdf" target="_blank" rel="noopener">2024.08.09 CSBIA - Agenda</a></li>
</ul>
</li>
<li>May 2024
<ul>
<li><a title="https://cedky.com/cdn/1847_2024-05-10_CSBIA_Agenda.pdf" href="https://cedky.com/cdn/1847_2024-05-10_CSBIA_Agenda.pdf" target="_blank" rel="noopener">2024.05.10 CSBIA - Agenda</a></li>
</ul>
</li>
<li>February 2024
<ul>
<li><a href="https://cedky.com/cdn/1847_2024-02-09_CSBIA_Agenda.pdf">2024.02.09 CSBIA - Agenda</a></li>
<li><a title="February Minutes - Signed" href="https://cedky.com/cdn/1847_Feb_2024_Minutes_Signed.pdf" target="_blank" rel="noopener">February Minutes - Signed</a></li>
</ul>
</li>
<li>November 2023
<ul>
<li><a href="https://cedky.com/cdn/1847_2023-11-03_CSBIA_Agenda.pdf">2023.11.03 CSBIA - Agenda</a></li>
<li><a href="https://cedky.com/cdn/1847_CSBIA_November_2023_Minutes_Signed.pdf" target="_blank" rel="noopener">November Minutes - Signed</a></li>
</ul>
</li>
</ul>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#archiveMaterials" aria-expanded="false" aria-controls="archiveMaterials"> Archived Materials </button>
<ul id="archiveMaterials" class="collapse">
<li>March 2023
<ul>
<li><a href="https://cedky.com/cdn/1847_2023-03-03_CSBIA_Agenda.pdf">2023.03.03 CSBI - Agenda</a></li>
</ul>
</li>
<li>August 2021
<ul>
<li><a href="https://cedky.com/cdn/1847_Annual_Report_Final_Draft_Clean_Signed_Final_.pdf" target="_blank" rel="noopener">Annual_Report_Final_Draft_Clean_Signed_Final_.pdf</a></li>
<li><a href="https://cedky.com/cdn/1847_2021.08.10_CSBIA_-_Meeting_Notice.pdf" target="_blank" rel="noopener">2021.08.10_CSBIA_-_Meeting_Notice.pdf</a></li>
<li><a href="https://cedky.com/cdn/1847_2021.05.14_CSBIA_Minutes_Final_Approved_.pdf" target="_blank" rel="noopener">2021.05.14_CSBIA_Minutes_Final_Approved_.pdf</a></li>
<li><a href="https://cedky.com/cdn/1847_2021.01.15_CSBA_Minutes_Final_Approved_.pdf" target="_blank" rel="noopener">2021.01.15_CSBA_Minutes_Final_Approved_.pdf</a></li>
<li><a href="https://cedky.com/cdn/1847_Attachment_A__2020_Ombudsman_Report.pdf" target="_blank" rel="noopener">Attachment_A__2020_Ombudsman_Report.pdf</a></li>
</ul>
</li>
<li>May 2021
<ul>
<li><a href="https://cedky.com/cdn/1847_2021-05-14_EDC_presentation.pdf" target="_blank" rel="noopener">2021-05-14_EDC_presentation.pdf</a></li>
<li><a href="https://cedky.com/cdn/1847_2021-05-14_Agenda.pdf" target="_blank" rel="noopener">2021-05-14_Agenda.pdf</a></li>
<li><a href="https://cedky.com/cdn/1847_2021-05-07_State_Incentive_Programs.pdf" target="_blank" rel="noopener">2021-05-07_State_Incentive_Programs.pdf</a></li>
</ul>
</li>
<li>January 2021
<ul>
<li><a href="https://cedky.com/cdn/1847_2021-1-15_Agenda.pdf" target="_blank" rel="noopener">2021-1-15_Agenda.pdf</a></li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<hr class="spacer-60" />
<h2>Small Business Ombudsmen</h2>
<hr class="spacer-20" />
<p>If you are a small business and need assistance due to a regulation that&rsquo;s causing you difficulty, or if your small business is experiencing any other problem for which the state can provide help, Kentucky&rsquo;s small business ombudsmen are here for you.</p>
<p>Each cabinet in Kentucky state government has a small business ombudsman who will work with you to resolve issues you may face. Those ombudsmen are listed below. Click on the ombudsman&rsquo;s email address and send him/her the specific issue you are facing. Be sure to include complete contact information so that the proper ombudsman can follow up with you about your situation.</p>
<hr class="spacer-40" />
<div class="row">
<div class="col-12 col-sm-6 col-md-4"><strong>Health and Family Services</strong> <br />Imelda Pastrano<br /><a href="mailto:Imelda.pastrano@ky.gov">Imelda.pastrano@ky.gov</a><hr class="spacer-40" /></div>
<div class="col-12 col-sm-6 col-md-4"><strong>Military Affairs</strong><br />April Brown, Lieutenant Colonel (Ret.)<br /><a href="mailto:judith.a.brown38.nfg@mail.mil">judith.a.brown38.nfg@mail.mil</a><hr class="spacer-40" /></div>
<div class="col-12 col-sm-6 col-md-4"><strong>Economic Development</strong><br />Matthew D. Wingate <br /><a href="mailto:matthew.wingate@ky.gov">Matthew.Wingate@ky.gov</a><hr class="spacer-40" /></div>
<div class="col-12 col-sm-6 col-md-4"><strong>Energy and Environment</strong><br />Kari Johnson<br /><a href="mailto:Kari.Johnson@ky.gov">Kari.Johnson@ky.gov</a><hr class="spacer-40" /></div>
<div class="col-12 col-sm-6 col-md-4"><strong>Finance</strong><br />Brad Nilsson<br /><a href="mailto:Brad.nilsson@ky.gov">Brad.nilsson@ky.gov</a><hr class="spacer-40" /></div>
<div class="col-12 col-sm-6 col-md-4"><strong>Justice and Public Safety</strong><br />Gina Hill<br /><a href="mailto:gina.hill@ky.gov">gina.hill@ky.gov</a><hr class="spacer-40" /></div>
<div class="col-12 col-sm-6 col-md-4"><strong>Education and Labor</strong><br />Marjorie Arnold<br /><a href="mailto:marjorie.arnold@ky.gov">marjorie.arnold@ky.gov</a><hr class="spacer-40" /></div>
<div class="col-12 col-sm-6 col-md-4"><strong>Personnel</strong><br />Tanya Lawrence<br /><a href="mailto:TanyaR.Lawrence@ky.gov">TanyaR.Lawrence@ky.gov</a><hr class="spacer-40" /></div>
<div class="col-12 col-sm-6 col-md-4"><strong>Public Protection</strong><br />Sherelle Roberts-Pierre<br /><a href="mailto:Sherelle.Roberts@ky.gov">Sherelle.Roberts@ky.gov</a><hr class="spacer-40" /></div>
<div class="col-12 col-sm-6 col-md-4"><strong>Tourism, Arts &amp; Heritage</strong><br />Jessica Tyler<br /><a href="mailto:jessicas.tyler@ky.gov">jessicas.tyler@ky.gov</a><hr class="spacer-40" /></div>
<div class="col-12 col-sm-6 col-md-4"><strong>Transportation</strong><br />Kenny Bishop<br /><a href="mailto:kenny.bishop@ky.gov">kenny.bishop@ky.gov</a><hr class="spacer-40" /></div>
</div>
</section>