<section class="col-12 col-md-9">
<h1 class="h1 clr-blue">Angel Investment Tax Credit</h1>
<div>
<p class="x_MsoListParagraph">2025 applications for the Kentucky Angel Investment Act program are now available. Investors wanting to participate in the Angel Investment Act tax credit program during calendar year 2025 need to submit a Qualified Investment/Investor application for each planned investment. Businesses wanting to participate in the Angel Investment Act program during calendar year 2025 need to submit a new 2025 Qualified Small Business application, even if certification was obtained in a prior year. 2025 applications can be submitted for processing on or after Friday, December 13, 2024, at 9 a.m. local time in Frankfort, Ky.</p>
<p class="x_MsoListParagraph">See the Additional Resources section below for the most current version of the Kentucky Angel Investment Act Guidelines and applications. Applications must be submitted on the current form. For assistance with applications, email&nbsp;<a class="track" title="mailto:ced.angel@ky.gov" href="mailto:ced.angel@ky.gov" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" data-linkindex="4" data-label="CED Tracked Click: KAITC Help Email">ced.angel@ky.gov</a>.</p>
</div>
<hr class="spacer-60" />
<h2>Encouraging Capital Investments in Kentucky Small Businesses</h2>
<hr class="spacer-20" />
<p>The Cabinet for Economic Development understands that investment in Kentucky small businesses is crucial to the economic welfare of the Commonwealth. To encourage business growth and job creation, the Kentucky Angel Investment Act Tax Credit allows angel investors &ndash; people who provide capital for startup companies &ndash; to receive tax credits. Qualified investors can receive a tax credit of up to 40 percent of their investment in counties with high unemployment rates, or <a href="https://cedky.com/cdn/1740_KBIEnhancedCounties.pdf" target="_blank" rel="noopener">enhanced counties</a>, and 25 percent in all other counties.</p>
<p>The purpose of the Kentucky Angel Investment Tax Credit program is to encourage qualified individual investors to make capital investments in Kentucky small businesses, create additional jobs, and promote the development of new products and technologies. Qualified individual investors making qualified investments in qualified small businesses may be eligible for incentives in this program. The Commonwealth, through KEDFA, allocates the credits to qualified investors.</p>
<p>The Cabinet does not provide financial screening of the companies or individuals involved in the program and limits its certification to the statutory parameters for a Qualified Investor, Qualified Small Business and Qualified Investment per KRS 154.20-230 through 240. Cabinet staff will not perform due diligence on the small businesses and cannot guarantee any return on investment.</p>
<p>&nbsp;</p>
<p style="font-weight: bold;">Key Guidelines:</p>
<ul>
<li>A Qualified Small Business is a legal entity registered and in good standing with the Kentucky Secretary of State and has no more than 100 full-time employees.</li>
<li>The business must be engaged in Bioscience; Environmental and energy technology; Health and human development; Information technology and communications; Materials science and advanced manufacturing; or Other new economy knowledge based activity.</li>
<li>A Qualified Investor holds no more than twenty percent (20%) ownership in and is not employed by the Qualified Small Business prior to making a Qualified Investment in that business.</li>
<li>A Qualified Investment is a minimum cash investment of $10,000 made by a Qualified Investor in a Qualified Small Business.</li>
<li>Tax credits may be transferred to an individual tax payer and can be carried forward for up to 15 years.</li>
</ul>
<hr class="spacer-20" />
<p>Refer to the Kentucky Angel Investment Act Guidelines for more detailed program information.</p>
<p><strong>Additional Resources</strong></p>
<ul><!-- TODO -->
<li><a class="noCache track" href="https://cedky.com/cdn/1740_angelguidelines.pdf" target="_blank" rel="noopener" data-label="CED Download KAITC: Kentucky Angel Investment Act Guidelines">Kentucky Angel Investment Act Guidelines (PDF)</a></li>
<li><a title="Qualified small business application" href="https://cedky.com/cdn/1741_QualifiedSmallBusiness.xlsx?25" target="_blank" rel="noopener">Qualified Small Business Application (Excel)</a></li>
<li><a title="Qualified Investments application" href="https://cedky.com/cdn/1741_QualifiedInvestmentApp.xlsx?25" target="_blank" rel="noopener">Qualified Investment/Investor Application (Excel)</a></li>


<li><a title="2025 Qualified Small Business List" href="https://cedky.com/cdn/1741_2025_Qualified_Small_Business_List.pdf?1-23" target="_blank" rel="noopener">2025 Qualified Small Business List (PDF)</a></li>

</ul>





        <button class="btn btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoThree" aria-expanded="false" aria-controls="2023">
          Archived Reports
        </button>



    <div id="collapseTwoThree" class="collapse" aria-labelledby="headingOne" data-parent="#collapseTwoThree">
      <div class="card-body">
          <ul class="singleSpace">
          
<li><a title="2024 Qualified Investments List" href="https://cedky.com/cdn/1741_2024_Qualified_Investments_List.pdf?1-23" target="_blank" rel="noopener">2024 Qualified Investments List (PDF)</a></li>
<li><a title="2023 Qualified Investments List" href="https://cedky.com/cdn/1741_2023_Qualified_Investments_List.pdf?8-2" target="_blank" rel="noopener">2023 Qualified Investments List (PDF)</a></li>
<li><a class="noCache" title="2022 Qualified Investments List" href="https://cedky.com/cdn/1741_2022_Qualified_Investments_List.pdf">2022 Qualified Investments List</a></li>
<li><a class="noCache" title="2021 Qualified Investments List" href="https://cedky.com/cdn/1741_2021_Qualified_Investments_List.pdf">2021 Qualified Investments List</a></li>
<li><a class="noCache" title="2015 Qualified Investments List" href="https://cedky.com/cdn/kyedc/QualifiedInvestments2015-2018.pdf?59" target="_blank" rel="noopener">List of Qualified Investments 2015 &ndash; 2018 (PDF)</a></li>

          </ul>
      </div>
    </div>



</section>