<section id="primary" class="col-12 col-md-9">
	<h1 class="h1 clr-blue">Partnership Board</h1>
	<hr class="margin-40" />
	<p>
Comprised of 13 public-private sector members, the Partnership Board provides strategic governance to the Cabinet. The Partnership Board provides oversight of strategic plans, goals and structure for the Cabinet. 
<br>
<br>
<a class="btn sm" href="/Home/BoardsCommissions" target="_blank" rel="noopener">Board Members</a>
</p>

<hr class="spacer-40" />
<h4 class="h4">Partnership Board Meeting Materials</h4>
<hr class="spacer-10" />
<ul>
<li><a title="SPECIAL Partnership Agenda - Dec 17 2020" href="https://cedky.com/cdn/1806_SPECIAL_Partnership_Agenda_-_Dec_17_2020.pdf">SPECIAL Partnership Agenda - Dec 17 2020</a></li>
</ul>

</section>