<h1 class="h1 clr-blue">Contact Us</h1>
<hr class="margin-40" />
<p>Kentucky&rsquo;s European Representative Office is your link to doing business in the U.S. We serve all of the European market from our office in Hamburg, Germany. Please contact us if you would like to learn more about Kentucky and how we can assist your U.S. growth.</p>
<h2>Staff Contacts</h2>
<hr class="margin-40" />
<div class="seniorStaff">
	<div class="col-sm-3">
		<img src="https://cedky.com/cdn/1727_Finn_Weisse.jpg" width="300" />
	</div>
	<div class="col-sm-8">
		<h4><a href="mailto:ffinn.weisse@teamkentucky.international">Finn Weisse</a></h4>
		<p style="margin-bottom: 0px;"><strong>Executive Directory, European Office</strong><br />Responsible for the development and administration of Kentucky&rsquo;s economic development activities in Europe. Oversees lead generation and business development efforts, as well as trade promotion and assistance for existing industry clients.</p>
		<div class="clear">&nbsp;</div>
	</div>
	<div class="col-sm-3">
		<img src="https://cedky.com/cdn/1727_victor.jpg" width="300" />
	</div>
	<div class="col-sm-8">
		<h4><a href="mailto:victor.ehrnrooth@teamkentucky.international">Victor Ehrnrooth</a></h4>
		<p style="margin-bottom: 0px;"><strong>Executive Directory, European Office</strong></p>
		<div class="clear">&nbsp;</div>
	</div>
</div>