<section id="BR_checklist" class="section">
<div class="container">
<div class="row">
<div class="col-12 col-sm-3"><a title="Click to View Map" href="https://cedky.com/cdn/1964_Build_Ready_Sites_Map.pdf?08132024"> <img style="width: 100%; margin-top: 30px;" src="https://cedky.com/cdn/1964_Buildready_sites.png?08132024" /></a>

<br>
<br>
<a class="btn dark" title="View Sites on Selectkentucky.com" href="https://properties.zoomprospector.com/kentucky?page=1&s[SortDirection]=false&s[radiusLat]=0&s[SizeUnits]=1&s[radius]=0&s[radiusLng]=0&s[SortBy]=county&s[Attributes]=624%3A%5B%3D%5D1&s[IsBuilding]=false&layers=KENTUCKYBOUNDARY&reportName=demographics&lat=37.47851175393667&lng=-85.74782734375&zoom=7" target="_blank">Build-Ready Sites on SelectKentucky</a>




</div>
<div class="col-12 col-sm-8">
<ul id="buildReadySites">
<li>
<div class="col-6">
<div class="content">
<h2 id="siteHeader">Sites</h2>
</div>
</div>
<div class="col-6">
<div class="content">
<h2 id="countyHeader">County Name</h2>
</div>
</div>
</li>


<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/property/238-Development-Drive-Columbia-KY-42728-Columbia-Kentucky/831AA76B-815C-4A9B-A02B-F095199F2502 " target="_blank" rel="noopener">Green River Commerce Park</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/community/Adair-County-KY-/21001" target="_blank" rel="noopener">Adair County</a></div>
</div>
</li>
<li>
<div class="col-6 site">
<div class="content"><a href="http://properties.zoomprospector.com/KENTUCKY/property/admin/f0048167-c658-400e-a981-84e49b1d2bac" target="_blank" rel="noopener">EastPark Industrial Center &ndash; Site B</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/community/Boyd-County-KY/21019" target="_blank" rel="noopener">Boyd County</a></div>
</div>
</li>
<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/property/99-Corporate-Dr-Danville-KY-40422-Danville-Kentucky/ABA32FA9-B88A-484B-9D5F-07AE8DBF89CF" target="_blank" rel="noopener">John H. Stigall Business Center</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/community/Boyle-County-KY/21021" target="_blank" rel="noopener"> Boyle County</a></div>
</div>
</li>


<li>
<div class="col-6 site">
<div class="content"><a href="http://properties.zoomprospector.com/KENTUCKY/property/admin/0a91aa17-2d7f-4107-82ff-5931a09a1831" target="_blank" rel="noopener">Princeton Industrial Park</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/community/Caldwell-County-KY/21033" target="_blank" rel="noopener">Caldwell County</a></div>
</div>
</li>


<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/property/2200-Maysville-Rd-Flemingsburg-KY-41041-Flemingsburg-Kentucky/9684194C-3944-4114-9707-F6039A568904" target="_blank" rel="noopener">Flemingsburg Industrial Park IV</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/community/Fleming-County-KY-/21069" target="_blank" rel="noopener">Fleming County</a></div>
</div>
</li>


<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/property/admin/2bd6d07a-7703-484f-bce5-98954a1582dd" target="_blank" rel="noopener">Harlan County Business Park</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/community/Harlan-County-KY/21095" target="_blank" rel="noopener">Harlan County</a></div>
</div>
</li>



<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/property/admin/6D040629-D306-4221-AD3B-6E5CB5812EF1" target="_blank" rel="noopener">4 Star Regional Industrial Park - 150,000SF Build Ready Building Pad</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/community/Henderson-County-KY/21101" target="_blank" rel="noopener">Henderson County</a></div>
</div>
</li>


<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/property/admin/155297f0-6451-4550-87df-07b23f738f85" target="_blank" rel="noopener">
4 Star Regional Industrial Park - Sandy Lee Watkins Build Ready Site</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/community/Henderson-County-KY/21101" target="_blank" rel="noopener">Henderson County</a></div>
</div>
</li>


<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/property/3656-KY-3630-Annville-KY-40402-Annville-Kentucky/EC1BDB3F-B7A2-4533-9632-D9A28DB5FC50 " target="_blank" rel="noopener">Annville-Jackson Co. Regional Industrial Park </a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/community/Jackson-County-KY-/21109" target="_blank" rel="noopener"> Jackson County </a></div>
</div>
</li>
<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/property/441-Industrial-Park-Rd-Paintsville-KY-41240-Paintsville-Kentucky/5685A4DC-A574-46B2-97EE-FFECDE355125" target="_blank" rel="noopener"> Hager Hill Industrial Park </a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/community/Boyle-County-KY/21021" target="_blank" rel="noopener"> Johnson County </a></div>
</div>
</li>
<li>
<div class="col-6 site">
<div class="content"><a href="http://properties.zoomprospector.com/KENTUCKY/property/admin/86801013-e24a-45f1-85c5-d0e27d44e980" target="_blank" rel="noopener">Shelton Lane Industrial Park</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/community/Logan-County-KY/21141" target="_blank" rel="noopener">Logan County</a></div>
</div>
</li>
<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/property/admin/bab715a0-f561-462d-abb6-6e6a58bb0b28" target="_blank" rel="noopener">Eddyville Industrial Park- Site A</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/community/Lyon-County-KY-/21143" target="_blank" rel="noopener">Lyon County</a></div>
</div>
</li>
<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/property/admin/7662fb33-c99a-4239-b0b5-dc057b7d8596" target="_blank" rel="noopener">Eddyville Industrial Park- Site B</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/community/Lyon-County-KY-/21143" target="_blank" rel="noopener">Lyon County</a></div>
</div>
</li>


<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/property/3000-Bill-Robertson-Way-Richmond-KY-40475-Richmond-Kentucky/7F2A4E1A-9724-4745-81E2-E02806CAE6F4" target="_blank" rel="noopener">Richmond Industrial Park South III</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/community/Madison-County-KY/21151" target="_blank" rel="noopener">Madison County</a></div>
</div>
</li>

<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/property/admin/cd30a4e8-9b3f-4bd2-894d-51fb3e90387c" target="_blank" rel="noopener">Richmond Industrial Park South III -- Build Ready Site - Pad 1</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/community/Madison-County-KY/21151" target="_blank" rel="noopener">Madison County</a></div>
</div>
</li>

<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/property/admin/7f2a4e1a-9724-4745-81e2-e02806cae6f4" target="_blank" rel="noopener">Richmond Industrial Park South III -- Build Ready Site - Pad 2</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/community/Madison-County-KY/21151" target="_blank" rel="noopener">Madison County</a></div>
</div>
</li>

<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/property/admin/7f2a4e1a-9724-4745-81e2-e02806cae6f4" target="_blank" rel="noopener">Richmond Industrial Park South III -- Build Ready Site - Pad 3</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/community/Madison-County-KY/21151" target="_blank" rel="noopener">Madison County</a></div>
</div>
</li>

<li><!-- NEW -->
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/property/admin/987afc95-840f-4ef7-905a-a3ea1c466199" target="_blank" rel="noopener">Southwest One Industrial Park</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/community/Marshall-County-KY-/21157" target="_blank" rel="noopener">Marshall County</a></div>
</div>
</li>
<li>
<div class="col-6 site">
<div class="content"><a href="http://properties.zoomprospector.com/KENTUCKY/property/admin/cb5e939c-061a-4deb-abbc-9d5ba36771a4" target="_blank" rel="noopener">Woodland Industrial Park</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/community/Montgomery-County-KY/21173" target="_blank" rel="noopener">Montgomery County</a></div>
</div>
</li>
<li>
<div class="col-6 site">
<div class="content"><a href="http://properties.zoomprospector.com/KENTUCKY/property/admin/96147a25-5366-48dd-bb04-49f93d4bebc3" target="_blank" rel="noopener">Paradise Regional Business Park</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/community/Muhlenberg-County-KY/21177" target="_blank" rel="noopener">Muhlenberg County</a></div>
</div>
</li>
<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/property/admin/e67cb350-6667-40c6-92e7-7a48a89c9acd" target="_blank" rel="noopener">Bluegrass Crossings Business Centre</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/community/Ohio-County-KY/21183" target="_blank" rel="noopener">Ohio County</a></div>
</div>
</li>


<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/property/150-Progress-Way-Owenton-KY-40359-Owenton-Kentucky/624C6092-8368-4F5A-987A-77A6275FEA37" target="_blank" rel="noopener">Owenton Industrial Park</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/community/Owen-County-KY-/21187" target="_blank" rel="noopener">Owen County</a></div>
</div>
</li>



<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/property/admin/db94d9ba-ae1c-4d80-b664-84127bd9d3a0" target="_blank" rel="noopener">John Will Stacy MMRC Regional Business Park, Lot 1B</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/community/Rowan-County-KY-/21205" target="_blank" rel="noopener">Rowan County</a></div>
</div>
</li>

<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/property/admin/09d6cae5-02f2-43f4-97d8-4e25e679a2d6" target="_blank" rel="noopener">John Will Stacy MMRC Regional Business Park, Lot 10 </a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/community/Rowan-County-KY-/21205" target="_blank" rel="noopener">Rowan County</a></div>
</div>
</li>



<li>
<div class="col-6 site">
<div class="content"><a href="http://properties.zoomprospector.com/KENTUCKY/property/admin/e879e11f-c907-4535-b700-8541d9d8a21b" target="_blank" rel="noopener">Lake Cumberland Regional Industrial Complex (Certified Food &amp; Beverage)</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/community/Russell-County-KY/21207" target="_blank" rel="noopener">Russell County</a></div>
</div>
</li>


<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/property/admin/f598555f-4ec2-4601-873d-22a3951af4cf" target="_blank" rel="noopener">Heartland Commerce &amp; Technology Park</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/community/Taylor-County-KY/21217" target="_blank" rel="noopener">Taylor County</a></div>
</div>
</li>
<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/KENTUCKY/property/admin/01043abc-205a-49bf-9354-3b2e9d342d1a" target="_blank" rel="noopener"> Washington County Commerce Center </a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/community/Boyle-County-KY/21021" target="_blank" rel="noopener"> Washington County </a></div>
</div>
</li>
<li>
<div class="col-6 site">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/property/1777-KY-90-Monticello-KY-42633-Monticello-Kentucky/866FD03D-BD86-4518-9FB7-B97F77FD3EFB" target=" rel=">Monticello-Wayne County Business Park - Build-Ready Site</a></div>
</div>
<div class="col-6 county">
<div class="content"><a href="https://properties.zoomprospector.com/kentucky/community/Wayne-County-KY-/21231" target="_blank" rel="noopener">Wayne County</a></div>
</div>
</li>
</ul>
<em> </em></div>
</div>
</div>
</section>