<section id="primary" class="col-12 col-md-9">
<h1 class="h1 clr-blue">Our Partners</h1>
<hr class="margin-40" />
<p>We all know that economic development doesn&rsquo;t happen in silos. It takes a team of dedicated and driven individuals, organizations, state and local leaders and many others. The Commonwealth of Kentucky is fortunate to have a strong network of partners across the state that work hard to build better communities, grow a stronger economy and cultivate new opportunities. The Cabinet would like to thank and recognize its many partners listed below.</p>
<hr class="spacer-40" />
<ul>
<li><a href="http://governor.ky.gov/Pages/index.aspx " target="_blank" rel="noopener">Governor's Office</a></li>
<li><a href="https://www.kyagr.com/agpolicy/" target="_blank" rel="noopener">Governor&rsquo;s Office of Ag Policy</a></li>
<li><a href="https://kydlgweb.ky.gov/" target="_blank" rel="noopener">Dept. for Local Government</a></li>
<li><a href="http://kia.ky.gov/" target="_blank" rel="noopener">Kentucky Infrastructure Authority</a></li>
<li><a href="http://kcma.ky.gov/" target="_blank" rel="noopener">Commission on Military Affairs</a></li>
<li><a href="http://osbd.ky.gov/Pages/default.aspx" target="_blank" rel="noopener">Office of the State Budget Director</a></li>
<li><a href="https://finance.ky.gov/" target="_blank" rel="noopener">Finance &amp; Administration Cabinet</a></li>
<li><a href="http://revenue.ky.gov/" target="_blank" rel="noopener">Department of Revenue</a></li>
<li><a href="http://finance.ky.gov/offices/controller/ofm/Pages/default.aspx" target="_blank" rel="noopener">Office of Financial Management</a></li>
<li><a href="http://technology.ky.gov/" target="_blank" rel="noopener">Commonwealth Office of Technology</a></li>
<li><a href="http://eec.ky.gov/" target="_blank" rel="noopener">Energy and Environment Cabinet</a></li>
<li><a href="https://elc.ky.gov/" target="_blank" rel="noopener">Kentucky Education and Labor Cabinet</a></li>
<li><a href="http://transportation.ky.gov/" target="_blank" rel="noopener">Transportation Cabinet</a></li>
<li><a href="http://tah.ky.gov/" target="_blank" rel="noopener">Tourism, Arts and Heritage Cabinet</a></li>
<li><a href="http://www.kyagr.com/" target="_blank" rel="noopener">Dept. of Agriculture</a></li>
<li><a href="http://www.sos.ky.gov/" target="_blank" rel="noopener">Secretary of State&rsquo;s Office</a></li>
<li><a href="https://legislature.ky.gov/LRC/Pages/default.aspx" target="_blank" rel="noopener">Legislative Research Commission</a></li>
</ul>
<hr class="spacer-20" />
<ul>
<li><a href="http://www.cpe.ky.gov/" target="_blank" rel="noopener">Council on Postsecondary Education</a></li>
<li><a href="http://www.eku.edu/" target="_blank" rel="noopener">Eastern Kentucky University</a></li>
<li><a href="http://www.kctcs.edu/" target="_blank" rel="noopener">Kentucky Community and Technical College (KCTCS)</a></li>
<li><a href="http://kysu.edu/" target="_blank" rel="noopener">Kentucky State University</a></li>
<li><a href="http://www.moreheadstate.edu/" target="_blank" rel="noopener">Morehead State University</a></li>
<li><a href="http://www.murraystate.edu/" target="_blank" rel="noopener">Murray State University</a></li>
<li><a href="http://www.nku.edu/" target="_blank" rel="noopener">Northern Kentucky University</a></li>
<li><a href="https://www.wku.edu/" target="_blank" rel="noopener">Western Kentucky University</a></li>
<li><a href="http://www.uky.edu/" target="_blank" rel="noopener">University of Kentucky</a></li>
<li><a href="http://louisville.edu/" target="_blank" rel="noopener">University of Louisville</a></li>
</ul>
<hr class="spacer-20" />
<ul>
<li><a href="http://www.cvky.org/" target="_blank" rel="noopener">Community Ventures Corporation</a></li>
<li><a href="http://www.cpe.ky.gov/" target="_blank" rel="noopener">Council on Postsecondary Education</a></li>
<li><a href="http://www.kaedonline.org/" target="_blank" rel="noopener">Kentucky Association for Economic Development (KAED)</a></li>
<li><a href="http://www.kam.us.com/" target="_blank" rel="noopener">Kentucky Association of Manufacturers (KAM)</a></li>
<li><a href="http://www.kyautoindustry.com" target="_blank" rel="noopener">Kentucky Auto Industry Association</a></li>
<li><a href="http://www.kychamber.com/" target="_blank" rel="noopener">Kentucky Chamber of Commerce</a></li>
<li><a href="http://www.kcadd.org/" target="_blank" rel="noopener">Kentucky Council of Area Development Districts</a></li>
<li><a href="http://www.khic.org/" target="_blank" rel="noopener">Kentucky Highlands Investment Corporation</a></li>
<li><a href="http://www.kstc.com/" target="_blank" rel="noopener">Kentucky Science and Technology Corporation</a></li>
<li><a href="http://www.ksbdc.org/" target="_blank" rel="noopener">Kentucky Small Business Development Center</a></li>
<li><a href="http://www.wtcky.org/" target="_blank" rel="noopener">Kentucky World Trade Center</a></li>
<li><a href="http://www.maced.org/" target="_blank" rel="noopener">The Mountain Association for Community Development (MACED)</a></li>
<li><a href="http://soar-ky.org/" target="_blank" rel="noopener">Shaping our Appalachian Region (SOAR)</a></li>
<li><a href="http://www.southeastkentucky.com/" target="_blank" rel="noopener">Southeast Kentucky Economic Development (SKED)</a></li>
</ul>
</section>