<section class="col-12 col-md-9">
<h1 class="h1 clr-blue">KY Business Incentives</h1>
<hr class="margin-40" />
<p>Kentucky's pro-business climate provides a number of incentives for businesses. The Kentucky Economic Development Finance Authority (KEDFA), established within the Cabinet for Economic Development to encourage economic development, business expansion, and job creation, provides financial support through an array of financial assistance and tax credit programs. Helping businesses in this way furthers the Commonwealth's goals of achieving long-term economic growth and employment opportunities for its citizens.</p>
<p>KEDFA approval is required for participation in the loan and tax incentive programs, except the Skills Training Investment credits, which are approved by the Bluegrass State Skills Corporation (BSSC). KEDFA meets the last Thursday of each month. Projects must be received by the last Friday of the month prior to the KEDFA meeting date in order to be considered.</p>
<p>To find out if your business qualifies contact the <a href="https://ced.ky.gov/Locating_Expanding"> Department for Business Development</a> where a professional economic development agent will be assigned to work with you. Your agent can answer your questions and guide you through the application processes.</p>
<hr class="spacer-60" />
<h4>New and Expanding Industry</h4>
<hr class="spacer-10" />
<ul>
<li><a class="noCache" href="https://cedky.com/cdn/1740_KBIFactSheet.pdf" target="_blank" rel="noopener">Kentucky Business Investment (KBI) Program &ndash; (PDF)</a><br />Provides income tax credits and wage assessments to new and existing agribusinesses, headquarters operations, manufacturing companies, coal severing and processing companies, hospital operations, &nbsp;alternative fuel, gasification, energy-efficient alternative fuels, renewable energy production companies, carbon dioxide transmission pipelines and non-retail service or technology related companies that locate or expand operations in Kentucky. Projects locating in certain counties may qualify for enhanced incentives. Click <a class="noCache" href="https://cedky.com/cdn/1740_KBIEnhancedCounties.pdf?6-27" target="_blank" rel="noopener">here</a> to view a map of the enhanced incentive counties.</li>
<li><a class="noCache" href="https://cedky.com/cdn/1740_keia.pdf" target="_blank" rel="noopener">Kentucky Enterprise Initiative Act (KEIA)(PDF)</a> <br />For new or expanded companies engaged in manufacturing, non-retail service or technology activities, agribusiness, headquarters operations, coal severing and processing, hospital operations, alternative fuel, gasification, energy-efficient alternative fuels, renewable energy production companies, carbon dioxide transmission pipelines, or tourism attraction projects in Kentucky. KEIA provides a refund of Kentucky sales and use tax paid by approved companies for building and construction materials permanently incorporated as an improvement to real property. It is also available for Kentucky sales and use tax refunds for eligible equipment used for research and development, data processing equipment or flight simulation equipment.</li>
<li><a class="noCache" href="https://cedky.com/cdn/1740_kedfadirectloan.pdf" target="_blank" rel="noopener">Direct Loan Program (KEDFA) (PDF)</a> <br />KEDFA encourages economic development business expansion and job creation by providing business loans to supplement other financing. The Direct Loan Program provides loans at below-market interest rates (subject to the availability of state revolving loan funds) for fixed asset financing for agribusiness, tourism, industrial ventures, or the service industry. Retail projects are not eligible.</li>
<li><a class="noCache" href="https://cedky.com/cdn/1740_irb.pdf" target="_blank" rel="noopener">Industrial Revenue Bonds - IRB (PDF)</a> <br />IRBs issued by state and local governments in Kentucky can be used to finance manufacturing projects and their warehousing areas, major transportation and communication facilities, most health care facilities, and mineral extraction and processing projects. Click <strong><a class="noCache" href="https://cedky.com/cdn/1740_irbprocedures.pdf" target="_blank" rel="noopener">here</a></strong> for the IRB Procedures.</li>
<li><a href="http://kydlgweb.ky.gov/FederalGrants/16_CDBG.cfm" target="_blank" rel="noopener">Community Development Block Grants Loans - CDBG </a> <br />Federally funded low interest loans made available through the Department for Local Government.</li>

<li><a class="noCache" href="https://cedky.com/cdn/1740_Qualified_Data_Center_Program_Fact_Sheet_2024-12.pdf" target="_blank" title="Data Center Project Incentive Program" rel="noopener">Kentucky Qualified Data Center Project Incentive Program – (PDF)</a> <br />Provides sales and use tax exemption incentives for an approved company with a qualified data center project.</li>

<li><a class="noCache" href="https://cedky.com/cdn/1740_Fact_Sheet_-_Kentucky_Cryptocurrency_Projects_-_September_2021.pdf" target="_blank" rel="noopener">Cryptocurrency Projects</a> <br />Resources and programs applicable to cryptocurrency mining and related projects.</li>
</ul>
<hr class="spacer-60" />
<h4>Job Retention</h4>
<hr class="spacer-10" />
<ul>
<li><a class="noCache" href="https://cedky.com/cdn/1740_KRAFactSheet.pdf" target="_blank" rel="noopener">Kentucky Reinvestment Act (KRA) - (PDF)</a> <br />Provides tax credits to existing Kentucky companies engaged in manufacturing, agribusiness, non-retail service or technology activities, headquarters operations, hospital operations, coal severing and processing, alternative fuel, gasification, energy-efficient alternative fuels, renewable energy, or carbon dioxide transmission pipelines on a permanent basis for a reasonable period of time that will be investing in eligible equipment and related costs of at least $2,500,000 for owned facilities and $1,000,000 for leased facilities (excluding rent).</li>
</ul>
<hr class="spacer-60" />
<h4>Hospital</h4>
<hr class="spacer-10" />
<ul>
<li><a title="Kentucky Rural Hospital Loan Program" href="https://cedky.com/cdn/1740_KRHLPguidelines.pdf" target="_blank" rel="noopener">Kentucky Rural Hospital Loan Program</a> <br />The Rural Hospital Loan Program offers low-interest loans to assist rural hospitals by providing funding for the purpose of maintaining or upgrading hospital facilities, maintaining or increasing the staff at a rural hospital, or providing health care services not currently available to citizens in a rural Kentucky county. For additional information on hospital incentives, see the <a title="https://cedky.com/cdn/1740_HospitalInformationSheet.pdf" href="https://cedky.com/cdn/1740_HospitalInformationSheet.pdf" target="_blank" rel="noopener">Hospital Information Sheet</a>. <br /><br /><a title="List of approved Rural Hospital Loans" href="https://cedky.com/cdn/1740_KRHLP_web_report.pdf?10-10" target="_blank" rel="noopener">List of approved Rural Hospital Loans</a></li>
</ul>
<p>&nbsp;</p>
<hr class="spacer-60" />
<h4>Entertainment</h4>
<hr class="spacer-10" />
<ul>
<li><a title="KEI Incentive Information" href="https://ced.ky.gov/Locating_Expanding/KEI" target="_blank" rel="noopener">Kentucky Entertainment Incentive (KEI) Program</a> <br />Designed to encourage the development of the entertainment and production industry in Kentucky. The incentive provides qualifying applicants the ability to recover a portion of qualified expenditures through a refundable tax credit. <a href="https://cedky.com/cdn/1980_KEIguidelines.pdf" target="_blank" rel="noopener">Guidelines</a>. <br /><br /><a href="https://cedky.com/cdn/1980_KEI_Web_Report.pdf" target="_blank" rel="noopener">List of approved KEI Projects</a></li>
</ul>
<hr class="spacer-60" />
<h4>High-Tech</h4>
<hr class="spacer-10" />
<ul>
<li><a href="//www.kyinnovation.com/sbir/" target="_blank" rel="noopener"> SBIR-STTR Matching Funds Program </a> <br />The Cabinet will match, on a competitive basis, Phase 1 and Phase 2 federal Small Business Innovation Research (SBIR) and Small Business Technology Transfer (STTR) awards received by Kentucky high-tech small businesses and those willing to become Kentucky-based businesses. This includes matching Phase 1 federal awards up to $100,000 to support the exploration of the technical merit or feasibility of an idea or technology, and up to $150,000 of federal Phase 2 awards, which support full-scale research and development.</li>
<li><a href="https://ced.ky.gov/Entrepreneurship/Commonwealth_Seed">Commonwealth Seed Capital, LLC</a> <br />Commonwealth Seed Capital, LLC, (CSC) is an independent fund that makes debt or equity investments in early-stage Kentucky business entities to facilitate the commercialization of innovative ideas and technologies.<br />Investments are typically made in these specified innovation areas: health and human development; information technology and communications; bioscience; environmental and energy technologies; and materials science and advanced manufacturing.<br />CSC invests in companies that have a significant Kentucky presence, the prospect for substantial growth, and the potential to generate an appropriate rate of return. For more information, contact: <br /><br />Robert Lamothe<br />President<br />Commonwealth Seed Capital, LLC<br />300 West Vine Street, Suite 600<br />Lexington, Kentucky 40507-1751<br />859-685-3397<br /><a href="mailto:robert.lamothe@commonwealthseed.com">robert.lamothe@commonwealthseed.com</a></li>
<li><a href="https://www.keyhorse.vc/funds" target="_blank" rel="noopener"> Kentucky Enterprise Fund </a> <br />The Kentucky Enterprise Fund provides seed-stage capital to Kentucky-based companies that are commercializing a technology-based product or process. The funds exist to stimulate private investment in Kentucky-based technology companies with high growth potential. The Kentucky Science and Technology Corporation administers the funds.</li>
</ul>
<hr class="spacer-60" />
<h4>Energy and Environment</h4>
<hr class="spacer-10" />
<ul>
<li><a href="http://www.kstc.com/" target="_blank" rel="noopener"> Kentucky New Energy Ventures Fund </a> <br />The Kentucky New Energy Ventures Fund provides seed stage capital to support the development and commercialization of alternative fuel and renewable energy products, processes, and services in Kentucky. The funds exist to stimulate private investment in Kentucky-based technology companies with high growth potential. KNEV makes grants of $30,000 and investments ranging from $250,000 to $750,000+. Qualified companies must be Kentucky-based and funds are to be used for business development activities.&nbsp;&nbsp;<em>Please be advised that there is no available funding at this time for the Kentucky New Energy Ventures Fund.</em></li>
<li><a href="https://cedky.com/cdn/1740_IEBA.pdf">Incentives for Energy-related Business Act (IEBA) (PDF)</a><br />Companies establishing a cryptocurrency facility in Kentucky may be eligible for incentives through the IEBA program if the facility incurs eligible investment costs of at least $1,000,000.&nbsp; Potential incentives include sales and use tax refunds, corporate income or LLET tax credits, or employee wage assessment incentives.</li>
</ul>
<a id="SmallBusiness"></a><hr class="spacer-60" />
<h4>Entrepreneurs &amp; Small Business</h4>
<hr class="spacer-10" />
<ul>
<li><a href="https://ced.ky.gov/Entrepreneurship/KSBCI">Kentucky Small Business Credit Initiative (KSBCI)</a> <br />Designed to generate jobs and increase the availability of credit by reducing the risks participating lenders assume when making loans to small businesses. Using three distinct credit enhancement programs, KSBCI will help lenders finance creditworthy small businesses that would typically fall just outside of their normal lending guidelines. <a class="noCache" href="/Entrepreneurship/KSBCI">Quarterly Reports</a>

</li>

<li><a title="WKRAF " href="/Entrepreneurship/WKRAF">Western Kentucky Risk Assistance Fund (WKRAF)</a><br />has been established to provide support and relief efforts imperative to the Commonwealth of Kentucky to recover from the considerable damage caused by the December 2021 storms and tornadoes in Western Kentucky. The Program provides an enrolled Qualified Lender (as defined herein) the following inducement (the &ldquo;Inducement&rdquo;): the lesser of twenty-five percent (25%) or up to one million dollars ($1,000,000) of the loss incurred by a Qualified Lender on the unpaid principal balance of a Commercial Loan (as defined herein) made by a Qualified Lender to an Eligible Company (as defined herein). Twenty-five million dollars ($25,000,000) is appropriated to the Program and will be used to provide Inducements to Qualified Lenders on the first two hundred million dollars ($200,000,000) of Commercial Loans enrolled in the Program, provided that a Qualified Lender shall be eligible to enroll no more than ten million dollars ($10,000,000) in Commercial Loans in the Program. <a title="https://cedky.com/cdn/11212_WKRAFguidelines.pdf" href="https://cedky.com/cdn/11212_WKRAFguidelines.pdf">Guidelines</a></li>
<li><a class="noCache" title="Small Business Loan Program (PDF)" href="https://cedky.com/cdn/1740_smallbusinessloanprogram.pdf" target="_blank" rel="noopener">Small Business Loan Program (PDF)</a> <br />The Small Business Loan Program is designed to help small businesses acquire funding needed to start or grow their small business. A small business must be engaged in manufacturing, agribusiness, or service and technology. Loan funds may be used to acquire land and buildings, purchase and install equipment, or for working capital. The minimum loan amount is $15,000 and the maximum is $100,000. The approved company must create one new full-time job within one year of the loan closing. KEDFA can fund up to 100 percent of the project costs and the loan can be used in conjunction with other lenders. The term of the loan can range from 3-10 years.</li>
<li><a href="http://ced.ky.gov/ksbtc">The Kentucky Small Business Tax Credit (KSBTC)</a> <br />The KSBTC program is designed to encourage small business growth and job creation by providing a nonrefundable tax credit to eligible businesses hiring one or more eligible individuals and investing at least $5,000 in qualifying equipment or technology. With certain exceptions, most for-profit businesses with 50 or fewer full-time employees are considered eligible for this program. The KSBTC program has a limited allocation of available tax credits. <a title="KSBTC Guidelines" href="https://cedky.com/cdn/1740_ksbtcguidelines.pdf">Guidelines</a> | <a title="KSBTC Fact Sheet" href="https://cedky.com/cdn/1740_ksbtcfactsheet.pdf">Fact Sheet</a></li>
<li><a href="https://www.sba.gov/category/navigation-structure/loans-grants" target="_blank" rel="noopener"> U.S. Small Business Administration</a> <br />Federal agency that provides a number of guaranteed loan and other financial assistance programs to small businesses.</li>
<li><a href="https://ced.ky.gov/Entrepreneurship/KAITC" target="_blank" rel="noopener">Angel Investment Tax Credit</a> <br />The Kentucky Angel Investment Tax Credit offers a credit of up to 40 percent of an investment in Kentucky small businesses. Prior to investment, both the investor and small business must submit applications for certification. Each investment must be certified in advance, as well. Refer to the Kentucky Angel Investment Act Guidelines for program details and qualifying criteria. <a title="Angel Investment Guidelines" href="https://cedky.com/cdn/1740_angelguidelines.pdf">Guidelines</a></li>
<!--
                <li><a href="//VenCapKentucky.com" target="_blank">VenCap Kentucky</a>
                    <br />
                    <span>
                       VenCap Kentucky is designed to increase business’ access to seed, early and expansion stage capital by providing venture capital funding to entrepreneurs who have attracted a lead investor. Companies must be located in Kentucky and have fewer than 500 employees. For more information and to apply, visit <a href="//VenCapKentucky.com" target="_blank">www.VenCapKentucky.com</a>
                    </span> 
                </li>
                --></ul>
<hr class="spacer-60" />
<h4>Workforce Training</h4>
<hr class="spacer-10" />
<ul>
<li><a class="noCache" href="https://cedky.com/cdn/142_GIA_STIC_Fact_Sheet.pdf" target="_blank" rel="noopener">Bluegrass State Skills Corporation Skills Training Investment Credit</a> <br />Provides credit against Kentucky income tax to existing businesses that sponsor occupational or skills upgrade training programs for the benefit of their employees.</li>
<li><a class="noCache" href="https://cedky.com/cdn/142_GIA_STIC_Fact_Sheet.pdf" target="_blank" rel="noopener">Bluegrass State Skills Corporation Grant Reimbursement Program </a> <br />Provides matching grant funds for customized business and industry-specific training programs.</li>
</ul>
<hr class="spacer-60" />
<h4>Tax Increment Financing (TIF)</h4>
<ul>
<li><a class="noCache" href="/Locating_Expanding/TIF" target="_blank" rel="noopener">Tax Increment Financing (TIF)</a> <br />Tax Increment Financing (TIF) is an economic development tool to use future gains in taxes to finance the current public infrastructure improvements for development that will create those gains.</li>
</ul>
<hr class="spacer-60" />
<h4>Agri-business Opportunities</h4>
<hr class="spacer-10" />
<ul>
<li><a href="https://www.kyagr.com/agpolicy/Kentucky-Agricultural-Development-Fund.html" target="_blank" rel="noopener">Kentucky Agricultural Development Fund</a> <br />The Kentucky Agricultural Development Fund provides incentives for innovative proposals that increase net farm income, stimulates markets for Kentucky agricultural products, creates new ways to add value to Kentucky agricultural products, and explores new opportunities for Kentucky farmers. For more information visit the Kentucky Office of Agricultural Policy&rsquo;s website, <a href="https://www.kyagr.com/agpolicy/" target="_blank" rel="noopener">https://www.kyagr.com/agpolicy/</a> or call (502) 564-4627.</li>
<li><a href="https://www.kyagr.com/agpolicy/Kentucky-Ag-Finance-Corporation.html" target="_blank" rel="noopener">Kentucky Agricultural Finance Corporation</a> <br />The Kentucky Agricultural Finance Corporation provides capital access for agricultural diversification and infrastructure projects. Participating Loan Programs Include: Agricultural Infrastructure, Beginning Farmer, Diversification through Entrepreneurship in Agri-business and Large Animal Veterinary Programs. Direct Loan Programs include the Agricultural Process Loan Program and the Coordinated Value-Added Assistance Loan Program. For more information visit the Kentucky Office of Agricultural Policy&rsquo;s KAFC website, <a href="https://www.kyagr.com/agpolicy/Kentucky-Ag-Finance-Corporation.html" target="_blank" rel="noopener">https://www.kyagr.com/agpolicy/Kentucky-Ag-Finance-Corporation.html</a> or contact Bill McCloskey at (502) 564-4627.</li>
<li><a href="https://ced.ky.gov/Entrepreneurship/KSFTC">Kentucky Selling Farmer Tax Credit (KSFTC)</a><br />The purpose of the Kentucky Selling Farmer Tax Credit program is to encourage the continued use of agricultural land for farming purposes by granting tax credits to selling farmers who agree to sell agricultural land and assets to beginning farmers. Selling farmers who complete an eligible sale may qualify for a tax credit up to 5% of the purchase price of qualifying agricultural assets, subject to caps of $25,000 per calendar year and $100,000 lifetime. <a title="KSFTC Guidelines" href="https://cedky.com/cdn/1740_ksftcguidelines.pdf">Guidelines</a></li>
</ul>
<hr class="spacer-60" />
<h4>Other Business Incentives and Financial Programs</h4>
<hr class="spacer-10" />
<ul>
<li><a class="noCache" href="https://cedky.com/cdn/1740_KIFA_Fact_Sheet.pdf?1" target="_blank" rel="noopener">Kentucky Investment Fund Act - KIFA Fact Sheet (PDF)</a> <br />KIFA provides tax credits to individuals and companies that invest in eligible small businesses through venture capital funds that have been approved by the Kentucky Economic Development Finance Authority (KEDFA). Investors in KIFA approved funds may be eligible for a tax credit against Kentucky individual or corporate income tax or Kentucky corporate license tax.</li>
<li><a href="https://ced.ky.gov/Entrepreneurship/EB_5" target="_blank" rel="noopener">EB-5 Immigrant Investor</a> <br />EB-5 is an opportunity for immigrants to invest in the United States in exchange for green card eligibility for themselves and qualifying family members.</li>
</ul>
<hr class="spacer-60" />
<h4>Tourism Development</h4>
<p>The following tourism-related incentives are administered through the Kentucky Tourism, Arts and Heritage Cabinet.</p>
<ul>
<li><a title="Tourism Development Act" href=" https://tah.ky.gov/openforbusiness/Pages/Tourism-Incentives.aspx" target="_blank" rel="noopener">Tourism Development Act</a> <br />The Tourism Development Act provides developers of approved new or expanding tourism projects the ability to recover up to 25 percent of the project&rsquo;s development costs over a 10-year term. Projects including, but not limited to, lodging facilities constructed on state park, federal park or national forest lands are eligible to recover up to 50 percent of the development costs over a 20-year term.</li>
</ul>
<p>&nbsp;</p>
<a class="btn noCache" href="https://cedky.com/cdn/1740_Incentive_Program_Overview.pdf" target="_blank" rel="noopener">Business Incentives</a></section>