<header id="header" class="bg-cover">
<div class="gradient-fltr">&nbsp;</div>
<div class="home-bg-fltr bg-fltr bg-dk-fltr">&nbsp;</div>
<div id="homeSliderBG" class="homeSlider"><!--
        <div class="slide bg-cover" style="background-image:url(imgs/headers/amazon-prime-air.jpg);"></div>
        <div class="slide bg-cover" style="background-image:url(imgs/headers/auto-factory.jpg);"></div>
        <div class="slide bg-cover" style="background-image:url(imgs/headers/workforce.jpg);"></div>
        <div class="slide bg-cover" style="background-image:url(imgs/headers/industrial-electric.jpg);"></div>
        <div class="slide bg-cover" style="background-image:url(imgs/headers/louisville.jpg);"></div>
        --></div>
<!-- SLIDERS -->
<div id="homeSliderContainer">
<div id="homeSlider" class="homeSlider">

<div class="slide bg-cover " data-bg-img="/media/WebMedia/louisville.jpg">
<div class="container">
<h2 class="h1 clr-blue">A Blueprint for the Bluegrass</h2>
<div class="txt-xl clr-white">
<i>Kentucky's Collaborative Blueprint created by and for Kentucky's Economic Developers</i> is helping set the best path forward for local, regional and state leaders to build on Kentucky's historic economic momentum.<br /><br /><a class="btn bg-orange" href="/LP/blueprint" target="_blank" aria-label="learn more about Collaborative blueprint">Learn More</a></div>
</div>
</div>

<div class="slide bg-cover " data-bg-img="/media/blueoval.jpg">
<div class="container">
<h2 class="h1 clr-blue">Kentucky is Leading the Charge</h2>
<div class="txt-xl clr-white">$11.7 billion<span class="clr-orange text-uppercase font-weight-bold font-rounded"> in EV-related investment</span>
    <br />10,200 <span class="clr-orange text-uppercase font-weight-bold font-rounded"> full-time jobs announced</span><br /><a class="btn bg-orange" href="/LP/electric_vehicle" aria-label="more about ev in kentucky">More on Kentucky's electric future</a></div>
</div>
</div>
<div class="slide bg-cover " data-bg-img="/media/WebMedia/amazon-prime-air.jpg">
<div class="container">
<h2 class="h1 clr-blue">World Air Cargo Leader</h2>
<div class="txt-xl clr-white">Kentucky is the only state with <span class="clr-orange text-uppercase font-weight-bold font-rounded">three</span> international air shipping hubs, operated by UPS, DHL and Amazon Prime</div>
</div>
</div>
<div class="slide bg-cover " data-bg-img="/media/WebMedia/auto-factory.jpg">
<div class="container">
<h2 class="h1 clr-blue">Auto Production Leader</h2>
<div class="txt-xl clr-white">Kentucky is the <span class="clr-orange text-uppercase font-weight-bold font-rounded">#1</span> vehicle producer in the U.S. per capita</div>
</div>
</div>
<div class="slide bg-cover " data-bg-img="/media/WebMedia/workforce.jpg">
<div class="container">
<h2 class="h1 clr-blue">Skilled Workforce</h2>
<div class="txt-xl clr-white">Kentucky has the highly skilled workforce companies need to thrive in today&rsquo;s global economy</div>
</div>
</div>

<div class="slide bg-cover " data-bg-img="/media/WebMedia/louisville.jpg">
<div class="container">
<h2 class="h1 clr-blue">Intermodal Transportation Authority Housing RFP</h2>
<div class="txt-xl clr-white">Housing is an important economic development building block and we have a process partner that is issuing an RFP for a housing initiative in Bowling Green. KCED is not issuing this RFP, but we support the work by ITA and are providing this RFP for information purposes and in acknowledgment of a worthwhile project that will help the local region meet its housing needs.<br /><br /><a class="btn bg-orange" href="https://www.southcentralky.com/news/2024/12/23/economic-development/request-for-proposals/" aria-label="RFP for Intermodal Transportation RFP">Learn More</a></div>
</div>
</div>



</div>
<hr class="spacer-20" />
<div id="homeSliderNav" class="container">
<div id="homeSliderArrows">&nbsp;</div>
<div id="homeSliderDots" class="sliderDots">&nbsp;</div>
</div>
</div>
</header>

<hr class="spacer-40" />


<section class="bg-scroll padding-160 bg-fltr bg-blue clr-white" >
<div class="container content">

    <hr class="spacer-60" />
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="h2 text-center">Made in Kentucky</h2>
            <hr class="spacer-20" />
            Kentucky is a national leader in the manufacturing sector, with more than 250,000 Kentuckians employed in the industry. With a skilled and dedicated workforce, prime geographic location that ensures reliability in the supply chain and distribution, and a commitment to help companies build a foundation for the future, Kentucky has everything manufacturers need to succeed. 
            <hr class="spacer-20" /><a class="btn bg-orange" href="/Existing_Industries/Manufacturing">View Info on Manufacturing</a><hr class="spacer-40" />
        </div>
        <div class="col-12 col-md-6 txt-lg">
            <div class="row">
                <div class="col-12">

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jvM6sjcFlpg?si=emTjtKdzgd-lnzVe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                </div>
            </div>
        </div>
    </div>
</div>
</section>



<section class="section">
<div class="container text-center">
<h2 class="h2 clr-blue">Quick Answers</h2>
<hr class="spacer-10" />
<div class="subHead">Here are quick links to some of the most comonly asked questions. Have others? <a href="/Home/ContactUs">Contact Us</a>.</div>
<hr class="spacer-60" />
<div id="quickAnswers" class="row row-eq-height">
<div class="col-12 col-sm-6 col-md-3">
<div class="QA"><img src="/media/WebMedia/sitesBuildings-or.png" alt="Sites and Buildings" />
<h6 class="h6">Available Sites &amp; Buildings</h6>
Find the perfect Kentucky property for your needs.
<a href="https://properties.zoomprospector.com/kentucky?page=1&s%5BSortDirection%5D=true&s%5BSortBy%5D=featured&s%5BIsBuilding%5D=false" target="_blank" aria-label="Find Sites and buildings">&nbsp;</a>
</div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="QA"><img src="/media/WebMedia/plant-or.png" alt="Start/Grow Business" />
<h6 class="h6">Start/Grow Business</h6>
Learn about our resources to help your business grow like bluegrass. <a href="/Entrepreneurship" aria-label="Learn how to start a business">&nbsp;</a></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="QA"><img src="/media/WebMedia/workforce-or.png" alt="Workforce Training Info" />
<h6 class="h6">Workforce Training Info</h6>
Kentucky offers resources to help prepare the workforce of tomorrow.<a href="/Workforce" aria-label="Find workforce info">&nbsp;</a></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="QA"><img src="/media/WebMedia/incentives-or.png" alt="Financial Incentives" />
<h6 class="h6">Financial Incentives</h6>
Kentucky spurs business growth through an array of supportive programs.<a href="/Locating_Expanding/Financial_Incentives" aria-label="learn more about financial incentives">&nbsp;</a></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="QA"><img src="/media/WebMedia/stats-or.png" alt="Search Statistics" />
<h6 class="h6">Search Statistics</h6>
View data on Kentucky&rsquo;s economic growth, businesses, communities and more.<a href="/KYFacts" aria-label="find ky stats">&nbsp;</a></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="QA"><img src="/media/WebMedia/exports-or.png" alt="Export My Products" />
<h6 class="h6">Export My Products</h6>
Want to expand your market? We offer support to make exporting easier.<a href="/International/Exports" aria-label="international export data">&nbsp;</a></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="QA"><img src="/media/WebMedia/magnifying-glass-or.png" alt="Capital for your Business" />
<h6 class="h6">Capital</h6>
CED helps connect entrepreneurs with funding they need to launch and grow their businesses.<a href="/Entrepreneurship/Access_To_Capital" aria-label="access to capital">&nbsp;</a></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="QA"><img src="/media/WebMedia/info-or.png" alt="Investor Info" />
<h6 class="h6">Investor Info</h6>
Looking to invest in a small business or startup? The Cabinet can connect you with the right opportunity.<a href="/Entrepreneurship/Investor_Information" aria-label="investor info">&nbsp;</a></div>
</div>
</div>
</div>
</section>

<section class="bg-scroll padding-160 bg-fltr bg-dkr-fltr clr-white" style="background-image: url('/media/WebMedia/lexus.jpg');">
<div class="container content">
<h2 class="h2 text-center">The Bluegrass Means Business</h2>
<hr class="spacer-60" />
<div class="row">
<div class="col-12 col-md-6">
<h4 class="h4">Kentucky is a Pro-Business Powerhouse</h4>
<hr class="spacer-20" />Wonder why Kentucky has quietly become one of the top states to do business? We have worked hard to create a climate that not only supports business, but allows it to thrive.<hr class="spacer-20" /><a class="btn" href="/Locating_Expanding/Business_Costs" aria-label="business climate">Business Climate</a><hr class="spacer-40" /></div>
<div class="col-12 col-md-6 txt-lg">
<div class="row font-rounded">
<div class="col-2 txt-xxl clr-blue font-weight-bold">#1</div>
<div class="col-10"><hr class="spacer-10" />In vehicle production per capita</div>
</div>
<div class="row font-rounded">
<div class="col-2 txt-xxl clr-blue font-weight-bold">#1</div>
<div class="col-10"><hr class="spacer-10" />In air cargo by weight</div>
</div>
<div class="row font-rounded">
<div class="col-2 txt-xxl clr-blue font-weight-bold">#1</div>
<div class="col-10"><hr class="spacer-10" />In whiskey exports</div>
</div>
</div>
</div>
</div>
</section>
<section class="section">
<div class="container">
<div class="row">
<div id="citySelectContainer" class="col-12 col-md-6 col-lg-5">
<h3 class="h3 clr-blue">Kentucky is within one day's drive of two-thirds of the U.S. population</h3>
<hr class="spacer-20" />Kentucky's logistical advantage is unmatched. Click the cities below to measure distance.<hr class="spacer-20" />
<div class="inner">
<div class="txt-md font-weight-bold">DISTANCE: <span class="clr-orange"><span id="mileage">738</span> miles</span></div>
<hr class="spacer-20" />
<ul id="citySelectOne" class="citySelect">
<li id="louisville" class="selected">Louisville</li>
<li id="lexington">Lexington</li>
<li id="bowlingGreen">Bowling Green</li>
<li id="owensboro">Owensboro</li>
<li id="nky">Covington</li>
</ul>
<ul id="citySelectTwo" class="citySelect right">
<li id="newYork" class="selected">New York</li>
<li id="charlotte">Charlotte</li>
<li id="washington">Washington DC</li>
<li id="chicago">Chicago</li>
<li id="atlanta">Atlanta</li>
</ul>
<div class="clearfix">&nbsp;</div>
</div>
</div>
<div class="col-12 col-md-6 col-lg-7">
<div id="cityMap" class="position-relative"><img class="fullWidth" src="/media/WebMedia/logistics-map.png" alt="Logistics Map" />
<div id="kyCities">
<div id="mapLouisville" class="mapMarker active">&nbsp;</div>
<div id="mapLexington" class="mapMarker">&nbsp;</div>
<div id="mapNKY" class="mapMarker">&nbsp;</div>
<div id="mapBowlingGreen" class="mapMarker">&nbsp;</div>
<div id="mapOwensboro" class="mapMarker">&nbsp;</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="position-relative padding-160 clr-white">
<div id="staffSliderContainer">
<div id="staffBG" class="container bg-fltr bg-dkr-fltr section bg-cover" style="background-image: url('/media/WebMedia/state-capitol-building-2.jpg');">&nbsp;</div>
<div class="upLevel text-center">
    <div class="container padding-h-30">
    <h2 class="h2 clr-blue">Get in touch with people that can help</h2>
    <hr class="spacer-20" />
    <div>These are the faces of our cabinet and your gateway to growing your business in Kentucky. While our project managers specialize in various industries and regions, they are all driven to make Kentucky the most business-friendly state in America. Meet them here, and don&rsquo;t hesitate to reach out!</div>
    <hr class="spacer-40" /></div>
</div>
<div class="text-center">
<div id="staffSliderArrows">&nbsp;</div>
</div>
<div id="staffSlider" class="upLevel">
<div id="AndyLuttner" class="staffMember AndyLuttner">
    <div class="staffPic">&nbsp;</div>
    <div class="infoContainer">
    <div class="name">Andy Luttner
    <div class="zone">Business Development Director</div>
    </div>
    <div class="info fadeIn"><a>(502) 782-1957</a></div>
    </div>
</div>
<div id="CorkyPeek" class="staffMember CorkyPeek">
    <div class="staffPic">&nbsp;</div>
    <div class="infoContainer">
    <div class="name">Corky Peek
    <div class="zone">Business Development Director</div>
    </div>
    <div class="info fadeIn"><a>(270) 210-0033</a></div>
    </div>
</div>
<div id="KristinaSlattery" class="staffMember KristinaSlattery">
    <div class="staffPic">&nbsp;</div>
    <div class="infoContainer">
    <div class="name">Kristina Slattery
    <div class="zone">Commissioner, Business Development</div>
    </div>
    <div class="info fadeIn"><a>(502) 782-1946</a></div>
    </div>
</div>
<div id="Finn" class="staffMember">
    <div class="staffPic" style="background-image: url('https://cedky.com/cdn/1727_Finn_Weisse.jpg');">&nbsp;</div>
    <div class="infoContainer">
    <div class="name">Finn Weisse
    <div class="zone">Executive Director, European Office</div>
    </div>
    <div class="info fadeIn">&nbsp;</div>
    </div>
</div>
<div id="MikeTakahashi" class="staffMember MikeTakahashi">
    <div class="staffPic">&nbsp;</div>
    <div class="infoContainer">
    <div class="name">Mike Takahashi
    <div class="zone">Executive Director, Asia Office (Tokyo, Japan)</div>
    </div>
    <div class="info fadeIn"><a>(502) 782-1968</a></div>
    </div>
</div>
<div id="AshleeChilton" class="staffMember AshleeChilton">
    <div class="staffPic">&nbsp;</div>
    <div class="infoContainer">
    <div class="name">Ashlee Chilton
    <div class="zone">Senior Project Manager</div>
    </div>
    <div class="info fadeIn"><!-- <a>(502) 782-1968</a> --></div>
    </div>
</div>
<div id="MalcolmJollie" class="staffMember MalcolmJollie">
    <div class="staffPic">&nbsp;</div>
    <div class="infoContainer">
    <div class="name">Malcolm Jollie
    <div class="zone">Senior Project Manager</div>
    </div>
    <div class="info fadeIn"><!-- <a>(502) 782-1968</a> --></div>
    </div>
</div>
<div id="AmyBowman" class="staffMember AmyBowman">
    <div class="staffPic">&nbsp;</div>
    <div class="infoContainer">
    <div class="name">Amy Bowman
    <div class="zone">Business Development Coordinator</div>
    </div>
    <div class="info fadeIn"><!-- <a>(502) 782-1968</a> --></div>
    </div>
</div>
<div id="DanielleMilbern" class="staffMember">
    <div class="staffPic" style="background-image: url('https://cedky.com/cdn/1727_DanielleMilbern.jpg');">&nbsp;</div>
    <div class="infoContainer">
        <div class="name">Danielle Milbern
            <div class="zone">Project Manager - Agriculture Specialist</div>
        </div>
        <div class="info fadeIn"><!-- <a>(502) 782-1968</a> --></div>
    </div>
</div>
<div id="ScottMoseley" class="staffMember">
    <div class="staffPic" style="background-image: url('https://cedky.com/cdn/1727_ScottMoseley.jpg');">&nbsp;</div>
    <div class="infoContainer">
        <div class="name">Scott Moseley
            <div class="zone">Project Manager</div>
        </div>
        <div class="info fadeIn"><!-- <a>(502) 782-1968</a> --></div>
    </div>
</div>

<div id="BrittanyPetty" class="staffMember">
    <div class="staffPic" style="background-image: url('https://cedky.com/cdn/1727_BrittanyPetty.jpg');">&nbsp;</div>
    <div class="infoContainer">
        <div class="name">Brittany Petty
            <div class="zone">Project Manager</div>
        </div>
        <div class="info fadeIn"><!-- <a>(502) 782-1968</a> --></div>
    </div>
</div>
<div id="CatePrather" class="staffMember">
    <div class="staffPic" style="background-image: url('https://cedky.com/cdn/1727_CatePrather.jpg');">&nbsp;</div>
    <div class="infoContainer">
        <div class="name">Cate Prather
            <div class="zone">Project Manager</div>
        </div>
        <div class="info fadeIn">Cate Prather</div>
    </div>
</div>
<div id="ColinDodd" class="staffMember">
    <div class="staffPic" style="background-image: url('https://cedky.com/cdn/1727_ColinDodd.jpg');">&nbsp;</div>
    <div class="infoContainer">
        <div class="name">Colin Dodd
            <div class="zone">Project Manager</div>
        </div>
        <div class="info fadeIn">Colin.Dodd@ky.gov</div>
    </div>
</div>

<hr class="spacer-40" />
<div class="text-center upLevel"><a class="btn" href="/Home/Staff">See our Full Staff</a></div>
</div>
</section>
<!--Testimonials-->
<section>
<div class="container-fluid">
<div class="row row-eq-height">
<div id="testimonialPic" class="col-12 col-md-6 position-relative padding-0 padding-h-0">
<div id="testimonialPicSlider">
<div class="testimonialPic" style="background-image: url('/media/WebMedia/meggitt-building.jpg');">&nbsp;</div>
<div class="testimonialPic" style="background-image: url('/media/WebMedia/dowDuPont-1.jpg');">&nbsp;</div>
<div class="testimonialPic" style="background-image: url('/media/WebMedia/danimer-scientific.jpg');">&nbsp;</div>
</div>
</div>
<div id="testimonialSliderContainer" class="col-12 col-md-6 bg-blue clr-white padding-100 padding-h-40">
<div class="quoteMark">&nbsp;</div>
<hr class="spacer-20" />
<h5 class="h4">What They Say</h5>
<hr class="spacer-30" />
<div id="testimonialSlider">
<div class="testimonial"><em>Every time we've invested here, the community and state have reaffirmed this is the right location for future growth.</em><hr class="spacer-20" /><strong>Luke Durudogan</strong><br />President, Meggit Aircraft Braking Systems</div>
<div class="testimonial"><em>For 50 years, Dow has been an employer, neighbor and corporate partner in the region. We are proud of how far the Carrollton site has come and excited to recommit to the site with the groundbreaking of the new Cabot plant.</em><hr class="spacer-20" /><strong>Howard Ungerleider</strong><br />CFO, DowDuPont</div>
<div class="testimonial"><em>Kentucky's state resources and strong local workforce have provided us with a significant leg up in getting this project off the ground.</em><hr class="spacer-20" /><strong>Stephen Croskey</strong><br />CEO, Danimer Scientific</div>
</div>
<hr class="spacer-20" />
<div id="testimonialDots" class="sliderDots">&nbsp;</div>
</div>
</div>
</div>
</section>
<!--/testimonials-->
<p>&nbsp;</p>
<!--Available Sites/Buildings-->
<!--Available Sites/Buildings-->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9">
                <h2 class="h2 clr-blue">Available Sites &amp; Buildings</h2>
                <div class="subHead">View available assets ready for relocation</div>
            </div>
            <div class="col-12 col-md-3 text-right">
                <hr class="spacer-25">
                <a class="btn" href="https://properties.zoomprospector.com/kentucky?page=1&s%5BSortDirection%5D=true&s%5BSortBy%5D=featured&s%5BIsBuilding%5D=false" target="_blank" aria-label="sites and buildings">Search Sites &amp; Buildings</a>
            </div>
        </div>
        <hr class="spacer-20">
        <div class="row">
            
            <div class="col-12 col-md-6 col-lg-4">
                <div class="siteBuilding" style="background-image:url(/media/WebMedia/i24-park.jpg);">
                    <div class="infoContainer">
                        <div class="name">I-24 Industrial Park</div>
                        <div class="location">Paducah, KY 42001</div>
                        <div class="fadeIn">
                            <strong>County:</strong> McCracken County<br />
                            <strong>Type of space:</strong> Vacant Land<br />
                            <strong>Min Size:</strong> 136.60 acres<br />
                            <strong>Max Size:</strong> 136.60 acres<br />
                            <hr class="spacer-20" />
                            <a href="https://properties.zoomprospector.com/kentucky/property/5600-Commerce-Dr-Paducah-KY-42001-Paducah-Kentucky/00BEBA88-7AB4-43C2-A321-BB6C304E80AF" target="_blank" aria-label="sites and buildings Paducah"></a>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="col-12 col-md-6 col-lg-4">
                <div class="siteBuilding" style="background-image:url(/media/WebMedia/southwest-one-industrial.jpg);">
                    <div class="infoContainer">
                        <div class="name">Southwest One Industrial</div>
                        <div class="location">Benton, KY 42025</div>
                        <div class="fadeIn">
                            <strong>County:</strong> Marshall County<br />
                            <strong>Type of space:</strong> Vacant Land<br />
                            <strong>Min Size:</strong> 270.60 acres<br />
                            <strong>Max Size:</strong> 270.60 acres
                            <hr class="spacer-20" />
                            <a href="https://properties.zoomprospector.com/kentucky/property/198-Dallas-Ln-Benton-KY-42025-Benton-Kentucky/987AFC95-840F-4EF7-905A-A3EA1C466199" target="_blank" aria-label="sites and buildings Benton">&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>
           

            <div class="col-12 col-md-6 col-lg-4">
                <div class="siteBuilding" style="background-image:url(https://admin.zoomprospector.com/photos/KENTUCKY/2aa7c89c-019c-4dc6-a1fd-897442329652.jpg);">
                    <div class="infoContainer">
                        <div class="name">Washington County Commerce Center</div>
                        <div class="location">Springfield, KY 40351</div>
                        <div class="fadeIn">
                            <strong>County:</strong> Washington County<br>
                            <strong>Type of space:</strong> Office, Industrial, Vacant Land<br>
                           
                            <hr class="spacer-20">
                            <a href="https://properties.zoomprospector.com/kentucky/property/201-Corporate-Dr-Springfield-KY-40069-Springfield-Kentucky/01043ABC-205A-49BF-9354-3B2E9D342D1A" target="_blank" aria-label="sites and buildings Springfield">&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>