<section class="col-12 col-md-9">
<h1 class="h1 clr-blue">The Kentucky Economic Development Finance Authority (KEDFA)</h1>
<hr class="margin-40" />
<p><strong>The Kentucky Economic Development Finance Authority (KEDFA)</strong> is responsible for awarding most of the financial incentives offered by the Cabinet, including job growth and retention tax credit programs, loans, bonds, grants and tax increment financing.</p>
<p>KEDFA meets monthly and considers economic development incentive projects.</p>
<p><strong>KEDFA 2025 Board Meeting Schedule</strong><br />Cabinet for Economic Development<br />Board of Directors Conference Room<br />500 Mero Street, 5<sup>th</sup>&nbsp;floor<br />Frankfort, Kentucky<br /><br /><strong>Day:</strong> Last Thursday of each month<br /><strong>Time:</strong> 10:00 a.m. Eastern</p>
<table class="table" style="height: 352px;" width="421">
<thead class="thead-light">
<tr>
<td class="text-center" colspan="2"><strong>2025 KEDFA Schedule</strong></td>
</tr>
<tr class="table-active">
<td>Month</td>
<td>Day</td>
</tr>
</thead>
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>January</td>
<td>30</td>
</tr>
<tr>
<td>February</td>
<td>27</td>
</tr>
<tr>
<td>March</td>
<td>27</td>
</tr>
<tr>
<td>April</td>
<td>24</td>
</tr>
<tr>
<td>May</td>
<td>29</td>
</tr>
<tr>
<td>June</td>
<td>26</td>
</tr>
<tr>
<td>July</td>
<td>31</td>
</tr>
<tr>
<td>August</td>
<td>28</td>
</tr>
<tr>
<td>September</td>
<td>25</td>
</tr>
<tr>
<td>October</td>
<td>30</td>
</tr>
<tr>
<td>November</td>
<td>
<p>Due to holidays the November and December meetings are combined. The meeting will be held on December 11.</p>
</td>
</tr>
<tr>
<td>December</td>
<td>
<p>Due to holidays the November and December meetings are combined. The meeting will be held on December 11.</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h6>Previous KEDFA board meeting materials</h6>
<hr class="spacer-20" />
<h3>Current Year</h3>
<br />
<p><strong>2025</strong></p>
<ul class="singleSpace">
<li><a title="Feb. 27 Kedfa Book" href="https://cedky.com/cdn/140_KEDFA_Board_Book_-_February_27_2025_Public_Book.pdf" target="_blank">Feb. 27</a></li>
<li><a title="Jan. 30 Kedfa book" href="https://cedky.com/cdn/140_KEDFA_Public_Book_January_30_2025.pdf?1" target="_blank" rel="noopener">Jan. 30</a></li>
</ul>
<h3>Archived Board Books</h3>
<div id="accordionBOARDBOOKS">
<div class="">
<div class="">
<h2 class="mb-0"><button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoFour" aria-expanded="false" aria-controls="2024"> 2024 </button> <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoThree" aria-expanded="false" aria-controls="2023"> 2023 </button> <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoTwo" aria-expanded="false" aria-controls="2022"> 2022 </button> <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoOne" aria-expanded="false" aria-controls="2021"> 2021 </button> <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoZero" aria-expanded="false" aria-controls="2020"> 2020 </button> <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseNineteen" aria-expanded="false" aria-controls="2019"> 2019 </button> <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseEightteen" aria-expanded="false" aria-controls="2018"> 2018 </button> <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="2017"> 2017 </button> <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="2016"> 2016 </button></h2>
</div>
<div id="collapseTwoFour" class="collapse" aria-labelledby="headingOne" data-parent="#collapseTwoFour">
<div class="card-body">
<p><strong>2024</strong></p>
<ul class="singleSpace">
<li><a title="Dec 2024 Kedfa Board Book" href="https://cedky.com/cdn/140_KEDFA_Board_Book_-_December_12_2024_PUBLIC_BOOK.pdf?12-19" target="_blank" rel="noopener">Dec. 12</a></li>
<li><a title="Oct 2024 Kedfa Board Book" href="https://cedky.com/cdn/140_KEDFA_Board_Book_-_October_31_2024_Public_Book.pdf?11-12" target="_blank" rel="noopener">Oct. 31</a></li>
<li><a title="Sept 2024" href="https://cedky.com/cdn/140_09-KEDFA_Public_Book_September_26_2024.pdf?10-07" target="_blank" rel="noopener">Sept. 26</a></li>
<li><a title="Aug. 29" href="https://cedky.com/cdn/140_08-KEDFA_Public_Book_August_29,_2024.pdf?9-4" target="_blank" rel="noopener">Aug. 29</a></li>
<li><a title="July 25" href="https://cedky.com/cdn/140_07-KEDFA_Public_Book_July_25,_2024.pdf?7-29" target="_blank" rel="noopener">July 25</a></li>
<li><a title="June 27 2024" href="https://cedky.com/cdn/140_06-KEDFA_Public_Book_June_27_2024.pdf?7-8" target="_blank" rel="noopener">June 27</a></li>
<li><a title="May 30" href="https://cedky.com/cdn/140_05-KEDFA_Public_Book_May_30,_2024.pdf?6_13_24" target="_blank" rel="noopener">May 30</a></li>
<li><a href="https://cedky.com/cdn/140_KEDFA_Public_Book_April_25_2024.pdf?1a" target="_blank" rel="noopener">April 25</a></li>
<li><a href="https://cedky.com/cdn/140_03-KEDFA_Public_Book_March_28,_2024.pdf" target="_blank" rel="noopener">March 28</a></li>
<li><a title="Feb 29. Public Kedfa book" href="https://cedky.com/cdn/140_02-KEDFA_Public_Book_February_29_2024.pdf" target="_blank" rel="noopener">Feb.29</a></li>
<li><a title="KEDFA Board Book Jan 2024" href="https://cedky.com/cdn/140_01-KEDFA_Public_Book_January_25,_2024.pdf" target="_blank" rel="noopener">Jan. 25</a></li>
</ul>
</div>
</div>
<div id="collapseTwoThree" class="collapse" aria-labelledby="headingOne" data-parent="#collapseTwoThree">
<div class="card-body">
<p><strong>2023</strong></p>
<ul class="singleSpace">
<li><a title="KEDFA Board Book Dec, 2023" href="https://cedky.com/cdn/140_11_-KEDFA_Public_Board_Book_December_7_2023-sm.pdf" target="_blank" rel="noopener">Dec. 7</a></li>
<li><a title="https://cedky.com/cdn/140_10_-_KEDFA_Public_Board_Book_Oct_26_2023.pdf" href="https://cedky.com/cdn/140_10_-_KEDFA_Public_Board_Book_Oct_26_2023.pdf" target="_blank" rel="noopener">Oct. 26</a></li>
<li><a title="https://cedky.com/cdn/140_09_-_KEDFA_Public_Board_Book_September_28_2023-s.pdf" href="https://cedky.com/cdn/140_09_-_KEDFA_Public_Board_Book_September_28_2023-s.pdf" target="_blank" rel="noopener">Sept. 28</a></li>
<li><a href="https://cedky.com/cdn/140_08_-_KEDFA_Public_Board_Book_August_31_2023s.pdf" target="_blank" rel="noopener">Aug. 31</a></li>
<li><a href="https://cedky.com/cdn/140_07-KEDFA_Public_Book_July_27,_2023.pdf">July 27</a></li>
<li><a title="https://cedky.com/cdn/140_06-KEDFA_Board_Book_June_29_2023_Public_Book.pdf" href="https://cedky.com/cdn/140_06-KEDFA_Board_Book_June_29_2023_Public_Book.pdf">June 29</a></li>
<li><a href="https://cedky.com/cdn/140_06-KEDFA_Special_Meeting_Public_Book_May_31,_2023.pdf">May 31 (Special)</a></li>
<li><a title="https://cedky.com/cdn/140_05-KEDFA_Public_Book_May_25_2023_r.pdf" href="https://cedky.com/cdn/140_05-KEDFA_Public_Book_May_25_2023_r.pdf" target="_blank" rel="noopener">May 25</a></li>
<li><a href="https://cedky.com/cdn/140_04-KEDFA_Public_Board_Book_April_27_2023-s.pdf">April 27</a></li>
<li><a href="https://cedky.com/cdn/140_03_-_KEDFA_Board_Book_March_30-2023_Public_Book.pdf">March 30</a></li>
<li><a href="https://cedky.com/cdn/140_KEDFA_Board_Book_February_23,_2023_Public_Book.pdf">Feb. 23</a></li>
<li><a href="https://cedky.com/cdn/140_1_-_KEDFA_Board_Book_P__January_26_2023-s.pdf">Jan. 26</a></li>
</ul>
</div>
</div>
<div id="collapseTwoTwo" class="collapse" aria-labelledby="headingOne" data-parent="#collapseTwoTwo">
<div class="card-body">
<p><strong>2022</strong></p>
<ul class="singleSpace">
<li><a title="Dec. 8 KEDFA Board Book" href="https://cedky.com/cdn/140_KEDFA_Board_Book_December_8_2022.pdf">Dec. 8</a></li>
<li><a href="https://cedky.com/cdn/140_KEDFA_Board_Book_Oct_27-2022_Public_updated.pdf">Oct. 27</a></li>
<li><a href="https://cedky.com/cdn/140_11_-_KEDFA_Board_book_Sept_29_2022-public-R.pdf">Sept. 29</a></li>
<li><a href="https://cedky.com/cdn/140_10_-_KEDFA__Sep._27,_2022_-_Special_Public_.pdf">Sept. 27 (Special)</a></li>
<li><a title="Aug 25" href="https://cedky.com/cdn/140_09_-_KEDFA_Board_Book_Aug_25_2022_P_.pdf">Aug. 25</a></li>
<li><a href="https://cedky.com/cdn/140_08_-_KEDFA_Board_Book_P__July_28,_2022.pdf">July 28</a></li>
<li><a title="https://cedky.com/cdn/140_07_-_KEDFA_Board_Book_P-_June_30_2022r.pdf" href="https://cedky.com/cdn/140_07_-_KEDFA_Board_Book_P-_June_30_2022r.pdf">June 30</a></li>
<li><a href="https://cedky.com/cdn/140_06_-_KEDFA_Board_Book_May_26_2022r.pdf">May 26</a></li>
<li><a title="Apr 28 Kedfa Board Book" href="https://cedky.com/cdn/140_KEDFA_Board_Book_April_28_2022_rs.pdf">April 28</a></li>
<li><a title="March 31 KEDFA board book" href="https://cedky.com/cdn/140_04-_KEDFA_Board_Book_P_-_March_31,_2022.pdf">March 31</a></li>
<li><a href="https://cedky.com/cdn/140_03_-_KEDFA_Board_Book_P__-_February_24,_2022_Public.pdf">Feb. 24</a></li>
<li><a href="https://cedky.com/cdn/140_01_-_KEDFA_Board_Book_P__-_January_11,2022_Special_.pdf">Jan. 11 (Special)</a></li>
<li><a href="https://cedky.com/cdn/140_02_-_KEDFA_Board_Book_-_January_27_2022_Public_sm.pdf">Jan. 27</a></li>
</ul>
</div>
</div>
<div id="collapseTwoOne" class="collapse" aria-labelledby="headingOne" data-parent="#collapseTwoOne">
<div class="card-body">
<p><strong>2021</strong></p>
<ul class="singleSpace">
<li><a title="Dec 2021 Board Book" href="https://cedky.com/cdn/140_11_-_KEDFA_Board_Book_P__-_December_9,_2021.pdf">Dec. 9</a></li>
<li><a href="https://cedky.com/cdn/140_10_-_KEDFA_Board_Book_P__-_October_28,_2021.pdf">Oct. 28</a></li>
<li><a href="https://cedky.com/cdn/140_09_-_KEDFA_Board_Book_P__-_September_30,_2021.pdf">Sept. 30</a></li>
<li><a href="https://cedky.com/cdn/140_07_-_KEDFA_Board_Book_P__-_August_26,_2021.pdf">Aug. 26</a></li>
<li><a href="https://cedky.com/cdn/140_07_-_KEDFA_Board_Book_P__-_July_29,_2021.pdf">July 29</a></li>
<li><a href="https://cedky.com/cdn/140_06_-_KEDFA_Board_Book_P__-_June_24,_2021.pdf?12">June 24</a></li>
<li><a href="https://cedky.com/cdn/140_05_-_KEDFA_Board_Book_P__-_May_27,_2021__Special_.pdf">May 27 (Special)</a></li>
<li><a href="https://cedky.com/cdn/140_04_-_KEDFA_Board_Book_P__-_April_29,_2021__Special_.pdf">April 29 (Special)</a></li>
<li><a href="https://cedky.com/cdn/140_03_-_KEDFA_Board_Book_P__-_March_25,_2021__Special_.pdf">March 25 (Special)</a></li>
<li><a class="noCache" href="https://cedky.com/cdn/kyedc/KEDFA/20210225_KEDFA_BOOK_Special.pdf?13&amp;37" target="_blank" rel="noopener">Feb. 25 (Special)</a></li>
<li><a class="noCache" href="https://cedky.com/cdn/kyedc/KEDFA/20210128_KEDFA_BOOK_Special.pdf?13&amp;37" target="_blank" rel="noopener">Jan. 28 (Special)</a></li>
<li><a class="noCache" href="https://cedky.com/cdn/kyedc/KEDFA/20210107_KEDFA_BOOK_Special.pdf?13&amp;37" target="_blank" rel="noopener">Jan. 7 (Special)</a></li>
</ul>
</div>
</div>
<div id="collapseTwoZero" class="collapse" aria-labelledby="headingOne" data-parent="#collapseTwoZero">
<div class="card-body">
<p><strong>2020</strong></p>
<ul class="singleSpace">
<li><a class="noCache" href="https://cedky.com/cdn/kyedc/KEDFA/20201210_KEDFA_BOOK_Special.pdf?13&amp;37" target="_blank" rel="noopener">December (Special)</a></li>
<li><a class="noCache" href="https://cedky.com/cdn/kyedc/KEDFA/20201029_KEDFA_BOOK_Special.pdf?13&amp;37" target="_blank" rel="noopener">October (Special)</a></li>
<li><a class="noCache" href="https://cedky.com/cdn/kyedc/KEDFA/20200924_KEDFA_BOOK_Special.pdf?13&amp;37" target="_blank" rel="noopener">September (Special)</a></li>
<li><a class="noCache" href="https://cedky.com/cdn/kyedc/KEDFA/20200827_KEDFA_BOOK_Special_sig.pdf?13&amp;37" target="_blank" rel="noopener">August (Special)</a></li>
<li><a class="noCache" href="https://cedky.com/cdn/kyedc/KEDFA/07302020_KEDFA_BOOK.pdf?13&amp;37" target="_blank" rel="noopener">July (Special)</a></li>
<li><a class="noCache" href="https://cedky.com/cdn/kyedc/KEDFA/06252020_KEDFA_BOOK.pdf?13&amp;37" target="_blank" rel="noopener">June (Special)</a></li>
<li><a class="noCache" href="https://cedky.com/cdn/kyedc/KEDFA/05282020_KEDFA_BOOK_Special.pdf?13&amp;37" target="_blank" rel="noopener">May (Special)</a></li>
<li><a class="noCache" href="https://cedky.com/cdn/kyedc/KEDFA/04302020_KEDFA_BOOK_Special.pdf?13&amp;37" target="_blank" rel="noopener">April (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/03262020_KEDFA_BOOK_Special.pdf" target="_blank" rel="noopener">March (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/02272020_KEDFA_BOOK.pdf" target="_blank" rel="noopener">February</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/01302020_KEDFA_BOOK.pdf" target="_blank" rel="noopener">January</a></li>
</ul>
</div>
</div>
<div id="collapseNineteen" class="collapse" aria-labelledby="headingOne" data-parent="#collapseNineteen">
<div class="card-body">
<p><strong>2019</strong></p>
<ul class="singleSpace">
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/12122019_KEDFA_BOOK.pdf" target="_blank" rel="noopener">December</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/10312019_KEDFA_BOOK.pdf" target="_blank" rel="noopener">October</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/09262019_KEDFA_BOOK.pdf" target="_blank" rel="noopener">September</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/08292019_KEDFA_BOOK.pdf" target="_blank" rel="noopener">August</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/07252019_KEDFA_BOOK.pdf?08132019" target="_blank" rel="noopener">July</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/06272019_KEDFA_BOOK.pdf" target="_blank" rel="noopener">June</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/05302019_KEDFA_BOOK.pdf" target="_blank" rel="noopener">May</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/04252019_KEDFA_BOOK.pdf" target="_blank" rel="noopener">April</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/03282019_KEDFA_BOOK.pdf" target="_blank" rel="noopener">March</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/03272019_KEDFA_BOOK_Special.pdf" target="_blank" rel="noopener">March (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/02282019_KEDFA_BOOK.pdf" target="_blank" rel="noopener">February</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/01252019_KEDFA_BOOK.pdf" target="_blank" rel="noopener">January (Rescheduled to Feb. 7)</a></li>
</ul>
</div>
</div>
<div id="collapseEightteen" class="collapse" aria-labelledby="headingOne" data-parent="#collapseEightteen">
<div class="card-body">
<p><strong>2018</strong></p>
<ul class="singleSpace">
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/12132018_KEDFA_BOOK.pdf" target="_blank" rel="noopener">December</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/10252018_KEDFA_BOOK.pdf" target="_blank" rel="noopener">October</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/09272018_KEDFA_BOOK.pdf" target="_blank" rel="noopener">September</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/08302018_KEDFA_BOOK.pdf" target="_blank" rel="noopener">August</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/08162018_KEDFA_BOOK_Special.pdf" target="_blank" rel="noopener">August (special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/07262018_KEDFA_BOOK.pdf" target="_blank" rel="noopener">July</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/06282018_KEDFA_BOOK.pdf" target="_blank" rel="noopener">June</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/05312018_KEDFA_BOOK.pdf" target="_blank" rel="noopener">May</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/04262018_KEDFA_BOOK.pdf" target="_blank" rel="noopener">April</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/03292018_KEDFA_BOOK.pdf?03292018" target="_blank" rel="noopener">March</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/02222018_KEDFA_BOOK.pdf?02232018" target="_blank" rel="noopener">February</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/01252018_KEDFA_BOOK.pdf?02232018" target="_blank" rel="noopener">January</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/01232018_KEDFA_BOOK_Special.pdf" target="_blank" rel="noopener">January (special)</a></li>
</ul>
</div>
</div>
<div id="collapseSeventeen" class="collapse" aria-labelledby="headingOne" data-parent="#collapseSeventeen">
<div class="card-body">
<p><strong>2017</strong></p>
<ul class="singleSpace">
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/12072017_KEDFA_BOOK.pdf" target="_blank" rel="noopener">December</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/11162017_KEDFA_BOOK_Special.pdf" target="_blank" rel="noopener">November (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/10262017_KEDFA_BOOK.pdf" target="_blank" rel="noopener">October</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/09282017_KEDFA_BOOK.pdf" target="_blank" rel="noopener">September</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/08312017_KEDFA_BOOK.pdf" target="_blank" rel="noopener">August</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/07272017_KEDFA_BOOK.pdf" target="_blank" rel="noopener">July</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/06292017_KEDFA_BOOK.pdf" target="_blank" rel="noopener">June</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/05252017_KEDFA_BOOK.pdf" target="_blank" rel="noopener">May</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/04272017_KEDFA_BOOK.pdf" target="_blank" rel="noopener">April</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/04262017_KEDFA_BOOK.pdf" target="_blank" rel="noopener">April (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/04102017_KEDFA_BOOK_Special.pdf" target="_blank" rel="noopener">April (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/03302017_KEDFA_BOOK.pdf" target="_blank" rel="noopener">March</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/02232017_KEDFA_BOOK.pdf" target="_blank" rel="noopener">February</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/01312017_KEDFA_BOOK_Special.pdf" target="_blank" rel="noopener">January (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/01262017_KEDFA_BOOK.pdf" target="_blank" rel="noopener">January</a></li>
</ul>
</div>
</div>
<div id="collapseSixteen" class="collapse" aria-labelledby="headingOne" data-parent="#collapseSixteen">
<div class="card-body">
<p><strong>2016</strong></p>
<ul class="singleSpace">
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/12082016_KEDFA_BOOK.pdf" target="_blank" rel="noopener">December</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/10272016_KEDFA_Book.pdf" target="_blank" rel="noopener">October</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/09292016_KEDFA_BOOK.pdf" target="_blank" rel="noopener">September</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/08252016__KEDFA_BOOK.pdf" target="_blank" rel="noopener">August</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/08122016_KEDFA_BOOK_Special.pdf" target="_blank" rel="noopener">August (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/07282016_KEDFA_BOOK.PDF" target="_blank" rel="noopener">July</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/06302016_KEDFA_BOOK.pdf" target="_blank" rel="noopener">June</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/06262016_KEDFA_BOOK_Special.pdf" target="_blank" rel="noopener">June (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/05262016_KEDFA_BOOK.pdf" target="_blank" rel="noopener">May</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/04282016_KEDFA_BOOK.pdf" target="_blank" rel="noopener">April</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/03312016_KEDFA_BOOK.pdf" target="_blank" rel="noopener">March</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/02252016_KEDFA_BOOK.pdf" target="_blank" rel="noopener">February</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/01282016_KEDFA_BOOK.pdf" target="_blank" rel="noopener">January</a></li>
</ul>
</div>
</div>
</div>
</div>
<hr class="spacer-60" />
<h6>Approved Minutes from previous KEDFA board meetings</h6>
<hr class="spacer-20" />
<p><strong>2024</strong></p>
<ul class="singleSpace">
<li><a title="Jan 2025 mins" href="https://cedky.com/cdn/140_01_-_January_30_2025_KEDFA_Minutes.pdf" target="_blank">Jan 2025</a></li>
</ul>
<hr class="spacer-20" />
<h3>Archived Board Minutes</h3>
<div id="accordionBOARDMINUTES">
<div class="">
<div class="">
<h2 class="mb-0"><button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoFourmin" aria-expanded="false" aria-controls="2024min"> 2024 </button> <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoThreemin" aria-expanded="false" aria-controls="2023min"> 2023 </button> <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoTwomin" aria-expanded="false" aria-controls="2022min"> 2022 </button> <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoOnemin" aria-expanded="false" aria-controls="2021min"> 2021 </button> <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoZeromin" aria-expanded="false" aria-controls="2020min"> 2020 </button> <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseNineteenmin" aria-expanded="false" aria-controls="2019min"> 2019 </button> <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseEightteenmin" aria-expanded="false" aria-controls="2018min"> 2018 </button> <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseSeventeenmin" aria-expanded="false" aria-controls="2017min"> 2017 </button> <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseSixteenmin" aria-expanded="false" aria-controls="2016min"> 2016 </button></h2>
</div>
<div id="collapseTwoFourmin" class="collapse" aria-labelledby="headingOne" data-parent="#collapseTwoFourmin">
<div class="card-body">
<p><strong>2024</strong></p>
<ul class="singleSpace">
<li><a title="October 2024 Minutes" href="https://cedky.com/cdn/140_December_12_2024_KEDFA_Minutes.pdf?1" target="_blank" rel="noopener">Dec 2024</a></li>
<li><a title="October 2024 Minutes" href="https://cedky.com/cdn/140_10-October_31_2024_Minutes.pdf?12-19" target="_blank" rel="noopener">October 2024</a></li>
<li><a title="September 2024" href="https://cedky.com/cdn/140_09-September_26_2024_Minutes.pdf" target="_blank" rel="noopener">September 2024</a></li>
<li><a title="August 2024" href="https://cedky.com/cdn/140_08-August_29_2024_Minutes.pdf?10-07" target="_blank" rel="noopener">August 2024</a></li>
<li><a title="July 2024" href="https://cedky.com/cdn/140_07-July_25_2024_Minutes.pdf?9-4" target="_blank" rel="noopener">July 2024</a></li>
<li><a title="June 2024" href="https://cedky.com/cdn/140_06-June_27_2024_Minutes.pdf?7-29" target="_blank" rel="noopener">June 2024</a></li>
<li><a title="May 2024" href="https://cedky.com/cdn/140_05-May_30_2024_Minutes.pdf?7-8" target="_blank" rel="noopener">May 2024</a></li>
<li><a title="April 2024" href="https://cedky.com/cdn/140_04-April_25_2024_Minutes.pdf?6_13_24" target="_blank" rel="noopener">April 2024</a></li>
<li><a href="https://cedky.com/cdn/140_03-March_28_2024_Minutes.pdf?1" target="_blank" rel="noopener">March 2024</a></li>
<li><a title="February 2024" href="https://cedky.com/cdn/140_02-February_29_2024_Minutes_.pdf" target="_blank" rel="noopener">February 2024</a></li>
<li><a title="January 2024 Minutes" href="https://cedky.com/cdn/140_01-January_25_2024_Minutes.pdf?1" target="_blank" rel="noopener">January 2024</a></li>
</ul>
</div>
</div>
<div id="collapseTwoThreemin" class="collapse" aria-labelledby="headingOne" data-parent="#collapseTwoThreemin">
<div class="card-body">
<p><strong>2023</strong></p>
<ul class="singleSpace">
<li><a title="December 2023 Minutes" href="https://cedky.com/cdn/140_December_2023_Minutes.pdf">December 2023</a></li>
<li><a title="October 2023 Minutes" href="https://cedky.com/cdn/140_10-KEDFA_Minutes_October_2023.pdf" target="_blank" rel="noopener">October 2023</a></li>
<li><a title="https://cedky.com/cdn/140_09-KEDFA_Minutes_September_2023.pdf" href="https://cedky.com/cdn/140_09-KEDFA_Minutes_September_2023.pdf" target="_blank" rel="noopener">September 2023</a></li>
<li><a title="https://cedky.com/cdn/140_08-KEDFA_minutes_August_31__2023.pdf" href="https://cedky.com/cdn/140_08-KEDFA_minutes_August_31__2023.pdf">Aug 31, 2023</a></li>
<li><a title="https://cedky.com/cdn/140_07-KEDFA__Meeting_Minutes_July_27_2023.pdf" href="https://cedky.com/cdn/140_07-KEDFA__Meeting_Minutes_July_27_2023.pdf">July 27, 2023</a></li>
<li><a href="https://cedky.com/cdn/140_06-KEDFA_Meeting_Minutes_June_29_2023.pdf">June 29, 2023</a></li>
<li><a href="https://cedky.com/cdn/140_05-KEDFA_Special_Meeting_Minutes_May_31_2023.pdf">Special Meeting May 31, 2023</a></li>
<li><a href="https://cedky.com/cdn/140_05-KEDFA_Meeting_Minutes_May_25_2023.pdf">May 25, 2023</a></li>
<li><a title="April 2023" href="https://cedky.com/cdn/140_04-_KEDFA_Meeting_Minutes_April_2023.pdf">April 2023</a></li>
<li><a href="https://cedky.com/cdn/140_03-KEDFA_Meeting_Minutes_March_2023.pdf">March 2023</a></li>
<li><a href="https://cedky.com/cdn/140_KEDFA_Minutes_February_23_2023.pdf">February 23,2023</a></li>
<li><a href="https://cedky.com/cdn/140_January_26_2023_Minutes.pdf">January 26 2023</a></li>
</ul>
</div>
</div>
<div id="collapseTwoTwomin" class="collapse" aria-labelledby="headingOne" data-parent="#collapseTwoTwomin">
<div class="card-body">
<p><strong>2022</strong></p>
<ul class="singleSpace">
<li><a href="https://cedky.com/cdn/140_10-KEDFA_Minutes_-_Dec_8_2022.pdf">Dec 8, 2022</a></li>
<li><a href="https://cedky.com/cdn/140_09-KEDFA_Minutes_-__Oct_27_2022_1.pdf">Oct 27, 2022</a></li>
<li><a href="https://cedky.com/cdn/140_08-KEDFA_Minutes_September_29_2022.pdf">Sept 29, 2022</a></li>
<li><a href="https://cedky.com/cdn/140_08-KEDFA_Minutes_September_27_2022_special_.pdf">Sept 27, 2022</a></li>
<li><a title="Aug 25, 2022" href="https://cedky.com/cdn/140_KEDFA_Minutes_August_25_2022_FINAL.pdf">Aug 25, 2022</a></li>
<li><a title="July 28, 2022" href="https://cedky.com/cdn/140_07-KEDFA_Minutes-_July_28_2022.pdf">July 28, 2022</a></li>
<li><a title="June 30, 2022" href="https://cedky.com/cdn/140_06_KEDFA_Minutes-June_30_2022.pdf">June 30, 2022</a></li>
<li><a href="https://cedky.com/cdn/140_KEDFA_Minutes_May_26_2022.pdf">May 26, 2022</a></li>
<li><a href="https://cedky.com/cdn/140_04-KEDFA_Minutes-_April_28_2022.pdf" target="_blank" rel="noopener">April 28, 2022</a></li>
<li><a title="Mar minutes" href="https://cedky.com/cdn/140_03-KEDFA_Minutes-_March_31_2022.pdf">Mar. 31, 2022</a></li>
<li><a href="https://cedky.com/cdn/140_02-KEDFA_Minutes-Feburary_24_2022_pdf.pdf">Feb. 24, 2022</a></li>
<li><a title="Jan. 27, 2022" href="https://cedky.com/cdn/140_01-KEDFA_Minutes-January_27_2022.pdf">Jan. 27, 2022</a></li>
<li><a title="Jan 11 Kedfa minutes" href="https://cedky.com/cdn/140_01_-_KEDFA_Minutes_-_January_11_2022__Special_.pdf">Jan. 11, 2022</a></li>
</ul>
</div>
</div>
<div id="collapseTwoOnemin" class="collapse" aria-labelledby="headingOne" data-parent="#collapseTwoOnemin">
<div class="card-body">
<p><strong>2021</strong></p>
<ul class="singleSpace">
<li><a href="https://cedky.com/cdn/140_11_-_KEDFA_Minutes_-_December_9__2021.pdf">Dec. 9</a></li>
<li><a href="https://cedky.com/cdn/140_10_-_KEDFA_Minutes_-_October_25_2021_Hybrid_.pdf">Oct. 28</a></li>
<li><a href="https://cedky.com/cdn/140_09_-_KEDFA_Minutes_-_September_30_2021.pdf">Sept. 30</a></li>
<li><a title="https://cedky.com/cdn/140_08_-_KEDFA_Minutes_-_August_26,_2021.pdf" href="https://cedky.com/cdn/140_08_-_KEDFA_Minutes_-_August_26,_2021.pdf">Aug. 26</a></li>
<li><a href="https://cedky.com/cdn/140_07_-_KEDFA_Minutes_-_July_29,_2021.pdf">July 29</a></li>
<li><a href="https://cedky.com/cdn/140_06_-_KEDFA_Minutes_-_June_24,_2021.pdf">June 24</a></li>
<li><a href="https://cedky.com/cdn/140_05_-_KEDFA_Minutes_-_May_27,_2021__Special_.pdf">May 27 (Special)</a></li>
<li><a title="April 29th (Special)" href="https://cedky.com/cdn/140_04_-_KEDFA_Minutes_-_April_29,_2021__Special_.pdf">April 29 (Special)</a></li>
<li><a title="March 25th (Special)" href="https://cedky.com/cdn/140_03_-_KEDFA_Minutes_-_March_25,_2021__Special_.pdf">March 25 (Special)</a></li>
<li><a class="noCache" href="http://cedky.com/cdn/140_20210228_KEDFA_Minutes.pdf">Feb. 25 (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/20210128_KEDFA_Minutes.pdf" target="_blank" rel="noopener">Jan. 28 (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/20210107_KEDFA_Minutes.pdf" target="_blank" rel="noopener">Jan. 7 (Special)</a></li>
</ul>
</div>
</div>
<div id="collapseTwoZeromin" class="collapse" aria-labelledby="headingOne" data-parent="#collapseTwoZeromin">
<div class="card-body">
<p><strong>2020</strong></p>
<ul class="singleSpace">
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/20201210_KEDFA_Minutes.pdf" target="_blank" rel="noopener">December (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/202010_KEDFA_Minutes.pdf" target="_blank" rel="noopener">October (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2020/September_Special.pdf" target="_blank" rel="noopener">September (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2020/August_Special.pdf" target="_blank" rel="noopener">August (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2020/July_Special.pdf" target="_blank" rel="noopener">July (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2020/June.pdf" target="_blank" rel="noopener">June (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2020/May_Special.pdf" target="_blank" rel="noopener">May (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2020/April_Special.pdf" target="_blank" rel="noopener">April (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2020/March_Special.pdf" target="_blank" rel="noopener">March (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2020/February.pdf" target="_blank" rel="noopener">February</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2020/January.pdf" target="_blank" rel="noopener">January</a></li>
</ul>
</div>
</div>
<div id="collapseNineteenmin" class="collapse" aria-labelledby="headingOne" data-parent="#collapseNineteenmin">
<div class="card-body">
<p><strong>2019</strong></p>
<ul class="singleSpace">
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2019/December.pdf" target="_blank" rel="noopener">December</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2019/October.pdf" target="_blank" rel="noopener">October</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2019/September.pdf" target="_blank" rel="noopener">September</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2019/August.pdf" target="_blank" rel="noopener">August</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2019/July.pdf" target="_blank" rel="noopener">July</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2019/June.pdf" target="_blank" rel="noopener">June</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2019/May.pdf" target="_blank" rel="noopener">May</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2019/April.pdf" target="_blank" rel="noopener">April</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2019/March.pdf" target="_blank" rel="noopener">March</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2019/March_Special.pdf" target="_blank" rel="noopener">March (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2019/February.pdf" target="_blank" rel="noopener">February</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2019/January.pdf" target="_blank" rel="noopener">January (Rescheduled to February 7)</a></li>
</ul>
</div>
</div>
<div id="collapseEightteenmin" class="collapse" aria-labelledby="headingOne" data-parent="#collapseEightteenmin">
<div class="card-body">
<p><strong>2018</strong></p>
<ul class="singleSpace">
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2018/December.pdf" target="_blank" rel="noopener">December</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2018/October.pdf" target="_blank" rel="noopener">October</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2018/September.pdf" target="_blank" rel="noopener">September</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2018/August.pdf" target="_blank" rel="noopener">August</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2018/August-special.pdf" target="_blank" rel="noopener">August (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2018/June.pdf" target="_blank" rel="noopener">June</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2018/May.pdf" target="_blank" rel="noopener">May</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2018/April.pdf" target="_blank" rel="noopener">April</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2018/March.pdf" target="_blank" rel="noopener">March</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2018/February.pdf" target="_blank" rel="noopener">February</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2018/January.pdf?02232018" target="_blank" rel="noopener">January</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2018/January-special.pdf" target="_blank" rel="noopener">January (Special)</a></li>
</ul>
</div>
</div>
<div id="collapseSeventeenmin" class="collapse" aria-labelledby="headingOne" data-parent="#collapseSeventeenmin">
<div class="card-body">
<p><strong>2017</strong></p>
<ul class="singleSpace">
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2017/December.pdf" target="_blank" rel="noopener">December</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2017/November.pdf" target="_blank" rel="noopener">November (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2017/October.pdf" target="_blank" rel="noopener">October</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2017/September.pdf" target="_blank" rel="noopener">September</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2017/August.pdf" target="_blank" rel="noopener">August</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2017/July.pdf" target="_blank" rel="noopener">July</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2017/June.pdf" target="_blank" rel="noopener">June</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2017/May.pdf" target="_blank" rel="noopener">May</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2017/April-2.pdf" target="_blank" rel="noopener">April</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2017/April-special.pdf" target="_blank" rel="noopener">April (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2017/April.pdf" target="_blank" rel="noopener">April (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2017/March.pdf" target="_blank" rel="noopener">March</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2017/February.pdf" target="_blank" rel="noopener">February</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2017/January-special.pdf" target="_blank" rel="noopener">January (special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2017/January.pdf" target="_blank" rel="noopener">January</a></li>
</ul>
</div>
</div>
<div id="collapseSixteenmin" class="collapse" aria-labelledby="headingOne" data-parent="#collapseSixteenmin">
<div class="card-body">
<p><strong>2016</strong></p>
<ul class="singleSpace">
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2016/December.pdf" target="_blank" rel="noopener">December</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2016/October.pdf" target="_blank" rel="noopener">October</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2016/September.pdf" target="_blank" rel="noopener">September</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2016/August.pdf" target="_blank" rel="noopener">August</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2016/August_special.pdf" target="_blank" rel="noopener">August (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2016/July.pdf" target="_blank" rel="noopener">July</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2016/June.pdf" target="_blank" rel="noopener">June</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2016/June_special.pdf" target="_blank" rel="noopener">June (Special)</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2016/May.pdf" target="_blank" rel="noopener">May</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2016/April.pdf" target="_blank" rel="noopener">April</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2016/March.pdf" target="_blank" rel="noopener">March</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2016/February.pdf" target="_blank" rel="noopener">February</a></li>
<li><a href="https://cedky.com/cdn/kyedc/KEDFA/2016/January.pdf" target="_blank" rel="noopener">January</a></li>
</ul>
</div>
</div>
</div>
</div>
</section>