<section class="col-12 col-md-9">
<div class="bg-orange clr-white btn btn-block" style="pointer-events: none; margin-bottom: 20px;">KSBCI 2.0 CLOSING FEES WAIVED THROUGH 2025.</div>
<h1 class="h1 clr-blue">KSBCI 2.0 Loan Programs</h1>
<hr class="margin-40" />
<p>Lenders can take advantage of a revamped program that&rsquo;s providing a powerful spark to grow businesses and create jobs. KSBCI 2.0 leverages funding from private lenders to help finance creditworthy small businesses that would typically fall just outside a lender&rsquo;s normal underwriting standards. Due to the risky nature of small businesses, many entrepreneurs struggle to find traditional lending opportunities to start or expand their business. In an effort to help mitigate the risk associated with lending to small businesses, the Cabinet for Economic Development offers three distinct credit enhancement programs designed to generate jobs and increase the availability of credit to small businesses by reducing the risk associated with lending. The U.S. Department of Treasury has provided funding to be distributed through KY Innovation, the Kentucky Cabinet for Economic Development&rsquo;s Office of Entrepreneurship, that will reduce the risk participating lenders, credit unions and community development financial institutions assume when making loans.</p>
<hr class="spacer-20" />
<h2>Lenders</h2>
<ul>
<li><a class="noCache" href="/Home/SBLender_Documents">Learn More and Enroll</a></li>
</ul>
<hr class="spacer-20" />
<h2>Entrepreneurs</h2>
If you&rsquo;re an entrepreneur seeking financing, you must go through a participating lender. If you have questions, please contact us at 800-626-2930, or submit the Borrower Inquiry (temporarily down) &nbsp;form.
<ul class="list-unstyled pt-3 px-5">
<li><a class="noCache btn btn-primary" href="/Home/SBLLenders">Participating Lender List</a></li>
<li>Borrower Inquiry (temporarily down)</li>
</ul>
<hr class="spacer-20" />
<h2>Other resources</h2>
<ul>
<ul>
<li><a class="noCache" href="http://www.treasury.gov/resource-center/sb-programs/Pages/ssbci.aspx" target="_blank" rel="noopener">U.S. Department of Treasury&rsquo;s Federal Small Business Credit Initiative Program</a></li>
<li><a href="/Entrepreneurship/KSBCI">KSBCI Information</a></li>
</ul>
</ul>
<hr class="spacer-20" />
<p>For assistance in translating the KSBCI pages to another language, please visit this suggested site: Para ayuda traduciendo las p&aacute;ginas web de KSBCI a otro idioma, por favor visite este sitio web sugerido: <a href="http://translate.google.com/" target="_blank" rel="noopener"> Google Translate</a></p>
</section>