<section id="primary" class="col-12 col-md-9">
<h1 class="h1 clr-blue">Boards &amp; Commissions</h1>
<hr class="margin-40" />
<p>Helping to ensure the state&rsquo;s economic development efforts remain cutting edge and business focused, the Kentucky Cabinet for Economic Development is led by the Kentucky Economic Development Partnership Board, some of the Commonwealth&rsquo;s most prominent business men and women. In addition, several state boards and commissions also support Kentucky&rsquo;s efforts to improve the local workforce, encourage business growth and help small businesses succeed.</p>
<hr class="spacer-40" />
<h4 class="h4">Partnership Board</h4>
<hr class="spacer-10" />
<p>Comprised of 14 public-private sector members, the Partnership Board provides strategic governance to the Cabinet. The Partnership Board provides oversight of strategic plans, goals and structure for the Cabinet. Current members include:</p>
<h5 class="h5">Voting Members</h5>
<hr class="spacer-10" />
<div class="row">
<div class="col-12 col-md-6 partner"><strong>Governor Andy Beshear, Chairman</strong><br />Commonwealth of Kentucky</div>
<div class="col-12 col-md-6 partner"><strong>Elizabeth McCoy</strong><br />1<sup>st</sup> District</div>
<div class="col-12 col-md-6 partner"><strong>Fred Sipes</strong><br />2<sup>nd</sup> District</div>
<div class="col-12 col-md-6 partner"><strong>Keith Hamilton</strong><br />3<sup>rd</sup> District</div>
<div class="col-12 col-md-6 partner"><strong>Candace McGraw</strong><br />4<sup>th</sup> District</div>
<div class="col-12 col-md-6 partner"><strong>Terry Forcht</strong><br />5<sup>th</sup> District</div>
<div class="col-12 col-md-6 partner"><strong>Melinda "Lindy" Karns</strong><br />6<sup>th</sup> District</div>
<div class="col-12 col-md-6 partner"><strong>James Ed Harris </strong><br />At-Large</div>
<div class="col-12 col-md-6 partner"><strong>James Lusk</strong><br />At-Large</div>
<div class="col-12 col-md-6 partner"><strong>Secretary Rebecca Goodman</strong><br />Energy &amp; Environmental Cabinet</div>
<div class="col-12 col-md-6 partner"><strong>Secretary Holly M. Johnson</strong><br />Finance &amp; Administration Cabinet</div>
<div class="col-12 col-md-6 partner"><strong>Secretary Ray Perry</strong><br />Public Protection Cabinet</div>
<div class="col-12 col-md-6 partner"><strong>Secretary Jamie Link</strong><br />Labor Cabinet</div>
<div class="col-12 col-md-6 partner"><strong>Commissioner Jonathan Shell</strong><br />Department of Agriculture</div>
</div>
<hr class="spacer-20" />
<h5 class="h5">Non-Voting Members</h5>
<hr class="spacer-10" />
<div class="row">
<div class="col-12 col-md-6 partner"><strong>Secretary Lindy Casebier</strong><br />Tourism, Arts &amp; Heritage Cabinet</div>
<div class="col-12 col-md-6 partner"><strong>Secretary Jeff Noel</strong><br />Cabinet for Economic Development</div>
</div>
<hr class="spacer-10" /><a class="btn sm" href="/Home/PartnershipBoardMaterials" target="_blank" rel="noopener">Board Materials</a><hr class="spacer-60" />
<h4 class="h4">The Kentucky Economic Development Finance Authority</h4>
<hr class="spacer-10" />
<p><strong>The Kentucky Economic Development Finance Authority (KEDFA)</strong> is responsible for awarding most of the financial incentives offered by the Cabinet, including job growth and retention tax credit programs, loans, industrial revenue bonds, economic development bond grants and tax increment financing. Current board members are as follows:</p>
<div class="row">
<div class="col-12 col-md-6 partner"><strong>Jean R. Hale</strong>, Board Chair<br />Chairman, President &amp; CEO<br />Community Trust Bancorp, Inc.</div>
<div class="col-12 col-md-6 partner"><strong>Don Goodin</strong>, Vice Chair<br />Owner and Managing Partner<br />Lebanon Oak Flooring Co. LLC</div>
<div class="col-12 col-md-6 partner"><strong>Chad Miller</strong>, Asst Secretary Treasurer<br />CEO<br />LockNet, LCC</div>
<div class="col-12 col-md-6 partner"><strong>Tucker Ballinger</strong>, Secretary Treasurer<br />President &amp; CEO<br />Forcht Bank</div>
<div class="col-12 col-md-6 partner"><strong>Mike Cowles</strong><br />Chevron Corporation - Retired</div>
<div class="col-12 col-md-6 partner"><strong>Secretary Holly M. Johnson</strong><br />Finance &amp; Administration Cabinet</div>
<div class="col-12 col-md-6 partner"><strong>Naashom Marx</strong><br />Senior Manager of Strategic Innovation<br />Kenton County Airport Board / CVG International Airport</div>
</div>
<hr class="spacer-10" /><a class="btn sm" href="/Newsroom/KEDFA_Meeting_Approvals" target="_blank" rel="noopener">Board Materials</a><hr class="spacer-60" /><hr class="spacer-10" />
<h4 class="h4">The Bluegrass State Skills Corporation</h4>
<hr class="spacer-10" />
<p><strong>The Bluegrass State Skills Corporation (BSSC)</strong> oversees the approval of Skills Training Investment Credits and Grant-in-Aid projects to encourage workforce development in Kentucky. Current Members are as follows:</p>
<div class="row">
<div class="col-12 col-md-6 partner"><strong>Jai Y. Bokey</strong>, BSSC Board Chair<br />V-Soft Consulting Group Inc.</div>
<div class="col-12 col-md-6 partner"><strong>Rita Combs-Sterrett</strong><br />RCS Associates</div>
<div class="col-12 col-md-6 partner"><strong>Mrs. Shannon Cales</strong>, BSSC Member-at-Large<br />NuLease Medical Solutions, Healthcare Administration</div>
<div class="col-12 col-md-6 partner"><strong>Michael Yoder</strong>, Interim Commissioner<br /> Department of Workforce Development</div>
<div class="col-12 col-md-6 partner"><strong>Jeff Noel</strong>, Secretary<br />Cabinet for Economic Development</div>
<div class="col-12 col-md-6 partner"><strong>Zach Weinberg</strong></div>
<div class="col-12 col-md-6 partner"><strong>John Y. Kuzuoka</strong>, BSSC Secretary<br />School Administrator Sheet Metal Workers # 110, Retired</div>
<div class="col-12 col-md-6 partner"><strong>Tom Lund</strong><br />Retired Economic Development Professional</div>
<div class="col-12 col-md-6 partner"><strong>Ryan Quarles</strong><br />President, KCTCS</div>
<div class="col-12 col-md-6 partner"><strong>Brenda Bankston</strong>, BSSC Vice Chair<br />Big Brothers Big Sisters of Kentuckiana</div>
<div class="col-12 col-md-6 partner"><strong>Dr. Aaron Thompson</strong><br />Council on Postsecondary Education</div>
<div class="col-12 col-md-6 partner"><strong>Jamie W. Link</strong><br />Secretary - Education and Labour Cabinet</div>
<div class="col-12 col-md-6 partner"><strong>Aimee Wulfeck</strong></div>
<div class="col-12 col-md-6 partner"><strong>Dr. Houston Barber</strong> BSSC Treasurer<br />Deputy Superintendent Fayette County Public School</div>
<div class="col-12 col-md-6 partner"><strong>Nicholas Rapier</strong></div>
<div class="col-12 col-md-6 partner"><strong>Jim Dodds</strong><br />Manager</div>
<div class="col-12 col-md-6 partner"><strong>Robert Akin</strong><br />Director Kentucky Laborers-Employers Corporation and Education Trust</div>
</div>
<hr class="spacer-10" /><a class="btn sm" href="/Workforce/BSSC" target="_blank" rel="noopener">Board Materials</a><hr class="spacer-60" />
<h4 id="csbia" class="h4">The Commission on Small Business Innovation and Advocacy</h4>
<hr class="spacer-10" />
<p>Is a regulation, law or mandate affecting your small business? As a small-business owner, you need a voice in state government. The Kentucky Commission on Small Business Innovation and Advocacy (CSBIA) is that voice.The CSBIA is an independent state commission that relies on the expertise of a thirteen-member board, appointed by the Governor.</p>
<p>The CSBIA provides information on proposed state legislation, regulations and recently enacted state law that impact small business. The Commission looks at issues such as licensing/permitting requirements, taxes, and other areas of government that affect small business.</p>
<p>The CSBIA exists to accomplish the following:</p>
<ul>
<li>Address matters of small business as it relates to government affairs</li>
<li>Promote a cooperative and constructive relationship between state agencies and the small business community to ensure coordination and implementation of statewide strategies that benefit small businesses in the Commonwealth</li>
<li>Coordinate and educate the small business community on federal, state, and local government initiatives of value and importance to the small business community</li>
<li>Create a process by which the small business community is consulted in the development of public policy</li>
<li>Aid the small business community in navigating the regulatory process, when that process becomes cumbersome, time consuming, and bewildering to the small business community</li>
<li>Advocate for the small business, as necessary when regulatory implementation is overly burdensome, costly, and harmful to the success and growth of small businesses in the Commonwealth</li>
<li>Collect information and research those public policies and government practices which are helpful or detrimental to the success and growth of the small business community</li>
<li>Review administrative regulations and provide advisory opinions on potential impact to small business</li>
<li>Promote awareness of the <a href="http://www.sba.gov/advocacy/825/12186" target="_blank" rel="noopener">Small Business Regulatory Fairness Enforcement Act of 1996</a> which was designed to help eliminate and/or reduce the cost of regulatory compliance for small businesses.</li>
</ul>
<p>Interested parties may review proposed new regulations and legislation and provide comment.</p>
<p>To review proposed new regulations, <a href="https://secure.kentucky.gov/regwatch/" target="_blank" rel="noopener">visit the RegWatch page</a>.<br />To review proposed and new legislation, <a href="http://www.lrc.ky.gov/" target="_blank" rel="noopener">the Legislative Research Commission page</a>.</p>
<p>If you have questions or comments about the impact of government regulations on small business, please email <a href="mailto:CSBA@ky.gov">CSBA@ky.gov</a> or call 800-626-2930.</p>
<p>The CSBA is overseen by a board of business owners and is appointed by the Governor.</p>
<hr class="margin-40" />
<h3 class="col-12 col-md-9">Current members</h3>
<hr class="spacer-20" />
<div class="row">
<div class="col-xs-12 col-md-6 partner"><strong>Lesa Ann Seibert</strong>, Vice Chair<br />Mightily</div>
<div class="col-xs-12 col-md-6 partner"><strong>Dale Morgan</strong><br />Lexington Fayette Urban County</div>
<div class="col-xs-12 col-md-6 partner"><strong>Toa Vipavee Green</strong><br />Crank and Boom</div>
<div class="col-xs-12 col-md-6 partner"><strong>Geoff Marietta</strong><br />5th Congressional District</div>
<div class="col-xs-12 col-md-6 partner"><strong>Terra Leavell</strong><br />Black Community Development</div>
<div class="col-xs-12 col-md-6 partner"><strong>Sundeep Dronawat</strong><br />West Wind Power</div>
<div class="col-xs-12 col-md-6 partner"><strong>Todd Blume</strong><br />Paducah Beer Works</div>
<div class="col-xs-12 col-md-6 partner"><strong>Susan Hoechner</strong><br />Barbara Stewart Interiors</div>
<div class="col-xs-12 col-md-6 partner"><strong>Jeff Anderson</strong><br />Self Employed</div>
<div class="col-xs-12 col-md-6 partner"><strong>Larry Waddle</strong><br />Metal Recycling Yard</div>
<div class="col-xs-12 col-md-6 partner"><strong>Joshua Ravenscraft</strong><br />New Frontier, Inc.</div>
<div class="col-xs-12 col-md-6 partner"><strong>Loren Wolff</strong><br />-</div>
</div>
<hr class="margin-40" />
<h3 class="col-12 col-md-9">CSBIA 2024 Meeting Dates (Frankfort)</h3>
<ul>
<li>February 9, 2024 (11 a.m.)</li>
<li>May 10, 2024 (11 a.m.)</li>
<li>August 9, 2024 (11 a.m.)</li>
<li>September 13, 2024 (11 a.m.)</li>
</ul>
<hr class="spacer-60" /><a class="btn sm" href="/Entrepreneurship/Advocacy" target="_blank" rel="noopener">Board Materials</a></section>