<section class="col-12 col-md-9">
<h1 class="h1 clr-blue">About Kentucky</h1>
<hr class="margin-40" />
<div class="row">
<div class="col-12 col-sm-6">
<div class="icon-box style8 text-center"><strong>Population</strong>
<p>4.526 million people (July, 2023)</p>
</div>
</div>
<div class="col-12 col-sm-6">
<div class="icon-box style8 text-center"><strong>Size</strong>
<p>39,491.61&nbsp;square miles (2020)</p>
</div>
</div>
<div class="col-12 col-sm-6">
<div class="icon-box style8 text-center"><strong>Unemployment Rate</strong>
<p>Average unemployment rate for 2023 was 4 percent.</p>
</div>
</div>
<div class="col-12 col-sm-6">
<div class="icon-box style8 text-center"><strong>Mean Annual Salary</strong>
<div>The Kentucky mean annual salary is approximately $54,200 in 2023.</div>
<div>The Kentucky median annual salary is approximately $43,300 in 2023.</div>
</div>
</div>
</div>
<hr class="spacer-60" /><a class="btn" href="https://ced.ky.gov/media/WebMedia/Kentucky_Economic_Overview.pdf" target="_blank" rel="noopener">Detailed Economic Overview</a><hr class="spacer-60" />
<h2>10 Most Populous Kentucky Cities</h2>
<hr class="spacer-20" />
<div id="cityPop" class="row">
<div class="col-6">Louisville/ Jefferson County</div>
<div class="col-6">617,914</div>
<hr class="spacer-5" />
<div class="col-6">Lexington-Fayette</div>
<div class="col-6">320,095</div>
<hr class="spacer-5" />
<div class="col-6">Bowling Green</div>
<div class="col-6">78,480</div>
<hr class="spacer-5" />
<div class="col-6">Owensboro</div>
<div class="col-6">60,041</div>
<hr class="spacer-5" />
<div class="col-6">Covington</div>
<div class="col-6">41,266</div>
<hr class="spacer-5" />
<div class="col-6">Georgetown</div>
<div class="col-6">39,778</div>
<hr class="spacer-5" />
<div class="col-6">Richmond</div>
<div class="col-6">38,545</div>
<hr class="spacer-5" />
<div class="col-6">Florence</div>
<div class="col-6">33,180</div>
<hr class="spacer-5" />
<div class="col-6">Hopkinsville</div>
<div class="col-6">30,789</div>
<hr class="spacer-5" />
<div class="col-6">Nicholasville</div>
<div class="col-6">32,815</div>
<hr class="spacer-5" />
<div class="col-6">Elizabethtown</div>
<div class="col-6">31,870</div>
</div>
<hr class="spacer-20" />

<iframe src=https://jobseq.eqsuite.com/widget/widgetview?token=083913e6-23a2-4d5a-a314-78c6123f65b0&theme=wt-blue

    height="600"

    width="100%"></iframe>

 <hr class="spacer-20" />

<iframe src=https://jobseq.eqsuite.com/widget/widgetview?token=89ccff62-b543-470c-8d6f-ad814662cae0&theme=wt-blue

    height="600"

    width="100%"></iframe>

 <hr class="spacer-20" />

<iframe src=https://jobseq.eqsuite.com/widget/widgetview?token=37792052-b4f5-4df5-8698-de9c4f75acd9&theme=wt-blue

    height="600"

    width="100%"></iframe>



</section>