<section class="col-12 col-md-9">
<h1 class="h1 clr-blue">The Kentucky Small Business Tax Credit Program (KSBTC)</h1>
<hr class="margin-40" />
<h2>A Reward for Your Success</h2>
<hr class="spacer-20" />
<div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iengOyk32KA?si=d0suKIqyqh-qJ5K9" allowfullscreen=""></iframe></div>
<p>&nbsp;</p>
<p>Your company may be eligible for a substantial tax credit just for doing what successful businesses do &ndash; grow!</p>
<p>It&rsquo;s simple. The Kentucky Small Business Tax Credit program offers between $3,500 and $25,000 per year for small businesses that have:</p>
<ul>
<li>Hired and sustained at least one new job in the last year</li>
<li>Purchased at least $5,000 in qualifying equipment or technology</li>
</ul>
<hr class="spacer-60" />
<h2>Things You Should Know</h2>
<hr class="spacer-20" />
<ul id="top10" class="bxslider">
<li>Most businesses with 50 or fewer full-time employees are eligible</li>
<li>Open to nearly all industry segments, including retail and service</li>
<li>Tax credit amount ranges from $3,500 to $25,000 per year depending on jobs created and investment made</li>
<li>Tax credit applies to state tax return for the year it was awarded</li>
<li>Have you hired at least one new full-time employee and invested at least $5,000 in new equipment/technology? You may be eligible</li>
<li>The new employee must have been on the payroll for at least one year</li>
<li>The new employee must earn at least $10.88/hour</li>
</ul>
<hr class="spacer-60" />
<table>
<tbody>
<tr>
<td colspan="4" align="center"><img src="https://cedky.com/cdn/1927_tax-credit.png" /></td>
</tr>
<tr>
<td colspan="4" align="center">
<h2>Benefits of the Kentucky Small Business Tax Credit</h2>
</td>
</tr>
<tr>
<td align="center"><img src="https://cedky.com/cdn/1927_new-jobs.png" /><br /><span class="fig"><strong>4,681</strong></span><br /><span class="lab">New Jobs</span></td>
<td align="center"><img src="https://cedky.com/cdn/1927_total-investment.png" /><br /><span class="fig"><strong>$48.7 M</strong></span><br /><span class="lab">Total Investment by Companies</span></td>
<td align="center"><img src="https://cedky.com/cdn/1927_total-tax.png" /><br /><span class="fig"><strong>$15.8 M</strong></span><br /><span class="lab">Total Tax Credit Earned by Companies</span></td>
<td align="center"><img src="https://cedky.com/cdn/1927_average-tax.png" /><br /><span class="fig"><strong>$14,560</strong></span><br /><span class="lab">Average Tax Credit Earned by Companies</span></td>
</tr>
</tbody>
</table>
<hr class="spacer-60" />
<h2>Are You Eligible?</h2>
<hr class="spacer-20" />
<ul>
<li><a class="noCache" title="KSBTC Fact Sheet" href="https://cedky.com/cdn/1740_ksbtcfactsheet.pdf" target="_blank" rel="noopener">KSBTC Fact Sheet</a></li>
<li><a class="noCache" title="KSBTC Guidelines" href="https://cedky.com/cdn/1740_ksbtcguidelines.pdf" target="_blank" rel="noopener">KSBTC Guidelines</a></li>
<li><a class="noCache" href="https://cedky.com/cdn/1927_KSBTC_10things.pdf" target="_blank" rel="noopener">10 Things to Know</a></li>
</ul>
<hr class="spacer-60" />
<h2>Apply</h2>
<hr class="spacer-20" />
<p>After meeting all eligibility requirements, fill out the KSBTC Application below and provide all required supporting documentation listed in the application form.</p>
<a class="btn" href="https://cedky.com/cdn/1927_KSBTCApplication.xlsx?24">KSBTC Application</a><hr class="spacer-20" />
<ul>
<li><a title="https://ced.ky.gov/Locating_Expanding/kybizince" href="https://ced.ky.gov/Locating_Expanding/kybizince" target="_blank" rel="noopener">Other Resources</a></li>
<li><a href="//apps.legislature.ky.gov/law/statutes/chapter.aspx?id=37809" target="_blank" rel="noopener">KSBTC Statutes</a></li>
</ul>
<hr class="spacer-60" />
<h2>Contact</h2>
<hr class="spacer-20" />
<p>For more information about the Kentucky Small Business Tax Credit program, please contact the Office of Entrepreneurship at <a href="mailto:cedsbsd@ky.gov">cedsbsd@ky.gov</a> or call 800-626-2930.</p>
<p><small> The Cabinet&rsquo;s services, assistance, and activities are available to all without regard to race, color, gender or national origin. </small></p>
</section>