<section class="col-12 col-md-9">
<h1 class="h1 clr-blue">Workforce Resources</h1>
<hr class="margin-40" />
<p>The Cabinet for Economic Development regularly partners with other great organizations and institutions across the Commonwealth. Below is information about some of these partners with links to contact them directly.</p>
<h3>Education</h3>
<hr class="spacer-20" />
<ul>
<li><a href="https://kctcs.edu/our-colleges/index.aspx" target="_blank" rel="noopener">Kentucky Community &amp; Technical College System (KCTCS)</a><br />Offers 16 colleges in 70 locations throughout Kentucky that provide excellent educational and workforce preparation options for students in the Commonwealth.</li>

<li><a href="http://cpe.ky.gov/campuses/state.html" target="_blank" rel="noopener">Kentucky Public Institutions</a><br />This site, provided by the Council on Postsecondary Education, provides links to Kentucky&rsquo;s public colleges and universities.</li>
<li><a href="http://cpe.ky.gov/campuses/in-state.html" target="_blank" rel="noopener">Kentucky&rsquo;s Independent Institutions</a><br />The Association of Independent Colleges and Universities (AICKU) oversees a group of independent colleges and universities. This list includes those, plus others licensed non-profit and for-profit institutions.</li>
<li><a href="https://cedky.com/cdn/11009_JapaneseSS.pdf" target="_blank" rel="noopener">Japanese Saturday Schools</a><br />Japanese Saturday Schools in Kentucky help Japanese students maintain a level of proficiency equal to that of children in Japan in the major subject areas. This list provides contact information for schools.</li>
<li><a href="https://kyskillsu.ky.gov/Pages/index.aspx" target="_blank" rel="noopener">Kentucky Adult Education</a><br />KYAE programs in every county deliver academic instruction that is contextualized for the workplace. Through a comprehensive program of studies each student is provided both in-person and virtual instruction to prepare for the GED&reg; test, the National Career Readiness Certificate (NCRC) and the Kentucky Essential Skills Certificate (KESC), which addresses the essential soft skills needed to get a job, keep a job and advance in the workplace.</li>
</ul>
<hr class="spacer-60" />
<h3>Workforce</h3>
<hr class="spacer-20" />
<ul>
<li><a href="/Workforce/BSSC">Bluegrass State Skills Corporation (BSSC)</a><br />Provides incentives to support Kentucky business&rsquo; efforts to help new and existing employees stay competitive through flexible, employer-driven skills-upgrade training.</li>
<li><a href="http://www.kyfame.com/" target="_blank" rel="noopener">KY FAME</a><br />The Kentucky Federation for Advanced Manufacturing Education (KY FAME) is a company-sponsored partnership of statewide employers who share the goal of creating a pipeline of highly skilled workers. Employers start training students while they are still in school. Students receive hands-on and classroom training that gives them access to high-paying advanced manufacturing jobs.</li>
<li><a href="https://kyworks.ky.gov/Services/Pages/Registered-Apprenticeships.aspx" target="_blank" rel="noopener">Apprenticeship Programs</a><br />Registered apprenticeships are training programs that produceworkers for high-demand careers through hands on, on the job training. Apprentices earn a salary while learning the skills they need.</li>
<li><a href="https://workreadykentucky.com/" target="_blank" rel="noopener">Work Ready Scholarships</a><br />Great, high-paying jobs are not getting filled because folks haven't had access to get the training they need. Kentucky is now offering to pay for this training so we can help workers start earning a bigger paycheck and building a better life. This site will describe these high-demand jobs and where students of any age can receive fast, free education that will put them on a fast track for a bright future.</li>
<li><a href="http://workready.ky.gov/" target="_blank" rel="noopener">Work Ready Communities</a><br />Kentucky communities are undergoing the most rigorous certification program in the nation to demonstrate their workforce quality. The criteria include high school graduation rates, National Career Readiness Certificate holders, community commitment, educational attainment, soft skills development and Internet availability.</li>
<li><a href="https://elc.ky.gov/workplace-standards/Pages/State-and-Federal-Regulations.aspx" target="_blank" rel="noopener">Employment &amp; Labor Laws</a><br />Be informed about national and state labor laws through the U.S. Small Business Administration.</li>
<li><a href="http://kcc.ky.gov/" target="_blank" rel="noopener">Kentucky Career Center</a><br />With over 100 locations across Kentucky, Kentucky Career centers will serve as a single point of contact for companies to post jobs and recruit talent.</li>
<li><a href="https://labor.ky.gov/standards/Pages/OSH Compliance.aspx" target="_blank" rel="noopener">Occupational Safety and Health Regulations</a><br />Learn more about Kentucky&rsquo;s OSHA regulations and how to receive free health and safety training through the Kentucky Labor Cabinet.</li>
</ul>
</section>