[
  {
"field_name": "ced_announcement",
    "Description": "CED Alert Announcement",
    "Message": "<div id=\"covid-19_banner\" class=\"bg-red\">Donate to the <a href=\"https://secure.kentucky.gov/FormServices/Finance/EKYFloodReleif\" target=\"_blank\">Team Eastern Kentucky Flood Relief Fund</a>a>. Resources for flood victims can be found <a href="\https://governor.ky.gov/flood-resources\" target=\"_blank\">here</a></div>"  }
]