<section class="section">
    <div class="container">
        <div class="row row-eq-height justify-content-center">
            <div class="col-12">
                <h2 class="clr-blue">Team Western Kentucky Tornado Relief Fund</h2>
				<p>
					Gov. Andy Beshear has established the Team Western Kentucky Tornado Relief Fund to assist those impacted by the tornados and the severe weather system on Dec. 11, 2021. All donations to the relief fund are tax-deductible and donors will receive a receipt for tax purposes after donating.

					 <br><br>

					<a href="https://secure.kentucky.gov/formservices/Finance/WKYRelief" target="_blank">Learn more here.</a>
				</p>
  				<h2 class="clr-blue">SBA Disaster Assistance</h2>
				<p>
					The U.S. Small Business Administration (SBA) is offering disaster assistance loans to Kentucky businesses and residents affected by the tornado outbreak. SBA has made low-interest disaster loans available to businesses and residents in Kentucky impacted by the severe storms, straight-line winds, flooding and tornadoes in December 2021.

					  <br><br>

					<a href="https://www.sba.gov/about-sba/sba-newsroom/press-releases-media-advisories/sba-offers-disaster-assistance-businesses-and-residents-kentucky-affected-severe-storms-straight" target="_blank">More information is available here.
					</a>
					<br>
				</p>
 				

	
  				<h2 class="clr-blue">Non-monetary Donations</h2>
				<p>
					In addition to financial support for families in Western Kentucky, the following local organizations are accepting non-monetary donations (food, supplies, etc.):
			 		<br>
			 		<br>
					Graves County Emergency Management<br>
					(270) 727-5114<br>
					101 East South Street<br>
					Mayfield, KY 42066<br>
					Volunteer <a href="https://surveyhero.com/c/viuf4h7p?fbclid=IwAR2h6y_XYaPkVH14G2KmbGNkWeysUAoCI0ybRjvm7oGb-zcJbhl2vS2_Z5E" target="_blank">Sign Up</a>
					<br>
					<br>
					Paducah Police Department<br>
					(270) 444-8590<br>
					1400 Broadway Street
					<br>
				</p>
		</div>
	</div>
</div>
