<link rel="stylesheet" href="https://ced.ky.gov/lib/bootstrap/dist/css/bootstrap.min.css">

<section>
    <div class="container">
         <div class="row">
            <div class="col-lg-12 text-center">
            <h1>Downloadable Documentation</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <a href="https://ced.ky.gov/WebFiles/presentation/CED_Why_Ky_AS23/something.pdf" target="_blank">
                <img src="https://ced.ky.gov/WebFiles/presentation/CED_Why_Ky_AS23/as23-investing_trifold.jpg" />
                </a>
            </div>
            <div class="col-lg-10">
                
                    <h2 class="mt-5">Investing in KY Tri-Fold</h2>
                    <li><a href="https://ced.ky.gov/WebFiles/presentation/CED_Why_Ky_AS23/CED_InvestingInKentucky_Trifold_En.pdf" target="_blank">English Version
                    </a></li>
                     <li><a href="https://ced.ky.gov/WebFiles/presentation/CED_Why_Ky_AS23/CED_InvestingInKentucky_Trifold_Korea.pdf" target="_blank">Korea Version</a></li>

                     <li><a href="https://ced.ky.gov/WebFiles/presentation/CED_Why_Ky_AS23/CED_InvestingInKentucky_Trifold_Ja.pdf" target="_blank">Japan Version</a></li>

            </div>
        </div>

                <div class="row">
            <div class="col-lg-2">
                <a href="https://ced.ky.gov/WebFiles/presentation/CED_Why_Ky_AS23/Rack_Card_EV.pdf" target="_blank">
                <img src="https://ced.ky.gov/WebFiles/presentation/CED_Why_Ky_AS23/as23-rack.jpg" />
                </a>
            </div>
            <div class="col-lg-10">
                
                    <h2 class="mt-5">EV Rack Card</h2>
                    <li><a href="https://ced.ky.gov/WebFiles/presentation/CED_Why_Ky_AS23/Rack_Card_EV.pdf" target="_blank">English Version
                </a></li>
                                    <li><a href="https://ced.ky.gov/WebFiles/presentation/CED_Why_Ky_AS23/Rack_Card_EV_Taiwan.pdf" target="_blank">Taiwan Version
                </a></li>
            </div>
        </div>


                <div class="row">
            <div class="col-lg-2">
                <a href="https://ced.ky.gov/WebFiles/presentation/CED_Why_Ky_AS23/something.pdf" target="_blank">
                <img src="https://ced.ky.gov/WebFiles/presentation/CED_Why_Ky_AS23/as23-trifold.jpg" />
                </a>
            </div>
            <div class="col-lg-10">
                
                    <h2 class="mt-5">Ten Reasons For KY Rack Card</h2>
                    <li><a href="https://ced.ky.gov/WebFiles/presentation/CED_Why_Ky_AS23/CED_2022_10Reasons_Rackcard_v3.pdf" target="_blank">English Version
                </a></li>
                <li><a href="https://ced.ky.gov/WebFiles/presentation/CED_Why_Ky_AS23/10reasons_Rackcard_Taiwan.pdf" target="_blank">Taiwan Version
                </a></li>

                
            </div>
        </div>

                <div class="row">
            <div class="col-lg-2">
                <a href="https://ced.ky.gov/WebFiles/presentation/CED_Why_Ky_AS23/CED_Automotive_Guide_2023.pdf" target="_blank">
                <img src="https://ced.ky.gov/WebFiles/presentation/CED_Why_Ky_AS23/as23-automotive_guide.jpg" />
                </a>
            </div>
            <div class="col-lg-10">
                
                    <h2 class="mt-5">Automotive Brochure</h2>
                    <li><a href="https://ced.ky.gov/WebFiles/presentation/CED_Why_Ky_AS23/CED_Automotive_Guide_2023.pdf" target="_blank">English Version
                </a></li>
            </div>
        </div>


                <div class="row">
            <div class="col-lg-2">
                <a href="https://ced.ky.gov/WebFiles/presentation/CED_Why_Ky_AS23/Asia_Visit_Slide_Deck_Booklet.pdf" target="_blank">
                <img src="https://ced.ky.gov/WebFiles/presentation/CED_Why_Ky_AS23/as23-slides.jpg" />
                </a>
            </div>
            <div class="col-lg-10">
                
                    <h2 class="mt-5">Slide deck</h2>
                    <li><a href="https://ced.ky.gov/WebFiles/presentation/CED_Why_Ky_AS23/Asia_Visit_Slide_Deck_Booklet.pdf" target="_blank">English Version
                </a></li>
            </div>
        </div>            
    </div>
</section>