<section id="staff" class="col-12 col-md-9">
<h1 class="h1 clr-blue">Our Staff</h1>
<hr class="margin-40" />
<h2 class="h2">Executive Leadership</h2>
<hr class="spacer-40" />
<div class="row row-eq-height">
<div class="col-12 col-sm-6 col-md-4">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_JeffNoel.jpg');">
<div class="popup">Jeff.Noel@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Jeff Noel</h6>
<strong>Secretary</strong><br />Office of the Secretary</div>
</div>
<div class="col-12 col-sm-6 col-md-4">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_KatieSmith.jpg');">
<div class="popup">Katie.Smith@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Katie Smith</h6>
<strong>Deputy Secretary</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-4">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_KristinaSlattery.jpg');">
<div class="popup">Kristina.Slattery@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Kristina Slattery</h6>
<strong>Commissioner</strong><br />Department for Business and Community Development</div>
</div>

<div class="col-12 col-sm-6 col-md-4">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_KyleePalmer.jpg');">
<div class="popup">Kylee.Palmer@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Kylee Palmer</h6>
<strong>Deputy Commissioner</strong></div>
</div>


<div class="col-12 col-sm-6 col-md-4">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_MattWingate.jpg');">
<div class="popup">Matthew.Wingate@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Matthew Wingate</h6>
<strong>General Counsel</strong></div>
</div>


<div class="col-12 col-sm-6 col-md-4">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_ChristopherSnyder.jpg');">
<div class="popup">Christopher.Snyder@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Christopher Snyder</h6>
<strong>Director</strong><br />Research and Strategy Division</div>
</div>
<div class="col-12 col-sm-6 col-md-4">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_BrandonMattingly.jpg');">
<div class="popup">Brandon.Mattingly@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Brandon Mattingly</h6>
<strong>Director</strong><br />Marketing and Communications Division</div>
</div>



</div>


<!--End--> <!--New Section--><hr class="spacer-60" />
<h4 class="h4">Office of the Secretary</h4>
<hr class="spacer-40" />
<div class="row row-eq-height">
	
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_ScottieEllis.jpg');">
<div class="popup">scottie.ellis@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Scottie Ellis</h6>
<strong>Executive Advisor </strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_KarenYates.jpg');">
<div class="popup">Karen.Yates@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Karen Yates</h6>
<strong>Executive Assistant</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_MauriceWalker.jpg');">
<div class="popup">Maurice.Walker@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Maurice Walker</h6>
<strong>Executive Administrative Assistant</strong></div>
</div>
</div>


<!--Department for Business Development--><hr class="spacer-60" />
<h4 class="h4">Department for Business and Community Development</h4> 
<h5 class="h5">Project Management</h5>
<hr class="spacer-40" />
<div class="row row-eq-height">

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_AndyLuttner.jpg');">
<div class="popup">Andy.Luttner@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Andy Luttner</h6>
<strong>Director</strong><br> Development, Retention & Admin - Central and East</div>
</div>

	<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://ced.ky.gov/media/WebMedia/CorkyPeek.jpg');">
<div class="popup">Corky.Peek@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Corky Peek</h6>
<strong>Director</strong><br>Development & Retention - West</div>
</div>


<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_BrandonCombs.jpg');">
<div class="popup">Brandon.Combs@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Brandon Combs</h6>
<strong>Project Manager</strong><br>Workforce Specialist</div>
</div>


<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_AshleeChilton.jpg');">
<div class="popup">Ashlee.Chilton@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Ashlee Chilton</h6>
<strong>Senior Project Manager</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_MalcolmJollie.jpg');">
<div class="popup">Malcolm.Jollie@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Malcolm Jollie</h6>
<strong>Senior Project Manager</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_AmyBowman.jpg');">
<div class="popup">Amy.Bowman@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Amy Bowman</h6>
<strong>Business and Community Development Coordinator</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_ColinDodd.jpg');">
<div class="popup">Colin.Dodd@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Colin Dodd</h6>
<strong>Project Manager</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_CatePrather.jpg');">
<div class="popup">Cate.Prather@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Cate Prather</h6>
<strong>Project Manager</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_DanielleMilbern.jpg');">
<div class="popup">Danielle.Milbern@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Danielle Milbern</h6>
<strong>Project Manager</strong><br>Agriculture Specialist</div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_ScottMoseley.jpg');">
<div class="popup">Scott.Moseley@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Scott Moseley</h6>
<strong>Project Manager</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_BrittanyPetty.jpg');">
<div class="popup">Brittany.Petty@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Brittany Petty  </h6>
<strong>Project Manager</strong></div>
</div>


</div>


<!--Department for Business Development--><hr class="spacer-60" />
<h4 class="h4">Department for Business and Community Development</h4> 
<h5 class="h5">International</h5>
<hr class="spacer-40" />
<div class="row row-eq-height">
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_Finn_Weisse.jpg');">
<div class="popup" style="font-size: 7pt;font-weight: 100;">finn.weisse@teamkentucky.international</div>
</div>
<h6 class="h6 clr-blue">Finn Weisse</h6>
<strong>Executive Director, European Office</strong><br>(Hamburg, Germany)</div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_MikeTakahashi.jpg');">
<div class="popup">Mike.Takahashi@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Mike Takahashi</h6>
<strong>Executive Director, Asia Office</strong><br>(Tokyo, Japan)</div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_victor.jpg');">
<div class="popup" style="font-size: 6.5pt;font-weight: 100;">victor.ehrnrooth@teamkentucky.international</div>
</div>
<h6 class="h6 clr-blue">Victor Ehrnrooth</h6>
<strong>Executive Director, European Office</strong><br>(Hamburg, Germany)</div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_male.png');">
<div class="popup">andy.lee@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Andy Lee</h6>
<strong>Executive Director, European Office</strong></div>
</div>



</div>
<!--New Section--><hr class="spacer-60" />
<h4 class="h4">Department for Financial Services</h4> 
<h5 class="h5">Program Administration Division</h5>
<hr class="spacer-40" />
<div class="row row-eq-height">
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_TimBack.jpg');">
<div class="popup">Tim.Back@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Tim Back</h6>
<strong>Assistant Director</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_TimBates.jpg');">
<div class="popup">tbates@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Tim Bates</h6>
<strong>Senior Program Manager</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_MichelleElder.jpg');">
<div class="popup">Michelle.Elder@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Michelle Elder</h6>
<strong>Senior Program Manager</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_Joseph-Gearon.jpg');">
<div class="popup">joseph.gearon@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Joseph Gearon</h6>
<strong>Program Manager</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_MatthewJordan.jpg');">
<div class="popup">matthew.jordan@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Matthew Jordan</h6>
<strong>Program Specialist</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_RavenAiken.jpg');">
<div class="popup">raven.aiken@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Raven Aiken</h6>
<strong>Program Manager</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_EllenFelix.jpg');">
<div class="popup">Ellen.Felix@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Ellen Felix</h6>
<strong>Administrative Coordinator</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_MollyLancaster.jpg');">
<div class="popup">Molly.Lancaster@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Molly Lancaster</h6>
<strong>Executive Administrative Secretary</strong></div>
</div>


<div class="col-12 col-sm-6 col-md-3">
	<div class="employeeContainer emailLink">
	<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_BrennanTucker.jpg');">
	<div class="popup">brennan.tucker@ky.gov</div>
	</div>
	<h6 class="h6 clr-blue">Brennan Tucker</h6>
	<strong>Program Specialist</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
	<div class="employeeContainer emailLink">
	<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_BreannaDolan.jpg');">
	<div class="popup">breanna.dolan@ky.gov</div>
	</div>
	<h6 class="h6 clr-blue">Breanna Dolan</h6>
	<strong>Program Specialist</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
	<div class="employeeContainer emailLink">
	<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_CodyPennington.jpg');">
	<div class="popup">cody.pennington@ky.gov</div>
	</div>
	<h6 class="h6 clr-blue">Cody Pennington</h6>
	<strong>Program Specialist</strong></div>
</div>

</div>
<!--New Section--><hr class="spacer-60" />
<h4 class="h4">Department for Financial Services</h4>
<h5 class="h5">Compliance Division</h5>
<hr class="spacer-40" />
<div class="row row-eq-height">

	<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_BethSturm.jpg');">
<div class="popup">Beth.Sturm@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Beth Sturm</h6>
<strong>Director Compliance Manager</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_DanWood.jpg');">
<div class="popup">Dan.Wood@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Dan Wood</h6>
<strong>Assistant Director</strong> <br> Compliance</div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_CraigKelly.jpg');">
<div class="popup">Craig.Kelly@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Craig Kelly</h6>
<strong>Senior Compliance Manager</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_DanielleDunmire.jpg');">
<div class="popup">Danielle.Dunmire@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Danielle Dunmire</h6>
<strong>Senior Compliance Manager</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_RachaelDever.jpg');">
<div class="popup">Rachael.Dever@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Rachael Dever</h6>
<strong>Compliance Manager</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_GabrielleMcGee.jpg');">
<div class="popup">gabrielle.mcgee@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Gabrielle McGee</h6>
<strong>Compliance Specialist</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_ColinWright.jpg');">
<div class="popup">colin.wright@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Colin Wright</h6>
<strong>Compliance Specialist</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_GageGreer.jpg');">
<div class="popup">gage.greer@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Gage Greer</h6>
<strong>Compliance Specialist</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_AndrewOsborne.jpg');">
<div class="popup">andrew.osborne@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Andrew Osborne</h6>
<strong>Compliance Specialist</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_CasadiBramer.jpg');">
<div class="popup">Casadi.Bramer@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Casadi Bramer</h6>
<strong>Compliance Specialist</strong></div>
</div>

</div>
<!--New Section--><hr class="spacer-60" />
<h4 class="h4">Department for Financial Services</h4>
<h5 class="h5">Finance &amp; Personnel Division</h5>
<hr class="spacer-40" />
<div class="row row-eq-height">

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_ShannonMacDonald_l.jpg');">
<div class="popup">Shannon.MacDonald@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Shannon MacDonald</h6>
<strong>Director</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_JonWertzler.jpg');">
<div class="popup">Jon.Wertzler@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Jon Wertzler</h6>
<strong>Assistant Director</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_KristaHarrod.jpg');">
<div class="popup">Krista.Harrod@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Krista Harrod</h6>
<strong>Staff Accountant</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_ChristyWingate.jpg');">
<div class="popup">Christy.Wingate@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Christy Wingate</h6>
<strong>Staff Accountant</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_JeaneDarby.jpg');">
<div class="popup">Jeanne.Darby@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Jeanne Darby</h6>
<strong>Human Resource Administrator</strong></div>
</div>
</div>
<!--New Section--><hr class="spacer-60" />
<h4 class="h4">Department for Financial Services</h4>
<h5 class="h5">IT &amp; Resource Management Division</h5>
<hr class="spacer-40" />
<div class="row row-eq-height">
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_AshiqZaman.jpg');">
<div class="popup">Ashiq.Zaman@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Ashiq Zaman</h6>
<strong>Director</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_NasimMoula.jpg');">
<div class="popup">nasim.moula@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Nasim Moula</h6>
<strong>Assistant Director</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_Suresh.jpg');">
<div class="popup">Suresh.Boddeti@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Suresh Boddeti</h6>
<strong>Salesforce Developer</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_RajMandala.jpg');">
<div class="popup">Raj.Mandala@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Raj Mandala</h6>
<strong>Salesforce Developer</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_JohnHarbison.jpg');">
<div class="popup">John.Harbison@ky.gov</div>
</div>
<h6 class="h6 clr-blue">John Harbison</h6>
<strong>Senior Web Developer</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_BradleyPopp.jpg');">
<div class="popup">BradleyL.Popp@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Bradley Popp</h6>
<strong>Resource Management Analyst</strong></div>
</div>




</div>
<!-- END ROW EQ HEIGHT --> <!--New Section--><hr class="spacer-60" />
<h4 class="h4">Office of Marketing &amp; Public Affairs</h4>
<h5 class="h5">Marketing &amp; Communications Division</h5>
<hr class="spacer-40" />
<div class="row row-eq-height">
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_ConnorMcJunkin.jpg');">
<div class="popup">Connor.McJunkin@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Connor McJunkin</h6>
<strong>Communications Manager</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_CamrynMcManis.jpg');">
<div class="popup">Camryn.Aulbach@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Camryn Aulbach</h6>
<strong>Communications Manager</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_ChadHeightchew.jpg');">
<div class="popup">Chad.Heightchew@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Chad Heightchew</h6>
<strong>Senior Graphic Design Manager</strong></div>
</div>


<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_PhyllisBruning.jpg');">
<div class="popup">Phyllis.Bruning@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Phyllis Bruning</h6>
<strong>Special Projects Coordinator</strong></div>
</div>


<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_LindseyDerosa.jpg');">
<div class="popup">Lindsey.Derosa@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Lindsey DeRosa</h6>
<strong>Communications Manager</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_EmmaMacy.jpg');">
<div class="popup">Emma.Macy@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Emma Macy</h6>
<strong>Communications Manager</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_CharityHedges.jpg');">
<div class="popup">CharityM.Hedges@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Charity Hedges</h6>
<strong>Commercial and Editorial Photographer</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_KristaConley.jpg');">
<div class="popup">Krista.Conley@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Krista Conley</h6>
<strong>Graphic Designer Specialist</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_male.png');">
<div class="popup">casey.womack@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Casey Womack</h6>
<strong>Commercial and Editorial Videographer</strong></div>
</div>


</div>
<!--New Section--><hr class="spacer-60" />
<h4 class="h4">Office of Marketing &amp; Public Affairs</h4>
<h5 class="h5">Research &amp; Strategy Division</h5>

<hr class="spacer-40" />
<div class="row row-eq-height">

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_RayGriffith.jpg');">
<div class="popup">Ray.Griffith@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Ray Griffith</h6>
<strong>Research Advisor</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink emailLinkSmall">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_JennySchenkenfelder.jpg');">
<div class="popup">Jennifer.Schenkenfelder@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Jenny Schenkenfelder</h6>
<strong>Senior Sites-Buildings Manager/GIS Specialist</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_KeatonLowe.jpg');">
<div class="popup">Keaton.Lowe@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Keaton Lowe</h6>
<strong>Research Manager</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_JacobLeigh.jpg');">
<div class="popup">Jacob.Leigh@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Jacob Leigh</h6>
<strong>Research Manager</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_AmyMills.jpg');">
<div class="popup">Amy.Mills@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Amy Mills</h6>
<strong>Sites-Buildings Manager</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_JansenHammock.jpg');">
<div class="popup">Jansen.Hammock@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Jansen Hammock</h6>
<strong>Research Specialist</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_JoieBieger.jpg');">
<div class="popup">Joie.Bieger@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Joie Bieger</h6>
<strong>Research Specialist</strong></div>
</div>


</div>
<!--New Section--><hr class="spacer-60" />
<h4 class="h4">Office of Entrepreneurship and Innovation</h4>
<h5 class="h5">KY Innovation</h5>
<hr class="spacer-40" />
<div class="row row-eq-height">
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_David_Brock.jpg');">
<div class="popup">dbrock@ky.gov</div>
</div>
<h6 class="h6 clr-blue">David Brock</h6>
<strong>Interim Executive Director</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_KristineMcNiel.jpg');">
<div class="popup">Kristine.McNiel@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Kristine McNiel</h6>
<strong>Senior Project Manager</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_MarilynLebourveau.jpg');">
<div class="popup">Marilyn.LeBourveau@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Marilyn LeBourveau</h6>
<strong>Senior Project Manager</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_MaryNeCamp.jpg');">
<div class="popup">MNeCamp@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Mary NeCamp</h6>
<strong>Senior Project Manager</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_VictoriaWood.jpg');">
<div class="popup">Tori.Wood@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Tori Wood</h6>
<strong>Project Manager</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_ConnorWall.jpg');">
<div class="popup">Connor.Wall@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Connor Wall</h6>
<strong>Project Manager</strong></div>
</div>
</div>
<!--New Section--><hr class="spacer-60" />
<h4 class="h4">Office of Legal Services</h4>
<hr class="spacer-40" />
<div class="row row-eq-height">

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_ChadZimlich.jpg');">
<div class="popup">Chad.zimlich@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Chad Zimlich</h6>
<strong>Deputy General Counsel</strong></div>
</div>

<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_DawnPowers.jpg');">
<div class="popup">Dawn.Powers@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Dawn Powers</h6>
<strong>Paralegal Consultant</strong></div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="employeeContainer emailLink">
<div class="employeePhoto" role="img" aria-label="employee photo" style="background-image: url('https://cedky.com/cdn/1727_StephanieCullen.jpg');">
<div class="popup">Stephanie.Cullen@ky.gov</div>
</div>
<h6 class="h6 clr-blue">Stephanie Cullen</h6>
<strong>Executive Assistant</strong></div>
</div>
</div>
<!-- END ROW EQ HEIGHT --></section>