/* Fonts
font-family: "museo-sans",sans-serif;
font-family: "museo-sans-rounded",sans-serif;
*/

body {
    background: #fff;
	font-family: "museo-sans",sans-serif;
	font-size: 16px;
    color: #222;
}

.font-oswald {
    font-family: 'Oswald', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0px;
    padding: 0px;
	font-family: "museo-sans-rounded",sans-serif;
}

h1, .h1 {
    font-size: 48px;
}

h2, .h2 {
    font-size: 36px;
}

h3, .h3 {
    font-size: 32px;
}

h4, .h4 {
    font-size: 28px;
}

h5, .h5 {
    font-size: 24px;
}

h6, .h6 {
    font-size: 22px;
}

a {
    color: #f15a2c;
	text-decoration: none;
	
	-webkit-transition: color .25s ease;
	-moz-transition: color .25s ease;
	transition: color .25s ease;
}
    a:hover {
		color: #f15a2c;
        text-decoration: underline;
    }

p {margin-bottom: 20px;}

.opake {
	opacity: .5;
}

.aboutHighlight {
    font-size: 28px;
    line-height: 40px;
}

.container-fullwidth {
    width: 100%;
    padding: 0px;
}

    .container-fullwidth #sidebar, .container-fullwidth .row {
        margin: 0px !important;
        padding: 0px;
    }
    .container-fullwidth #sidebar {
        padding-right: 15px;
    }

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}

.font-rounded {
	font-family: "museo-sans-rounded",sans-serif;
}

.fullWidth {
    width: 100%;
}

.clear {
	clear: both;
}

.hide {
	display: none;
}

.spacer-5, .spacer-10, .spacer-15, .spacer-20, .spacer-25, .spacer-30, .spacer-40, .spacer-60, .spacer-80, .spacer-100 {
	padding: 0px;
	height: 1px;
	background: none;
	border: none;
	display: block;
	width: 100%;
}

.spacer-5 {margin: 5px 0px 0px;}
.spacer-10 {margin: 5px 0px;}
.spacer-15 {margin: 15px 0px 0px;}
.spacer-20 {margin: 10px 0px 10px;}
.spacer-25 {margin: 15px 0px 10px;}
.spacer-30 {margin: 15px 0px 15px;}
.spacer-40 {margin: 20px 0px 20px;}
.spacer-60 {margin: 30px 0px 30px;}
.spacer-80 {margin: 50px 0px 50px;}
.spacer-100 {margin: 50px 0px 50px;}
.spacer-160 {margin: 80px 0px 80px;}

.margin-5, .margin-10, .margin-15, .margin-20, .margin-30, .margin-40, .margin-60, .margin-80, .margin-100 {
	padding: 0px;
	height: 1px;
	background: #eee;
	border: none;
	display: inline-block;
	width: 100%;
}

.halfWidth {
	width: 50%;
	margin: 0px auto;
}

.threeQuarterWidth {
	width: 75%;
	margin: 0px auto;
}

.bg-pos-center {
    background-position: center center;
}

.margin-0 {margin: 0px;}
.margin-5 {margin: 2px 0px 3px;}
.margin-10 {margin: 5px 0px 5px;}
.margin-20 {margin: 10px 0px 10px;}
.margin-30 {margin: 15px 0px 15px;}
.margin-40 {margin: 20px 0px 20px;}
.margin-60 {margin: 30px 0px 30px;}
.margin-75 {margin: 37px 0px 38px;}
.margin-80 {margin: 40px 0px 40px;}
.margin-100 {margin: 50px 0px 50px;}
.margin-120 {margin: 60px 0px 60px;}
.margin-150 {margin: 75px 0px 75px;}
.margin-200 {margin: 100px 0px 100px;}

.padding-0 {padding-top: 0px !important; padding-bottom: 0px !important;}
.padding-5 {padding-top: 5px !important; padding-bottom: 5px !important;}
.padding-10 {padding-top: 10px !important; padding-bottom: 10px !important;}
.padding-15 {padding-top: 15px !important; padding-bottom: 15px !important;}
.padding-20 {padding-top: 20px !important; padding-bottom: 20px !important;}
.padding-30 {padding-top: 30px !important; padding-bottom: 30px !important;}
.padding-40 {padding-top: 40px !important; padding-bottom: 40px !important;}
.padding-60 {padding-top: 60px !important; padding-bottom: 60px !important;}
.padding-100 {padding-top: 100px !important; padding-bottom: 100px !important;}
.padding-160 {padding-top: 160px !important; padding-bottom: 160px !important;}
.padding-200 {padding-top: 200px !important; padding-bottom: 200px !important;}
.padding-240 {padding-top: 240px !important; padding-bottom: 240px !important;}

.padding-h-0 {padding-left: 0px !important; padding-right: 0px !important;}
.padding-h-10 {padding-left: 10px !important; padding-right: 10px !important;}
.padding-h-15 {padding-left: 15px !important; padding-right: 15px !important;}
.padding-h-20 {padding-left: 20px !important; padding-right: 20px !important;}
.padding-h-30 {padding-left: 30px !important; padding-right: 30px !important;}
.padding-h-40 {padding-left: 40px !important; padding-right: 40px !important;}
.padding-h-60 {padding-left: 60px !important; padding-right: 60px !important;}
.padding-h-100 {padding-left: 100px !important; padding-right: 100px !important;}
.padding-h-200 {padding-left: 200px !important; padding-right: 200px !important;}

.padding-top-0 {padding-top: 0px !important;}
.padding-top-20 {padding-top: 20px !important;}
.padding-top-40 {padding-top: 40px !important;}
.padding-top-60 {padding-top: 60px !important;}
.padding-top-100 {padding-top: 100px !important;}
.padding-top-200 {padding-top: 200px !important;}

.padding-r-0 {padding-right: 0px !important;}
.padding-r-10 {padding-right: 10px !important;}
.padding-r-20 {padding-right: 20px !important;}
.padding-r-40 {padding-right: 40px !important;}

.padding-l-0 {padding-left: 0px !important;}
.padding-l-10 {padding-left: 10px !important;}
.padding-l-20 {padding-left: 20px !important;}
.padding-l-40 {padding-left: 40px !important;}

.padding-btm-20 {padding-bottom: 20px !important;}
.padding-btm-40 {padding-bottom: 40px !important;}
.padding-btm-60 {padding-bottom: 60px !important;}
.padding-btm-80 {padding-bottom: 80px !important;}
.padding-btm-100 {padding-bottom: 100px !important;}
.padding-btm-160 {padding-bottom: 160px !important;}
.padding-btm-200 {padding-bottom: 200px !important;}
.padding-btm-220 {padding-bottom: 220px !important;}
.padding-btm-240 {padding-bottom: 240px !important;}
.padding-btm-300 {padding-bottom: 300px !important;}

.txt-xs {
    font-size: 12px;
    line-height: 16px;
}

.txt-sm {
    font-size: 14px;
    line-height: 18px;
}

.txt-nrml {
	font-size: 16px;
}

.txt-md {
    font-size: 20px;
    line-height: 28px;
}

.txt-lg {
    font-size: 26px;
    line-height: 36px;
}

.txt-xl {
    font-size: 34px;
    line-height: 50px;
}

.txt-xxl {
    font-size: 45px;
    line-height: 62px;
}

.upLevel {
	position: relative;
    z-index: 2;
}

.shadow {
	-webkit-box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75) !important;
	-moz-box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75) !important;
	box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75) !important;
}

/* Colors */
.clr-white {
    color: #fff;
}
.clr-gray {
    color: #999;
}
.clr-dk-gray {
    color: #333;
}
.clr-lt-gray {
    color: #ccc;
}
.clr-ltr-gray {
    color: #eee;
}
.clr-blue {
	color: #5fb4e5; 
}
.clr-dk-blue {
	color: #003764;
}
.clr-dkr-blue {
	color: #282f31;
}
.clr-yellow {
	color: #ffd141;
}
.clr-red {
	color: #ea002a;
}
.clr-orange {
	color: #f15a2c;
}
.clr-black {
    color: #000;
}

/* Backgrounds */
.bg-white {
    background-color: #fff;
}
.bg-gray {
    background-color: #999;
}
.bg-dk-gray {
    background-color: #333;
}
.bg-lt-gray {
    background-color: #eee;
}
.bg-ltr-gray {
    background-color: #f5f5f5;
}
.clr-ltr-gray {
    background-color: #eee;
}
.bg-blue {
	background-color: #5fb4e5;
}
.bg-dk-blue {
	background-color: #003764;
}
.bg-dkr-blue {
	background-color: #282f31;
}
.bg-yellow {
	background-color: #ffd141;
}
.bg-red {
	background-color: #ea002a;
}
.bg-orange {
	background-color: #f15a2c;
}
.bg-black {
    background-color: #000;
}

.btn {
	border-radius: 5px;
	background-color: #5fb4e5;
	color: #fff;
	padding: 7px 15px;
	font-weight: bold;
	
	-webkit-transition: background .25s ease;
	-moz-transition: background .25s ease;
	transition: background .25s ease;
}
.btn.sm {
	padding: 4px 10px;
	font-size: 14px;
}
.btn.xs {
	padding: 3px 7px;
	font-size: 13px;
}

.btn:hover {
	color: #fff !important;
	background-color: #000 !important;
}

.btn.bg-orange {
	background-color: #f15a2c;
	color: #fff;
}

.btn.bg-white {
	background-color: #fff;
	color: #5fb4e5 !important;
}

.btn.bg-white:hover {
	color: #fff !important;
}

.bg-cover {background-size: cover; background-position: center center;}
.bg-cover.bg-top {background-position: center top;}
.bg-cover.bg-right-top {background-position: right top;}
.bg-scroll {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0 none;
    padding: 100px 0;
    position: relative;
    width: 100%;
}

.home-bg-fltr {
	position: absolute !important;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.bg-fltr {
	position: relative;
}
	.bg-fltr .content {
		position: relative;
		z-index: 2;
	}

.bg-fltr:after {
	content: '';
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
}
.bg-dk-fltr:after {
	background-color: rgba(40,47,49,.75);
}
.bg-dkr-fltr:after {
	background-color: rgba(40,47,49,.9);
}
.gradient-fltr {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;

	background: -moz-linear-gradient(top,  rgba(40,47,49,0.8) 0%, rgba(41,137,216,0) 50%, rgba(40,47,49,0.8) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(40,47,49,0.8) 0%,rgba(41,137,216,0) 50%,rgba(40,47,49,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(40,47,49,0.8) 0%,rgba(41,137,216,0) 50%,rgba(40,47,49,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc282f31', endColorstr='#cc282f31',GradientType=0 ); /* IE6-9 */
}

#blip {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 1px;
	width: 1px;
	z-index: 9999999;
}

#main {
}

#topBar {
	position: fixed;
	top: 58px;
	left: 0px;
	width: 100%;
	padding: 20px 30px;
	z-index: 9999;
}

.scrolling #topBar {
    top: 0px;
	padding: 10px 30px;
	background: #282f31;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}

#logo {
	width: 225px; /* Ratio: .2514 */
	background-image: url(../imgs/Team_Kentucky_logo_wt.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: block;
	margin: 0px auto;
}

	#logo:after {
		content: '';
		display: block;
		padding-top: 37%;
		width: 100%;
	}

	.scrolling #logo {
		width: 119px;
	}

#header {
	position: relative;
    height: 300px;
}
	.home #header {
		height: 100vh;
	}

.home #header:after {
	content: '';
	display: block;
}

/* Navigation */
#menu {
	position: fixed;
	width: 320px;
	left: -320px;
	top: 0px;
	bottom: 0px;
	z-index: 99999;
	background: #282f31;
	padding: 40px 20px;
	overflow-y: auto;
	
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}

.menuOpen #menu {
	left: 0px;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}

.scrolling #navIconContainer {
	margin-top: 10px;
}

#navIconContainer {
    width: 100%;
}

#navIcon {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 30px;
	line-height: 22px;
	cursor: pointer;
	color: #fff;
	z-index: 999999;
	
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}

.menuOpen #navIcon {
	left: 300px;
}

#navIcon span {
	display: inline-block;
	padding-left: 50px;
}

.menuOpen #navIcon span {
	display: none;
}

#navIcon div {
	width: 100%;
	height: 2px;
	border-radius: 1px;
	background: #fff;
	position: absolute;
	left: 0px;
	
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	transition: all .25s ease;
}

.menuOpen #navIcon div {	
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}

#navIcon:hover div {
	background: #5fb4e5;
}

#navIcon div:nth-child(2) {
	top: 10px;
	width: 60%;
}

#navIcon div:nth-child(3) {
	top: 20px;
}

.menuOpen #navIcon div:nth-child(1), .menuOpen #navIcon div:nth-child(3) {
	top: 50%;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	transform-origin: center center;
}

.menuOpen #navIcon div:nth-child(2) {
	display: none;
}

.menuOpen #navIcon div:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menuOpen #navIcon div:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#mainNav {
	position: relative;
}

#mainNav ul {
	padding: 0px;
	margin: 0px;
}

#mainNav li {
	list-style: none;
	padding: 5px 0px;
	margin-bottom: 30px;
}

#mainNav li.topItem {
	font-size: 20px;
	font-weight: 500;
	font-family: "museo-sans-rounded",sans-serif;
}

#mainNav li a {
	color: #fff;
	padding: 5px 0px;
	
	-webkit-transition: color .25s ease;
	-moz-transition: color .25s ease;
	transition: color .25s ease;
}

#mainNav li a:hover {
	color: #319dc1;
	text-decoration: none;
}

#mainNav li.hasSub a:hover {
	color: #fff !important;
}

#mainNav li .subMenu {
	padding: 15px 0px 0px;
}

#mainNav li .subMenu li {
	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
	margin-bottom: 10px;
}

#mainNav li .subMenu li a {
	color: rgba(255,255,255,.5);
}

#mainNav li .subMenu a:hover {
	color: #5fb4e5 !important;
}

/* Quick Contact */
#quickContact {
	position: fixed;
	width: 320px;
	right: -320px;
	top: 0px;
	bottom: 0px;
	z-index: 99999;
	background: #282f31;
	padding: 20px 20px;
	overflow-y: auto;
	color: #fff;
	
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}

.quickContactOpen #quickContact {
	right: 0px;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}

#quickContactBtn {
	color: #fff;
	cursor: pointer;
    float: right;
}

	.scrolling #quickContactBtn {
		margin-top: 2px;
	}

#qcClose {
	width: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
	margin-bottom: 20px;
}

#qcClose div {
	position: absolute;
	width: 100%;
	height: 2px;
	top: 50%;
	left: 0px;
	background: #fff;
	
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	transform-origin: center center;
	
	-webkit-transition: background .25s ease;
	-moz-transition: background .25s ease;
	transition: background .25s ease;
}

#qcClose:hover div {
	background: #5fb4e5;
}

#qcClose div:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

#qcClose div:nth-child(2) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.qcInfo {
	font-size: 12px;
	line-height: 16px;
	font-weight: 100;
}

.qcInfo strong {
	font-weight: 700;
}

/* Page */
.section {
	padding-top: 100px;
	padding-bottom: 100px;
}

    .section li {
        margin-bottom: 20px;
    }

.subHead {
	font-size: 20px;
	font-weight: 100;
}

#primary {
    width: 100%;
}

/* Home */
#homeSliderContainer {
	position: absolute;
	top: 60%;
	left: 0px;
	z-index: 10;
	width: 100%;
	
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
#homeSlider .h1 {
	font-size: 60px;
}
#homeSliderBG, #homeSliderBG .slick-list, #homeSliderBG .slick-track, #homeSliderBG .slick-slide, #homeSliderBG div, #homeSliderBG .slide {
	height: 100%;
	width: 100%;
}
#homeSliderNav {
	margin-top: 20px;
}
#homeSliderArrows, #homeSliderDots {
	display: inline-block;
}
.sliderDots {
	display: inline-block;
}
#homeSliderArrows .slick-arrow {
	position: relative;
	background: #5fb4e5;
	width: 20px;
	height: 20px;
	margin: 0px 5px 0px 0px;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	transition: all .25s ease;
}
#homeSliderArrows .slick-arrow:hover {
	background: #000;
}
#homeSliderArrows .slick-arrow:after {
	content: '';
	display: block;
	position: absolute;
	width: 8px;
	height: 8px;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
}
#homeSliderArrows .slick-prev:after {
	margin: 6px 4px 6px 8px;
	transform: rotate(-135deg);
}
#homeSliderArrows .slick-next:after {
	margin: 6px 8px 6px 4px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
.sliderDots .slick-dots {
	margin: 0px;
	padding: 0px;
}
.sliderDots .slick-dots li {
	background: #fff;
	width: 10px;
	height: 10px;
	display: inline-block;
	margin: 0px 3px;
	cursor: pointer;
	vertical-align: middle;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	transition: all .25s ease;
}
.sliderDots .slick-dots li:hover, .sliderDots .slick-dots li.slick-active {
	background: none;
	border: 1px solid #fff;
}
.sliderDots .slick-dots li button {
	display: none;
}
.slide .btn {
    margin-top: 20px;
}
.QA {
	background: #282f31;
	padding: 20px 20px 50px;
	color: #fff;
	font-weight: 100;
	font-size: 14px;
	position: relative;
    height: 100%;
    overflow: hidden;
}
/*
.QA:before {
    display: block;
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 23px;
    background-size: 100% 100%;
    background-image:url(../imgs/icons/arrow.png);
    z-index: 1;
    opacity: 0;

    -webkit-transform: rotate(-45deg) translate(-20px);
    -moz-transform: rotate(-45deg) translate(-20px);
    transform: rotate(-45deg) translate(-20px);      
    
    -webkit-transition: all .25s ease;  
    -moz-transition: all .25s ease;  
    transition: all .25s ease;  
}
    .QA:hover:before {
        opacity: 1;

        -webkit-transform: rotate(-45deg) translate(0px);
        -moz-transform: rotate(-45deg) translate(0px);
        transform: rotate(-45deg) translate(0px); 
    }
*/

.QA:after {
	display: block;
	content: 'View Now';
    text-align: center;
    padding: 5px 0px;
	position: absolute;
	left: 0px;
	bottom: -32px;
	right: 0px;
	background: #f15a2c;
    z-index: 1;
	
	-webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
}
.QA:hover:after {
	bottom: 0px;
}
.QA img {
	height: 68px;
	margin: 30px 0px;
	display: inline-block;
}
.QA .h6 {
	font-weight: 100;
	margin-bottom: 30px;
	font-size: 18px;
}
.QA a {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 2;
	display: block;
}
#quickAnswers .col-12 {
    margin-bottom: 30px;
}

/* Staff Slider */
#staffSliderContainer #staffBG {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
}

#staffSlider .staffMember[style] {
	height: 350px !important;
}

#staffSlider .staffMember {
	text-align: center;
	position: relative;
}

.AndyLuttner .staffPic {
	background-image: url(../imgs/staff/AndyLuttner.jpg);
}
.AnnieFranklin .staffPic {
	background-image: url(../imgs/staff/AnnieFranklin.jpg);
}
.BekaBurton .staffPic {
	background-image: url(../imgs/staff/BekaBurton.jpg);
}
.BrittanyCox .staffPic {
	background-image: url(../imgs/staff/BrittanyCox.jpg);
}
.BrooklynLeep .staffPic {
	background-image: url(../imgs/staff/BrooklynLeep.jpg);
}
.BruceZou .staffPic {
	background-image: url(../imgs/staff/BruceZou.jpg);
}
.CorkyPeek .staffPic {
	background-image: url(../imgs/staff/CorkyPeek.jpg);
}
.CraigMcKinney .staffPic {
	background-image: url(../imgs/staff/CraigMckinney.jpg);
}
.ElizabethBishop .staffPic {
	background-image: url(../imgs/staff/ElizabethBishop.jpg);
}
.EvelynSimmler .staffPic {
	background-image: url(../imgs/staff/EvelynSimmler.jpg);
}
.JeffTaylor .staffPic {
	background-image: url(../imgs/staff/JeffTaylor.jpg);
}
.JoshuaSeeberg .staffPic {
	background-image: url(../imgs/staff/JoshuaSeeberg.jpg);
}
.KristinaSlattery .staffPic {
	background-image: url(../imgs/staff/KristinaSlattery.jpg);
}
.MartinDavidJacobs .staffPic {
	background-image: url(../imgs/staff/MartinDavidJacobs.jpg);
}
.MikeTakahashi .staffPic {
	background-image: url(../imgs/staff/MikeTakahashi.jpg);
}
.LucasJohnson .staffPic {
	background-image: url(../imgs/staff/LucasJohnson.jpg);
}

.staffMember .staffPic {
	position: absolute;
	top: 0px;
	left: 10px;
	right: 10px;
	bottom: 0px;
	z-index: 1;
	background-size: cover;
	background-position: center top;
}

.staffMember .infoContainer {
	position: absolute;
	top: 285px;
	left: 10px;
	right: 10px;
	bottom: 0px;
	z-index: 2;
	font-size: 13px;
	background: rgba(0,0,0,.85);
	color: #fff;
	overflow: hidden;
	
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}

.staffMember:hover .infoContainer {
	top: 0px;
}

.staffMember .name {
	height: 65px;
	line-height: 16px;
	font-size: 16px;
	padding: 10px 20px;
}

.staffMember .info {
	padding: 0px 20px 20px;
	visibility: hidden;
	text-align: left;
}

.staffMember .fadeIn {
	opacity: 0;
}

.staffMember:hover .fadeIn {
	opacity: 1;
	visibility: visible;
	
	-webkit-transition: all .5s ease .5s;
	-moz-transition: all .5s ease .5s;
	transition: all .5s ease .5s;
}

.staffMember a.moreInfo {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    background: #5fb4e5;

    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    transform: translateY(30px);
}

    .staffMember:hover a.moreInfo {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);

        -webkit-transition: all .25s ease .5s;
        -moz-transition: all .25s ease .5s;
        transition: all .25s ease .5s;
    }

    .staffMember a.moreInfo:after {
        content: 'Email';
        display: inline;
    }

.staffMember .info a {
    color: #5fb4e5;
}

#staffSliderArrows {
	margin: 0px 0px 20px;
}
#staffSliderArrows, #staffSliderDots {
	display: inline-block;
}
#staffSliderArrows .slick-arrow {
	position: relative;
	background: #5fb4e5;
	width: 20px;
	height: 20px;
	margin: 0px 5px;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	transition: all .25s ease;
}
#staffSliderArrows .slick-arrow:hover {
	background: #000;
}
#staffSliderArrows .slick-arrow:after {
	content: '';
	display: block;
	position: absolute;
	width: 8px;
	height: 8px;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
}
#staffSliderArrows .slick-prev:after {
	margin: 6px 4px 6px 8px;
	transform: rotate(-135deg);
}
#staffSliderArrows .slick-next:after {
	margin: 6px 8px 6px 4px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
#staffSliderDots .slick-dots {
	margin: 0px;
	padding: 0px;
}
#staffSliderDots .slick-dots li {
	background: #fff;
	width: 10px;
	height: 10px;
	display: inline-block;
	margin: 0px 3px;
	cursor: pointer;
	vertical-align: middle;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	transition: all .25s ease;
}
#staffSliderDots .slick-dots li:hover, #homeSliderDots .slick-dots li.slick-active {
	background: none;
	border: 1px solid #fff;
}
#staffSliderDots .slick-dots li button {
	display: none;
}

.zone {
	padding-top: 5px;
	color: #5fb4e5;
	font-size: 12px;
	line-height: 12px;
}

.contactBtns {
	text-align: left;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 10px 20px;
	margin: 0px;
}

.contactBtns li {
	height: 20px;
	display: list-item;
    list-style: none;
	position: relative;
	opacity: 1;
	cursor: pointer;
	margin-bottom: 5px;
    color: #5fb4e5;
	
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	transition: opacity .25s ease;
}

.contactBtns li:hover {
	opacity: .60;
}

.contactBtns li.bio {
	background-size: 20px 20px;
	background-image: url(../imgs/icons/bio_info_blue.png);
	background-position: left;
	background-repeat: no-repeat;
	white-space: nowrap;
	width: 20px;
	height: 20px;
	padding-left: 25px;
}

.contactBtns li.phone {
	background-size: 20px 20px;
	background-image: url(../imgs/icons/phone_blue.png);
	background-position: left;
	background-repeat: no-repeat;
	white-space: nowrap;
	width: 20px;
	height: 20px;
	padding-left: 25px;
}

    .contactBtns li a {
        color: #5fb4e5;
        text-decoration: none;
    }

.contactBtns li.bio:after {
	display: inline-block;
	content: 'More Info';
}

/* City Select */
.citySelect {
	margin: 0px;
	padding: 0px 20px 0px 0px;
	float: left;
	border-right: 1px solid #282f31;
}

.citySelect.right {
	padding: 0px 0px 0px 20px;
	border: none;
}

.citySelect li {
	list-style: none;
	padding: 5px 10px;
	margin: 2px 0px;
	cursor: pointer;
	
	transition: all .25s ease;
}

.citySelect li:hover {
	color: #f15a2c;
}

.citySelect li.selected {
	background: #f15a2c;
	color: #fff;
}

#kyCities {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.mapMarker {
	width: 12px;
	height: 12px;
	position: absolute;
	z-index: 2;
	display: none;
}

.mapMarker.active {
	display: block;
}

.mapMarker:before {
	display: block;
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #fff;
	border: 3px solid #f15a2c;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.mapMarker:after {
	display: inline-block;
	position: absolute;
	top: -6px;
	left: 15px;
	background: #f15a2c;
	color: #fff;
	padding: 0px 5px;
	white-space: nowrap;
}

#mapLouisville {
	top: 46%;
	left: 58%;
}
	#mapLouisville:after {content: 'Louisville';}

#mapLexington {
	top: 47.5%;
	left: 61%;
}
	#mapLexington:after {content: 'Lexington';}

#mapNKY {
	top: 43%;
	left: 61%;
}
	#mapNKY:after {content: 'Covington';}

#mapBowlingGreen {
	top: 51%;
	left: 56%;
}
	#mapBowlingGreen:after {content: 'Bowling Green';}

#mapOwensboro {
	top: 48.5%;
	left: 54.5%;
}
	#mapOwensboro:after {content: 'Owensboro';}


/* Interior Pages */
#pageHeader {
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 100%;
    z-index: 9;
}

#primary {
    margin-bottom: 40px;
}

#sidebar {
    position: relative;
}

#mobileSidebar {
    display: none;
}

.widget {
    padding-bottom: 40px;
}

.widget .h4 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
}

.widget ul {
	padding: 0px;
	margin: 0px;
}

    .widget li {
        display: list-item;
        list-style: none;
        margin-bottom: 10px;
    }

.widget ul ul {
	padding: 10px 0px 10px 20px;
}

#mobileSidebar {
    display: none;
    padding-top: 60px;
}

.sidebarDots {
    position: absolute;
    top: 0px;
    left: 15px;
    width: 100%;
}
.sidebarDots div {
    background-color: #259dc2;
    display: inline-block;
    height: 10px;
    margin-right: 3px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

    .sidebarDots div:nth-child(1) {
        width: 35px;
    }
    .sidebarDots div:nth-child(2) {
        width: 25px;
    }
    .sidebarDots div:nth-child(3) {
        width: 15px;
    }

/* Testimonials */
#testimonialPicSlider {
	height: 100%;
}
#testimonialPic {

}

#testimonialPic div {
	font-size: 0px;
	height: 100%;
}

#testimonialSliderContainer {
	
}

.quoteMark {
	background-image:url(../imgs/icons/quoteMark.png);
	background-size: 100% 100%;
	width: 91px;
}
.quoteMark:after {
	display: block;
	content:'';
	padding-bottom: 90.10%;
}

.testimonialPic {
	background-size: cover;
	background-position: center center;
}

.testimonialPic:after {
	display: block;
	content: '';
	padding-bottom: 60%;
}

.testimonial em {font-size: 20px;}

/* News */
.newsItem {
	padding: 60px 30px 120px;
    height: 100%;
    position: relative;
}

    .newsItem a {
        position: absolute;
        bottom: 30px;
        left: 30px;
    }

#homeNews #MainContent_NewsPanel span {
    display: none;
    margin-bottom: 30px;
}

#homeNews #MainContent_NewsPanel span:nth-child(1), #homeNews #MainContent_NewsPanel span:nth-child(2), #homeNews #MainContent_NewsPanel span:nth-child(3), #homeNews #MainContent_NewsPanel span:nth-child(4), #homeNews #MainContent_NewsPanel span:nth-child(5), #homeNews #MainContent_NewsPanel span:nth-child(6)  {
    display: block;
}

/* Logo Slider */
#logoSlider .slick-track {
	height: 157px;
}
#logoSlider .slick-slide, #logoSlider .slick-slide div, #logoSlider .slide {
	height: 100%;
}
#logoSlider .slide {
	display: inline-block;
}
#logoSlider .slick-slide a {
	display: flex;
	flex-direction: column;
	height: 100%;
	outline: none !important;
}
#logoSlider .slick-slide a img {
	max-height: 60%;
    height: auto!important;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    max-width: 84%;
	vertical-align: middle;
	display: table-column;
}

#logoSlider .slick-dots {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#logoSlider .slick-dots li {
	background: #5fb4e5;
	width: 10px;
	height: 10px;
	display: inline-block;
	margin: 0px 3px;
	cursor: pointer;
	vertical-align: middle;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	transition: all .25s ease;
}

#logoSlider .slick-dots li:hover, #logoSlider  .slick-dots li.slick-active {
	background: none;
	border: 1px solid #5fb4e5;
}
#logoSlider .slick-dots li button {
	display: none;
}

/* Call to Action Contact Form */
.contactForm {
    background: rgba(255,255,255,.5);
    padding: 40px;
    width: 100%;
}

#qcContactForm.contactForm {
	padding: 0px;
	background: none;
}

.contactForm input, .contactForm textarea {
    border: none;
    background: rgba(255,255,255,.5);
    padding: 10px 15px;
    color: #222;
    width: 100%;
}

#qcContactForm.contactForm input, #qcContactForm.contactForm textarea {
	background: none;
	border: 1px solid rgba(255,255,255,.5);
	color: #fff;
}

#MainContent_submitBtn {
    background: #319dc1 !important;
    color: #fff !important;
    width: auto !important;
}

    #MainContent_submitBtn:hover {
        background: #000 !important;
    }

.contactForm .inputWrapper {
    position: relative;
	margin-bottom: 20px;
}

.contactForm .inputPH {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 10px 15px;
    color: #999;
    pointer-events: none;
}

#qcContactForm.contactForm .inputPH {
    color: #666;
}

#pleaseWait {
    display: none;
}

/* Available Sites & Buildings */
.siteBuilding {
	background-size: cover;
	position: relative;
	margin-bottom: 30px;
    overflow: hidden;
}

.siteBuilding:before {
	content: '';
	display: block;
	width: 100%;
	padding-bottom: 100%;
}

.siteBuilding .infoContainer {
	background: rgba(0,0,0,.85);
	color: #fff;
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 60px;
	padding: 10px 20px;
	width: 100%;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

    .siteBuilding:hover .infoContainer {
        height: 100%;
    }

    .siteBuilding .fadeIn {
        opacity: 0;
        padding-top: 20px;
        font-size: 13px;
    }

    .siteBuilding:hover .fadeIn {
        opacity: 1;

        -webkit-transition: opacity .25s ease .5s;
        -moz-transition: opacity .25s ease .5s;
        transition: opacity .25s ease .5s;
    }

.siteBuilding .location {
	line-height: 12px;
	font-size: 12px;
	color: #5fb4e5;
}

    .siteBuilding a {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 9;
    }

    .siteBuilding:after {
        display: block;
        content: 'More Details';
        text-align: center;
        color: #fff;
        background-color: #5fb4e5;
        position: absolute;
        bottom: -45px;
        left: 0px;
        right: 0px;
        padding: 10px 0px;
    }

    .siteBuilding:hover:after {
        bottom: 0px;

        -webkit-transition: all .25s ease .5s;
        -moz-transition: all .25s ease .5s;
        transition: all .25s ease .5s;
    }

/* Footer */
#footer {}

#footer a {
	color: #999;
}
#footer a:hover {
	text-decoration: none;
	color: #5fb4e5;
}

#footer a.btn {
	color: #fff;
}

.quickLinks {
	margin: 0px;
	padding: 0px;
}
.quickLinks li {
	display: inline-block;
	margin: 10px 20px 0px 0px;
}
.footerBtmLinks {
	margin: 0px;
	padding: 0px;
	font-size: 0px;
	float: left;
}

.footerBtmLinks li {
	display: inline-block;
	line-height: 12px;
	font-size: 12px;
	padding: 0px 15px;
	position: relative;
}

.footerBtmLinks li:first-child {
	padding-left: 0px;
}

.footerBtmLinks li:last-child {
	padding-right: 0px;
}

.footerBtmLinks li:after {
	content: '|';
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 10px;
}

.footerBtmLinks li:last-child:after {
	display: none;
}

.footerBtmLinks li a {
	color: #999;
}

.socialIcons {
	float: right;
	text-align: right;
}

.socialIcons li {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	background-color: rgba(255,255,255,.5);
	
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	transition: all .25s ease;
}

.socialIcons li:hover {
	background-color: rgba(255,255,255,.75);
}

.socialIcons li:after {
	display: block;
	content: '';
	height: 20px;
	background-size: 100% 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.socialIcons li.fb:after {
	width: 9px;
	background-image:url(../imgs/icons/fb.png);
}

.socialIcons li.tw:after {
	width: 25px;
	background-image:url(../imgs/icons/tw.png);
}

.socialIcons li.ig:after {
	width: 20px;
	background-image:url(../imgs/icons/ig.png);
}

.socialIcons li.li:after {
	width: 20px;
	background-image:url(../imgs/icons/li.png);
}

.socialIcons li a {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: block;
	z-index: 1;
}

/* Staff Bio Pages */
#employeePhoto {
    margin-top: -50px;
    width: 100%;
    border: 5px solid #fff;
    background-position: center top;
    overflow: hidden;
    position: relative;
    z-index: 9;
    margin-bottom: 5px;
}

    #employeePhoto:after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

#employeeContact {
    padding-left: 5px;
}
#employeeName {
    padding: 20px 0px 0px 0px;
}

    #employeeName .h6 {
        font-size: 18px;
    }

.emailAddress a {
    color: #f15a2c;
}

.employeeContainer {
    text-align: center;
    margin-bottom: 30px;
}

    .employeeContainer a {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 10;
    }

.employeePhoto {
    width: 100%;
    background-position: center top;
    background-size: cover;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

    .employeePhoto .popup {
        padding: 5px;
        width: 100%;
        position: absolute;
        bottom: -35px;
        left: 0px;
        background: #5fb4e5;
        color: #fff;
        display: block;
        text-align: center;
        font-size: 12px;
        
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        transition: all .25s ease;
    }

.emailLinkSmall  .employeePhoto .popup {
    font-size: 11px;
}

.emailLink .employeePhoto .popup {
    content: 'Email';
}

    .employeeContainer:hover .employeePhoto .popup {
        bottom: 0px;
    }

    .employeePhoto:after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

#staff {
    font-size: 14px;
    line-height: 18px;
}

#staff h6.h6 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 5px;
}

.employeeIcons {
    margin: 0px;
    padding: 0px;
}

.employeeIcons li {
    width: 25px;
}

    .employeeIcons li:after {
        padding-bottom: 100%;
    }

.iconRow img {
    height: 85px;
    margin-bottom: 10px;
}

.iconRow .icon-inner {
    height: 85px;
}

.google-maps {
    position: relative;
    padding-bottom: 25%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.jobRow {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #eee;
    text-align: center;
}

.partner {
    padding-bottom: 30px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

ul.singleSpace li {
    margin-bottom: 0px;
}

.latestPub {
    margin-bottom: 60px;
}

    .latestPub h3 {
        margin-bottom: 20px;
    }

    .latestPub img {
        width: 200px; 
        border: 1px solid #ccc;
        margin-bottom: 20px;
    }

.annualReports {
    margin-bottom: 60px;
}

    .annualReports li {
        margin-bottom: 0px;
    }

    .annualReports h4 {
        margin-bottom: 10px;
    }

/* COVID Banner */
#covid-19_banner {
    background: #f15a2c;
    font-family: Arial;
    color: #FFF;
    text-align: center;
    padding: 13px 10px;
    font-weight: 400;
    margin: 0;
    font-size: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1031;
    font-family: Arial;
    height: 58px;
}

.scrolling #covid-19_banner {
    display: none;
}

    #covid-19_banner a {
        color: #fff;
    }

    #covid-19_banner strong {
        font-weight: 900;
        font-family: Arial;
    }

#featurePressReleases .section {
    padding-top: 0px;
}

#featurePressReleases h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #5fb4e5;
}

#NewsHeader {
    margin-bottom: 30px;
}

.noDots li {
    list-style: none;
}

#featurePressReleases {
    padding-top: 100px;
}

#mobileCTA {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    padding: 7px 5px;
    background: #000;
    text-align: center;
    display: none;
}

#mobileCTAbtn {
    display: inline-block;
}

.targetBlank ul {
    margin-bottom: 20px
}

.targetBlank li {
    margin-bottom: 20px
}

.targetBlank ul li ul {
    margin-top: 10px
}

.targetBlank ul li ul li {
    margin-bottom: 10px
}

.targetBlank ul li ul li ul li {
    list-style: circle;
}

.NLrow {
    padding: 40px;
}
.NLrow:nth-child(odd) {
    background: #efefef;
}
.NLrow:after {
    content: '';
    display: block;
    clear: both;
}
.NLtitle {
    width: 100%;
}
.NLimg {
    width: 25%;
    min-width: 140px;
    float: left;
    margin-bottom: 20px;
    padding-right: 20px;
}
.NLdesc {
    width: 75%;
    float: left;
}

/* Search Engine */
.gsc-control-cse, gsc-control-cse-en {
    padding-right: 65px !important;
}

#seClose {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 99;
    cursor: pointer;
}

#seClose div {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0px;
    background: #000;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: background .25s ease;
    -moz-transition: background .25s ease;
    transition: background .25s ease;
}

    #seClose:hover div {
        background: #5fb4e5;
    }

    #seClose div:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #seClose div:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

#searchEngine {
    position: fixed;
    top: -100%;
    left: 0px;
    right: 0px;
    height: 100%;
    background: rgba(0,0,0,.75);
    z-index: 9999999999;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

    .seOpen #searchEngine {
        top: 0px;
    }

#searchIcon {
    width: 30px;
    height: 37px;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-top: 8px;
    cursor: pointer;
}
    #searchIcon:before, #searchIcon:after {
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        transition: all .25s ease;
    }
    #searchIcon:hover:before {
        border-color: #5fb4e5;
    }
    #searchIcon:hover:after {
        background-color: #5fb4e5;
    }

#searchIcon:before {
    content: '';
    display: block;
    border: 2px solid #fff;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 25px;
}

#searchIcon:after {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    position: absolute;
    left: 0px;
    bottom: 12px;
    background: #fff;

    -webkit-transform: rotate(-41deg);
    -moz-transform: rotate(-41deg);
    transform: rotate(-41deg);
}

/* Publication */
.publication {
	padding: 30px 0px;
	border-bottom: 1px solid #eee;
}

.publication:last-child {
	border-bottom: none;
}


.row-striped:nth-of-type(odd){
	background-color: #efefef;
  }
  
  .row-striped:nth-of-type(even){
	background-color: #ffffff;
  }

  .newsReleaseImg {
	  max-width: 700px;
	  clear: both;
  }