

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:1rem;
}

.navbar .dropdown-menu {
  background-color: #ececec !important;
  border:none;
  border-top: 5px solid #6dbde3;
  border-bottom: 5px solid #6dbde3;
}

.navbar-toggler {
  border: none;
}




/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  
  /* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar {
  padding-top:0px;
  padding-bottom:0px;
}

/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
.navbar .nav-item {
  padding:.25rem .25rem;
  margin:0 .25rem;
}

/* makes the dropdown full width  */
.navbar .dropdown {position:static;}

.navbar .dropdown-menu {
  width:100%;
  left:0;
  right:0;
/*  height of nav-item  */
  top:45px;
  
  display:block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  
}
  
  /* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
  display:block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;
}
  

  .navbar .nav-item a.nav-link  {
/*    padding: 0;
    margin: 0px;*/
  }

}

@media screen and (min-width: 990px) { /* when hamburger is hidden */
  .dropdown-toggle.nav-top {
    padding-top: 10px;
    padding-bottom: 27px;
  }

  .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
    margin-top: 30px;
  }

  .navbar .nav-item a.nav-link {
    padding-right: unset;
    padding-left: unset
    padding-top: 10px;;
  }
}

