<h2>Op-Ed on World Economic Forum</h2>

<p style="text-align: left;"><em><a href="https://kentucky.gov/Pages/Activity-stream.aspx?n=GovernorBeshear&prId=2387" target="_blank">Gov. Beshear: World Economic Forum Puts Our New Kentucky Home on a Global Stage (1/29/2025)</a></em></p>

<p style="text-align: left;">Last week, business, government and academic leaders from 125 countries traveled to Davos, Switzerland, for the annual World Economic Forum. And this year, Kentucky was there too.
</p>

<p style="text-align: left;">I was proud to receive the invitation because to me, it signified what would soon be confirmed: The world is seeing the historic progress we're making in Kentucky, and they want to invest in us.
</p>

<p style="text-align: left;">So we seized this incredible opportunity and accepted the invitation to reintroduce our New Kentucky Home to employers and CEOs from across the globe.
</p>

<p style="text-align: left;">Despite being new to the event, we had one of the busiest schedules. In two and a half days, we had 25 meetings with company executives. Ten were with foreign owned companies that already employ over 8,750 Kentuckians. The other meetings were with potential investors from multiple continents that have announced plans to invest in the United States. From L'Oreal to Suntory, DHL, Schneider Electric, Henkel, Pinterest and more, the lineup was full, and the meetings were promising.
</p>

<p style="text-align: left;">In between making these pitches, I attended multiple events. At each one, I'd interact with top executives as well as presidents and prime ministers. No matter the meeting or event, at the heart of each discussion was Kentucky, our workforce and our bright future. And everyone with an operation in our commonwealth sung our praises and talked about 2024 being one of their best years ever.
</p>

<p style="text-align: left;">That topic was also on display during the five panels I joined. While I spoke on supply chains and manufacturing, the future of our workforce, the future of EVs and more, folks wanted to know Kentucky's take on global economic issues.
</p>

<p style="text-align: left;">We took the stage with leaders like Jim Rowan, CEO of Volvo Cars, Randi Weingarten of the American Federation of Teachers, and Olivier Blum, CEO of our very own Schneider Electric, who praised our partnership and what we've achieved together.
</p>

<p style="text-align: left;">We held our own among these experts and showed our strength as not just a national leader – but a global one. My final panel was with fellow Gov. Sarah Huckabee Sanders of Arkansas, where we showed that in Kentucky, we find common ground and use common sense for the greater good of our people and our future.
</p>

<p style="text-align: left;">In less than 72 hours, we met with leaders from multiple countries spanning five continents. That would have taken us years to accomplish under normal circumstances.
</p>

<p style="text-align: left;">And that's important, because foreign investment is essential to our overall economic success. Kentucky currently has 540 foreign-owned facilities that employ over 116,000 Kentuckians.
</p>

<p style="text-align: left;">Creating new jobs for our people is always my priority, and I intend to build on the historic success we've celebrated these past five years. We've already announced $35 billion in private sector
</p>

<p style="text-align: left;">investment – the largest investment amount, by far, under any Kentucky Governor – creating a record-breaking 59,800 new, good, full-time jobs for our people.
</p>

<p style="text-align: left;">Through opportunities like the World Economic Forum, we have the chance to grow these numbers at a faster rate than ever before.
</p>

<p style="text-align: left;">And that's why we didn't waste a single minute on the ground in Davos. Every meeting slot was booked. And while a number of folks joked about us not slowing down, our response was always, &rsquo;This is what we do in Kentucky – we work hard and get the job done.&ldquo;
</p>

<p style="text-align: left;">As I walked away from this incredible opportunity, the one thing I wanted to make sure to bring back home is the pride I felt entering each room. Leaders from companies whose names are familiar world-wide knew about us, about Kentucky. They knew about the success we've achieved, and most importantly, they knew that we achieved it by working together.
</p>

<p style="text-align: left;">Our New Kentucky Home was on the world stage. And I feel more confident than ever before that the next few years hold more promise than we could have imagined. Together, we're going to keep moving forward and building a brighter future for your kids and mine.
</p>

<p style="text-align: left;">We've got a lot to be proud of, Kentucky. And we're going to make sure our New Kentucky Home continues to be the best place to live, work, invest and thrive.
</p>

<p style="text-align: left;"><em>— Gov. Andy Beshear
</em></p>


<img src="https://cedky.com/cdn/12092_world-economic.jpg" alt="" width="100%" />
<br><br>

<h2>Highlights</h2>

<p style="text-align: left;">
	<a href="https://ced.ky.gov/Newsroom/NewsPage/20241115_ShelbyvilleBatteryManufacturing" target="_blank">Gov. Beshear Announces Largest Job-Creation Project in Kentucky Since 2022: Shelbyville Battery Manufacturing To Create 1,572 High-Tech Jobs With Nearly $712 Million Investment (11/15/2024)
	</a>
<br><br><img src="https://cedky.com/cdn/12092_shelbyville.jpg" alt="" width="100%" /><br>
<a href="https://ced.ky.gov/Newsroom/NewsPage/20241115_ShelbyvilleBatteryManufacturing" class="read-more">Read more</a>

</p>
<br><br>

<p style="text-align: left;"><a href="https://ced.ky.gov/Newsroom/NewsPage/20241212_TMMK_Paint" target="_blank">Gov. Beshear Announces Largest Dollar Investment of 2024: Toyota Investing $922 Million To Build Advanced Paint Facility in Georgetown (12/12/2024)</a>
<br><br>
<img src="https://cedky.com/cdn/12092_toyota.jpg" alt="" width="100%" /><br>
<a href="https://ced.ky.gov/Newsroom/NewsPage/20241212_TMMK_Paint" class="read-more">Read more</a>
</p>
<br><br>
<p style="text-align: left;"><a href="https://ced.ky.gov/Newsroom/NewsPage/20241212_GACC" target="_blank">Gov. Beshear, Team Kentucky Host German American Chamber of Commerce Delegation To Encourage Investment, Job Creation (12/11/2024)</a><br><br>
<img src="https://cedky.com/cdn/12092_german.jpg" alt="" width="100%" /><br>
<img src="https://cedky.com/cdn/12092_german2.jpg" alt="" width="100%" />
<br>
<a href="https://ced.ky.gov/Newsroom/NewsPage/20241212_GACC" class="read-more">Read more</a>
</p>