<section>
    <style>
        .col-lg-2 img {
            width: 80px;
        }

        .docs > .row {
            border-bottom: 2px solid #f7f7f7;
            padding-bottom: 25px;
            margin-bottom: 25px;
        }
    </style>
    <div class="docs container">
         <div class="row">
            <div class="col-lg-12 text-center">
            <h1>Downloadable Documentation</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <a href="https://ced.ky.gov/WebFiles/CED_2022_10Reasons_Rackcard_v4.pdf" target="_blank">
                <img src="https://ced.ky.gov/WebFiles/CED_2022_10Reasons_Rackcard_v4.png" />
                </a>
            </div>
            <div class="col-lg-10">
                
                    <h2 class="mt-5">10 Reasons Rackcard</h2>
                    <li><a href="https://ced.ky.gov/WebFiles/CED_2022_10Reasons_Rackcard_v4.pdf" target="_blank">English Version
                    </a></li>
                    

            </div>
        </div>

                <div class="row">
            <div class="col-lg-2">
                <a href="https://ced.ky.gov/WebFiles/CED_Automotive_Guide_041723s.pdf" target="_blank">
                <img src="https://ced.ky.gov/WebFiles/CED_Automotive_Guide_041723s.png" />
                </a>
            </div>
            <div class="col-lg-10">
                
                    <h2 class="mt-5">CED Automotive Guide</h2>
                    <li><a href="https://ced.ky.gov/WebFiles/CED_Automotive_Guide_041723s.pdf" target="_blank">English Version
                </a></li>
                                  
            </div>
        </div>


                <div class="row">
            <div class="col-lg-2">
                <a href="https://ced.ky.gov/WebFiles/CED_EV_Tri_Fold_2023.pdf" target="_blank">
                <img src="https://ced.ky.gov/WebFiles/CED_EV_Tri_Fold_2023.png" />
                </a>
            </div>
            <div class="col-lg-10">
                
                    <h2 class="mt-5">Electric Vehicle Trifold</h2>
                    <li><a href="https://ced.ky.gov/WebFiles/CED_EV_Tri_Fold_2023.pdf" target="_blank">English Version
                </a></li>
               

                
            </div>
        </div>

                <div class="row">
            <div class="col-lg-2">
                <a href="https://ced.ky.gov/WebFiles/CED_InvestingInKentucky_TriFold_17x11_04142023.pdf" target="_blank">
                <img src="https://ced.ky.gov/WebFiles/CED_InvestingInKentucky_TriFold_17x11_04142023.png" />
                </a>
            </div>
            <div class="col-lg-10">
                
                    <h2 class="mt-5">Investing in Kentucky Trifold</h2>
                    <li><a href="https://ced.ky.gov/WebFiles/CED_InvestingInKentucky_TriFold_17x11_04142023.pdf" target="_blank">English Version
                </a></li>
            </div>
        </div>


                <div class="row">
            <div class="col-lg-2">
                <a href="https://ced.ky.gov/WebFiles/Connex_1pager.pdf" target="_blank">
                <img src="https://ced.ky.gov/WebFiles/Connex_1pager.png" />
                </a>
            </div>
            <div class="col-lg-10">
                
                    <h2 class="mt-5">Connex Kentucky</h2>
                    <li><a href="https://ced.ky.gov/WebFiles/Connex_1pager.pdf" target="_blank">English Version
                </a></li>
            </div>
        </div> 



                <div class="row">
            <div class="col-lg-2">
                <a href="https://ced.ky.gov/WebFiles/KY Innovation_Gen_Overview_Rack_Card_P4x9.pdf" target="_blank">
                <img src="https://ced.ky.gov/WebFiles/KY Innovation_Gen_Overview_Rack_Card_P4x9.png" />
                </a>
            </div>
            <div class="col-lg-10">
                
                    <h2 class="mt-5">KY Innovation Overview</h2>
                    <li><a href="https://ced.ky.gov/WebFiles/KY Innovation_Gen_Overview_Rack_Card_P4x9.pdf" target="_blank">English Version
                </a></li>
            </div>
        </div>


                <div class="row">
            <div class="col-lg-2">
                <a href="https://ced.ky.gov/WebFiles/SUSA_Slide_Deck_Booklet_042023s.pdf" target="_blank">
                <img src="https://ced.ky.gov/WebFiles/SUSA_Slide_Deck_Booklet_042023s.png" />
                </a>
            </div>
            <div class="col-lg-10">
                
                    <h2 class="mt-5">Select USA Slide Deck</h2>
                    <li><a href="https://ced.ky.gov/WebFiles/SUSA_Slide_Deck_Booklet_042023s.pdf" target="_blank">English Version
                </a></li>
            </div>
        </div>


    </div>
</section>